Repository KelkooGroup/theGardener: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/backend.yml, .azure-pipelines/frontend.yml

.azure-pipelines/backend.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: CacheBeta@1
    inputs:
      key: sbt | $(Agent.OS) | project/build.properties
      path: /home/vsts/.sbt
    displayName: Sbt build cache
  - task: CacheBeta@1
    inputs:
      key: ivy2 | $(Agent.OS) | build.sbt | project/plugins.sbt
      path: /home/vsts/.ivy2
  ...

.azure-pipelines/frontend.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: NodeTool@0
    inputs:
      versionSpec: 10.x
    displayName: Install Node.js
  - task: CacheBeta@0
    inputs:
      key: npm | $(Agent.OS) | frontend/package-lock.json
      path: frontend/node_modules
    displayName: Cache npm
  ...

Update dependency @types/chai to v4.2.9
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update dependency @types/node to v12.12.27
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update angular monorepo to v9.0.1
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update angularcli monorepo
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update dependency io.cucumber:gherkin to v10
  build.sbt
Due: .azure-pipelines/backend.yml

Update cucumber-junit, ... to 5.3.0
  build.sbt
Due: .azure-pipelines/backend.yml

Update gherkin to 10.0.0
  build.sbt
Due: .azure-pipelines/backend.yml

Update dependency ngx-markdown to v9
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update dependency webdriver to v5.18.7
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update dependency @types/jasmine to v3.5.4
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Fixing OpenApi model display
  frontend/src/app/output/page-content/open-api-model/open-api-model.component.html
  frontend/src/app/output/page-content/open-api-model/open-api-model.component.scss
  frontend/src/app/output/page-content/open-api-model/open-api-model.component.ts
Due: .azure-pipelines/frontend.yml

Update dependency com.github.ghik:silencer-lib to v1.5.0
  build.sbt
Due: .azure-pipelines/backend.yml

Update dependency org.eclipse.jgit:org.eclipse.jgit to v5.6.1.202002131546-r
  build.sbt
Due: .azure-pipelines/backend.yml

Update silencer-lib, silencer-plugin to 1.5.0
  build.sbt
Due: .azure-pipelines/backend.yml

Fixing bug of automatic scroll UX stories done: - Step with table not properly display #471 - Better display of JSON #547 - Markdown table display #537
  frontend/angular.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/output/gherkin/gherkin-long-text/gherkin-long-text.component.html
  frontend/src/app/output/gherkin/gherkin-long-text/gherkin-long-text.component.spec.ts
  frontend/src/app/output/gherkin/gherkin-long-text/gherkin-long-text.component.ts
  frontend/src/app/output/gherkin/gherkin-step/gherkin-step.component.spec.ts
  frontend/src/app/output/gherkin/gherkin-table/gherkin-table.component.scss
  frontend/src/app/output/gherkin/gherkin.component.spec.ts
  frontend/src/app/output/page-content/open-api-model/open-api-model.component.scss
  frontend/src/app/output/page-content/page-content.component.scss
  frontend/src/app/output/page-content/page-content.component.spec.ts
  frontend/src/app/output/page-content/page-content.component.ts
Due: .azure-pipelines/frontend.yml

Fixing bug of automatic scroll UX stories done: - Step with table not properly display #471 - Better display of JSON #547 - Markdown table display #537
  frontend/src/app/output/gherkin/gherkin.component.spec.ts
  frontend/src/app/output/page-content/page-content.component.scss
Due: .azure-pipelines/frontend.yml

Fixing bug of automatic scroll (#553)
  frontend/angular.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/output/gherkin/gherkin-long-text/gherkin-long-text.component.html
  frontend/src/app/output/gherkin/gherkin-long-text/gherkin-long-text.component.spec.ts
  frontend/src/app/output/gherkin/gherkin-long-text/gherkin-long-text.component.ts
  frontend/src/app/output/gherkin/gherkin-step/gherkin-step.component.spec.ts
  frontend/src/app/output/gherkin/gherkin-table/gherkin-table.component.scss
  frontend/src/app/output/gherkin/gherkin.component.spec.ts
  frontend/src/app/output/page-content/open-api-model/open-api-model.component.scss
  frontend/src/app/output/page-content/page-content.component.scss
  frontend/src/app/output/page-content/page-content.component.spec.ts
  frontend/src/app/output/page-content/page-content.component.ts
Due: .azure-pipelines/frontend.yml

Update dependency @types/jasmine to v3.5.5
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update dependency @types/node to v12.12.28
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update angular monorepo to v9.0.2
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Pin dependency prismjs to 1.19.0
  frontend/package.json
Due: .azure-pipelines/frontend.yml

requested changes done
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/output/gherkin/gherkin-long-text/gherkin-long-text.component.html
  frontend/src/app/output/gherkin/gherkin-long-text/gherkin-long-text.component.scss
  frontend/src/app/output/gherkin/gherkin-long-text/gherkin-long-text.component.ts
  frontend/src/app/output/page-content/page-content.component.ts
Due: .azure-pipelines/frontend.yml

[ci-skip]prepare release theGardener-1.1.0
  pom.xml
Due: none

[ci-skip]prepare for next development iteration
  pom.xml
Due: none

requested changes done
  frontend/src/app/output/gherkin/gherkin-long-text/gherkin-long-text.component.html
  frontend/src/app/output/gherkin/gherkin-long-text/gherkin-long-text.component.scss
  frontend/src/app/output/gherkin/gherkin-long-text/gherkin-long-text.component.ts
  frontend/src/app/output/page-content/page-content.component.ts
Due: .azure-pipelines/frontend.yml

Update dependency @types/jasmine to v3.5.6
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update cucumber-junit, ... to 5.4.0
  build.sbt
Due: .azure-pipelines/backend.yml

Path conditions:
  .azure-pipelines/backend.yml: any of: .azure-pipelines/backend.yml, app, conf, local-conf, project, public, test, build.sbt, scalastyle-config.xml, sonar-project.properties, version.sbt
  .azure-pipelines/frontend.yml: any of: .azure-pipelines/frontend.yml, frontend
