Repository KelkooGroup/theGardener: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/backend.yml, .azure-pipelines/frontend.yml

.azure-pipelines/backend.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: CacheBeta@1
    inputs:
      key: sbt | $(Agent.OS) | project/build.properties
      path: /home/vsts/.sbt
    displayName: Sbt build cache
  - task: CacheBeta@1
    inputs:
      key: ivy2 | $(Agent.OS) | build.sbt | project/plugins.sbt
      path: /home/vsts/.ivy2
  ...

.azure-pipelines/frontend.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: NodeTool@0
    inputs:
      versionSpec: 10.x
    displayName: Install Node.js
  - task: CacheBeta@0
    inputs:
      key: npm | $(Agent.OS) | frontend/package-lock.json
      path: frontend/node_modules
    displayName: Cache npm
  ...

Update dependency eslint to v7.26.0
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update dependency core-js to v3.12.1
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update dependency net.ruippeixotog:scala-scraper to v2.2.1
  build.sbt
Due: .azure-pipelines/backend.yml

Update dependency eslint-plugin-jsdoc to v33.1.1
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update sbt to 1.5.2
  project/build.properties
Due: .azure-pipelines/backend.yml

Update dependency eslint-plugin-jsdoc to v33.2.0
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update dependency eslint-plugin-jsdoc to v33.3.0
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update typescript-eslint monorepo to v4.23.0
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update dependency webpack to v5
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update dependency mysql:mysql-connector-java to v8.0.25
  build.sbt
Due: .azure-pipelines/backend.yml

Update dependency @types/jasmine to v3.7.2
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

push markdown
  app/services/ConfluenceService.scala
  app/services/clients/ConfluenceClient.scala
  local-conf/application.conf
  test/services/ConfluenceServiceTest.scala
  test/services/clients/ConfluenceClientTest.scala
Due: .azure-pipelines/backend.yml

Update IncludeLatex.md
  documentation/Write/IncludeLatex.md
Due: none

Update dependency eslint-plugin-jsdoc to v34
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update dependency @types/lodash to v4.14.169
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update angular-eslint monorepo to v4.2.1
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update angular-eslint monorepo to v4.3.0
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update dependency sass to v1.32.13
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update dependency @types/node to v12.20.13
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update dependency org.julienrf:play-json-derived-codecs to v10
  build.sbt
Due: .azure-pipelines/backend.yml

Update play-json-derived-codecs to 10.0.0
  build.sbt
Due: .azure-pipelines/backend.yml

Update node version
  .github/workflows/frontend.yml
Due: none

Update angular monorepo to v11.2.14
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update package-lock.json
  frontend/package-lock.json
Due: .azure-pipelines/frontend.yml

Update to Angular 12
  frontend/angular.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/polyfills.ts
  frontend/src/test.ts
Due: .azure-pipelines/frontend.yml

Enable production builds by default
  .github/workflows/frontend.yml
  frontend/angular.json
Due: .azure-pipelines/frontend.yml

Update Angular Material to version 12
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/output/navigate/navigate-menu/navigate-menu.component.scss
  frontend/src/styles.scss
Due: .azure-pipelines/frontend.yml

Path conditions:
  .azure-pipelines/backend.yml: any of: .azure-pipelines/backend.yml, app, conf, local-conf, project, public, test, build.sbt, scalastyle-config.xml, sonar-project.properties, version.sbt
  .azure-pipelines/frontend.yml: any of: .azure-pipelines/frontend.yml, frontend
