Repository KelkooGroup/theGardener: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/backend.yml, .azure-pipelines/frontend.yml

.azure-pipelines/backend.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - script: 'ls -la /home/vsts/.sbt/
  
      ls -la .sbt
  
      ls -la .ivy2
  
      ls -la project/target
  
      ls -la /opt/sonarscanner
  
      ls -la target/test-reports
  
      ls -la target/scalastyle-result.xml
  
  ...

.azure-pipelines/frontend.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: NodeTool@0
    inputs:
      versionSpec: 10.x
    displayName: Install Node.js
  - script: 'npm install -g @angular/cli
  
      npm install
  
      cd ./node_modules/protractor && npm i webdriver-manager@latest && cd ../..
  
      npm run pree2e
  
      '
  ...

add blue color
  frontend/src/stylesheets/_colors.scss
  frontend/src/stylesheets/_kelkoo-colors_blue.scss
  frontend/src/stylesheets/_kelkoo-colors_orange.scss
Due: .azure-pipelines/frontend.yml

operate documentation
  documentation/assets/images/theGardener_architecture.png
  documentation/assets/images/theGardener_project_roles.png
  documentation/assets/images/theGardener_role_ops_operate.png
  documentation/guides/configure.md
  documentation/guides/operate.md
Due: .azure-pipelines/backend.yml

[ci-skip]prepare release theGardener-0.6.3
  pom.xml
Due: .azure-pipelines/backend.yml

[ci-skip]prepare for next development iteration
  pom.xml
Due: .azure-pipelines/backend.yml

color theGardener
  frontend/src/stylesheets/_colors.scss
Due: .azure-pipelines/frontend.yml

[ci-skip]prepare release theGardener-0.6.4
  pom.xml
Due: .azure-pipelines/backend.yml

color blue
  frontend/src/stylesheets/_colors.scss
Due: .azure-pipelines/frontend.yml

[ci-skip]prepare release theGardener-0.6.5
  pom.xml
Due: .azure-pipelines/backend.yml

color green
  frontend/src/stylesheets/_kelkoo-colors_broun.scss
  frontend/src/stylesheets/_kelkoo-colors_green.scss
Due: .azure-pipelines/frontend.yml

move global assets
  documentation/global/assets/banner.png
  documentation/global/assets/development_workflow.png
  documentation/global/description.md
  documentation/theTeaser.md
Due: .azure-pipelines/backend.yml

add title
  documentation/context/goal.md
  documentation/context/thegardener.json
  documentation/global/description.md
Due: .azure-pipelines/backend.yml

move global assets
  documentation/api/thegardener.json
  documentation/api/tryit.md
  documentation/context/goal.md
  documentation/context/thegardener.json
  documentation/global/assets/banner.png
  documentation/global/assets/development_workflow.png
  documentation/global/description.md
  documentation/theTeaser.md
  documentation/thegardener.json
Due: .azure-pipelines/backend.yml

include adoption documentation
  README.md
  documentation/global/README.md
  documentation/global/adoption/adoption.md
  documentation/global/adoption/thegardener.json
  documentation/global/assets/images/adoption/theGardener_used_by_kelkoogroup_for_internal_documentation.png
  documentation/global/assets/images/adoption/theGardener_used_by_kelkoogroup_for_public_documentation.png
  documentation/global/assets/images/adoption/theGardener_used_by_theGardener.png
  documentation/global/assets/images/banner.png
  documentation/global/assets/images/development_workflow.png
  documentation/global/documentation/description.md
  documentation/global/documentation/thegardener.json
  documentation/theRoots.md
  documentation/theTeaser.md
  public/swagger-ui/swagger-ui-bundle.js
  public/swagger-ui/swagger-ui.js
Due: .azure-pipelines/backend.yml

add pipe removeHtmlSanitizer and fix bugs
  documentation/features/navigation.md
  frontend/src/app/_components/page/header/header.component.ts
  frontend/src/app/_services/menu.service.ts
  frontend/src/app/app.module.ts
  frontend/src/app/internal-link.pipe.ts
  frontend/src/app/output/page-content/page-content.component.html
  frontend/src/app/output/page-content/page-content.component.ts
  frontend/src/app/removehtmlsanitizer.pipe.spec.ts
  frontend/src/app/removehtmlsanitizer.pipe.ts
Due: .azure-pipelines/backend.yml, .azure-pipelines/frontend.yml

Fix chrome version to 77
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Try to fix travis build
  .travis.yml
Due: .azure-pipelines/backend.yml

Try to fix frontend build
  .azure-pipelines/frontend.yml
  .travis.yml
Due: .azure-pipelines/backend.yml, .azure-pipelines/frontend.yml

correction des tests
  .azure-pipelines/frontend.yml
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/_services/menu.service.ts
  frontend/src/app/internal-link.pipe.spec.ts
  frontend/src/app/output/page-content/page-content.component.spec.ts
Due: .azure-pipelines/frontend.yml

fix pull request problems
  .azure-pipelines/frontend.yml
  frontend/src/app/internal-link.pipe.spec.ts
  frontend/src/app/internal-link.pipe.ts
  frontend/src/app/output/page-content/page-content.component.spec.ts
Due: .azure-pipelines/frontend.yml

Update dependency core-js to v3.3.6
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

add refreshFromDatabase operation
  app/controllers/AdminController.scala
  app/services/ProjectService.scala
  conf/routes
  documentation/global/documentation/description.md
  documentation/issues/mocks/openapi_get_endpoint.png
  documentation/issues/mocks/openapi_mocks.ods
  test/features/administration/operation.feature
  test/steps/SynchronizationSteps.scala
Due: .azure-pipelines/backend.yml

Replace page in the cache
  app/controllers/AdminController.scala
  app/services/PageService.scala
  app/services/ProjectService.scala
  app/services/ReplicaService.scala
  documentation/issues/mocks/openapi_get_endpoint.png
  documentation/issues/mocks/openapi_mocks.ods
  test/features/administration/operation.feature
  test/features/documentation/gherkin/filter_scenarios.feature
  test/features/synchronization/synchronize_another_instance.feature
Due: .azure-pipelines/backend.yml

discable syncho on local conf
  local-conf/application.dev.conf
Due: .azure-pipelines/backend.yml

replace page in the cache
  app/controllers/AdminController.scala
  app/services/PageService.scala
  app/services/ProjectService.scala
  app/services/ReplicaService.scala
  test/features/administration/operation.feature
  test/features/documentation/gherkin/filter_scenarios.feature
  test/features/synchronization/synchronize_another_instance.feature
Due: .azure-pipelines/backend.yml

add documentation on links
  documentation/features/administration.md
  documentation/features/documentation.md
  documentation/features/navigation.md
  documentation/features/synchronization.md
  documentation/features/thegardener.json
  documentation/guides/write.md
Due: .azure-pipelines/backend.yml

replace page in the cache
  app/controllers/AdminController.scala
  app/services/PageService.scala
  app/services/ProjectService.scala
  app/services/ReplicaService.scala
  documentation/features/administration.md
  documentation/features/documentation.md
  documentation/features/navigation.md
  documentation/features/synchronization.md
  documentation/features/thegardener.json
  documentation/global/documentation/description.md
  test/features/administration/operation.feature
  test/features/documentation/gherkin/filter_scenarios.feature
  test/features/synchronization/synchronize_another_instance.feature
Due: .azure-pipelines/backend.yml

add documentation on links
  documentation/assets/images/theGardener_role_writer_make_internal_link_01.png
  documentation/assets/images/theGardener_role_writer_make_internal_link_02.png
  documentation/global/documentation/description.md
  documentation/guides/write.md
Due: .azure-pipelines/backend.yml

color orange
  frontend/src/stylesheets/_colors.scss
Due: .azure-pipelines/frontend.yml

[ci-skip]prepare release theGardener-0.7.0
  pom.xml
Due: .azure-pipelines/backend.yml

Update angularcli monorepo
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update dependency @types/lodash to v4.14.145
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update angular monorepo to v8.2.13
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Path conditions:
  .azure-pipelines/backend.yml: any file but: frontend, .azure-pipelines/frontend.yml, doc
  .azure-pipelines/frontend.yml: any of: frontend, .azure-pipelines/frontend.yml
