Repository KelkooGroup/theGardener: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/backend.yml, .azure-pipelines/frontend.yml

.azure-pipelines/backend.yml:

pool:
  vmImage: 'ubuntu-latest'

trigger:
  branches:
    include:
    - '*'
  paths:
    exclude:
    - frontend/*
    - .azure-pipelines/frontend.yml
    - doc/*
pr: none

steps:
- script: |
    echo "deb https://dl.bintray.com/sbt/debian /" | sudo tee -a /etc/apt/sources.list.d/sbt.list
    sudo apt-key adv --keyserver hkp://keyserver.ubuntu.com:80 --recv 2EE0EA64E40A89B84B2DF73499E82A75642AC823
    sudo apt-get update
    sudo apt-get install sbt
    sbt sbtVersion
  displayName: 'install sbt'

- script: sbt clean coverage test coverageReport scalastyle scapegoat
  displayName: 'sbt test'

- script: sbt dist
  displayName: 'sbt dist'

- script: |
    sudo mkdir /opt/sonarscanner
    cd /opt/sonarscanner
    [ ! -f sonar-scanner-cli-4.0.0.1744-linux ] && sudo wget https://binaries.sonarsource.com/Distribution/sonar-scanner-cli/sonar-scanner-cli-4.0.0.1744-linux.zip
    [ ! -f sonar-scanner-cli-4.0.0.1744-linux ] sudo unzip sonar-scanner-cli-4.0.0.1744-linux.zip
    [ ! -f sonar-scanner-cli-4.0.0.1744-linux ] sudo rm sonar-scanner-cli-4.0.0.1744-linux.zip
    [ ! -f sonar-scanner-cli-4.0.0.1744-linux ] sudo nano sonar-scanner-cli-4.0.0.1744-linux/conf/sonar-scanner.properties
    sudo chmod +x sonar-scanner-4.0.0.1744-linux/bin/sonar-scanner
    sudo ln -s /opt/sonarscanner/sonar-scanner-4.0.0.1744-linux/bin/sonar-scanner /usr/local/bin/sonar-scanner
  displayName: 'install sonar-scanner'

- script: |
    sonar-scanner -Dsonar.host.url=https://sonarcloud.io -Dsonar.organization=kelkoo -Dsonar.login=6c199a8887e5909a63eb3d6ffcd70c1ca33d6757
  displayName: 'sonar-scanner'

- publish: /home/vsts/.ivy2
  artifact: ivy2

- publish: /home/vsts/.sbt
  artifact: sbt

- publish: /opt/sonarscanner
  artifact: sonar-scanner

.azure-pipelines/frontend.yml:

pool:
    vmImage: 'ubuntu-latest'

  trigger:
    branches:
      include:
      - '*'
    paths:
      include:
      - frontend/*

  steps:
  - task: NodeTool@0
    inputs:
      versionSpec: '10.x'
    displayName: 'Install Node.js'

  - script: |
      apt-get autoremove google-chrome-stable
      cd frontend
      npm install -g @angular/cli
      npm install
    displayName: 'npm install'

  - script: |
      cd frontend
      export DISPLAY=:10
      sudo /usr/bin/Xvfb :10 -ac>>/tmp/Xvfb.out 2>&1 &
      ./node_modules/tslint/bin/tslint -t json -o report.json --project . --force
      ng test --watch=false --progress=false --code-coverage
      ng e2e
    displayName: 'npm test'

  - script:  |
      cd frontend
      ng build --no-progress --prod --outputPath ../public/dist
    displayName: 'ng build --prod'

  - script: |
      sudo mkdir /opt/sonarscanner
      cd /opt/sonarscanner
      sudo wget https://binaries.sonarsource.com/Distribution/sonar-scanner-cli/sonar-scanner-cli-4.0.0.1744-linux.zip
      sudo unzip sonar-scanner-cli-4.0.0.1744-linux.zip
      sudo rm sonar-scanner-cli-4.0.0.1744-linux.zip
      sudo nano sonar-scanner-cli-4.0.0.1744-linux/conf/sonar-scanner.properties
      sudo chmod +x sonar-scanner-4.0.0.1744-linux/bin/sonar-scanner
      sudo ln -s /opt/sonarscanner/sonar-scanner-4.0.0.1744-linux/bin/sonar-scanner /usr/local/bin/sonar-scanner
    displayName: 'install sonar-scanner'

  - script: |
      sonar-scanner -Dsonar.host.url=https://sonarcloud.io -Dsonar.organization=kelkoo -Dsonar.login=6c199a8887e5909a63eb3d6ffcd70c1ca33d6757
    displayName: 'sonar-scanner'

split frontend and backend
  .azure-pipelines/backend.yml
  .azure-pipelines/frontend.yml
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/backend.yml, .azure-pipelines/frontend.yml

split frontend and backend
  frontend/package.json
Due: .azure-pipelines/frontend.yml

split frontend and backend
  .azure-pipelines/frontend.yml
  frontend/package.json
Due: .azure-pipelines/frontend.yml

split frontend and backend
  .azure-pipelines/frontend.yml
Due: none

split frontend and backend
  .azure-pipelines/backend.yml
  .azure-pipelines/frontend.yml
  frontend/package-lock.json
Due: .azure-pipelines/backend.yml, .azure-pipelines/frontend.yml

split frontend and backend
  .azure-pipelines/backend.yml
  frontend/e2e/protractor.conf.js
  frontend/package.json
Due: .azure-pipelines/backend.yml, .azure-pipelines/frontend.yml

split frontend and backend
  .azure-pipelines/backend.yml
Due: .azure-pipelines/backend.yml

split frontend and backend
  .azure-pipelines/backend.yml
  .azure-pipelines/frontend.yml
  frontend/package.json
Due: .azure-pipelines/backend.yml, .azure-pipelines/frontend.yml

split frontend and backend
  .azure-pipelines/backend.yml
  .azure-pipelines/frontend.yml
Due: .azure-pipelines/backend.yml

split frontend and backend
  .azure-pipelines/frontend.yml
  frontend/sonar-project.properties
Due: .azure-pipelines/frontend.yml

split frontend and backend
  frontend/sonar-project.properties
Due: .azure-pipelines/frontend.yml

split frontend and backend
  .azure-pipelines/frontend.yml
  frontend/sonar-project.properties
  sonar-project.properties
Due: .azure-pipelines/backend.yml, .azure-pipelines/frontend.yml

split frontend and backend
  .azure-pipelines/backend.yml
  .azure-pipelines/frontend.yml
  build.sbt
Due: .azure-pipelines/backend.yml

split frontend and backend
  .azure-pipelines/backend.yml
  frontend/report.json
Due: .azure-pipelines/backend.yml, .azure-pipelines/frontend.yml

Update angular monorepo to v8.2.2
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update dependency typescript to v3.5.3
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update dependency core-js to v3
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update dependency karma-chrome-launcher to v3.1.0
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update dependency webpack to v4.39.2
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update dependency zone.js to v0.10.2
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Add the directories and pages in the menu endpoint
  .gitignore
  app/controllers/ProjectController.scala
  app/controllers/dto/MenuDTO.scala
  app/models/Branch.scala
  app/models/Directory.scala
  app/models/Page.scala
  app/repository/PageRepository.scala
  app/services/MenuService.scala
  app/services/PageService.scala
  local-conf/logback.xml
  test/actual.json
  test/expected.json
  test/features/navigation/provide_menu.feature
  test/repository/PageRepositoryTest.scala
  test/services/MenuServiceTest.scala
  test/services/ProjectServiceTest.scala
  test/steps/CommonSteps.scala
  test/steps/RegisterProjectSteps.scala
  test/steps/StoreDirectoryAndPagesSteps.scala
Due: .azure-pipelines/backend.yml
