Repository KelkooGroup/theGardener: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/backend.yml, .azure-pipelines/frontend.yml

Path conditions:
  .azure-pipelines/backend.yml: any of: .azure-pipelines/backend.yml, app, conf, local-conf, project, public, test, build.sbt, scalastyle-config.xml, sonar-project.properties, version.sbt
  .azure-pipelines/frontend.yml: any of: .azure-pipelines/frontend.yml, frontend

Update play to 2.8.8 and replace swagger-play2 module by sbt-swagger-play bt plugin
  app/services/ProjectService.scala
  build.sbt
  conf/routes
  local-conf/application.conf
  project/plugins.sbt
Due: .azure-pipelines/backend.yml

Update scala version to 2.13.5
  .github/workflows/backend.yml
  app/controllers/AdminController.scala
  app/controllers/Application.scala
  app/controllers/PageController.scala
  app/models/HierarchyNode.scala
  app/models/Project.scala
  app/repositories/FeatureRepository.scala
  app/repositories/GherkinRepository.scala
  app/services/FeatureService.scala
  app/services/GitService.scala
  app/services/MenuService.scala
  app/services/PageService.scala
  app/services/SearchService.scala
  app/services/clients/OpenApiClient.scala
  app/services/clients/ReplicaClient.scala
  app/utils/DurationUtil.scala
  build.sbt
  project/plugins.sbt
  sonar-project.properties
  test/features/administration/operation.feature
  test/features/documentation/page/show_a_page_with_scenarios.feature
  test/features/search/search_pages.feature
  test/repositories/FeatureRepositoryTest.scala
  test/repositories/GherkinRepositoryTest.scala
  test/services/SearchServiceTest.scala
  test/services/clients/OpenApiClientTest.scala
  test/steps/CommonSteps.scala
  test/steps/GetFeaturesSteps.scala
  test/steps/RegisterProjectSteps.scala
  test/steps/StoreDirectoryAndPagesSteps.scala
  test/steps/SynchronizationSteps.scala
  test/utils/CustomConfigSystemReader.scala
Due: .azure-pipelines/backend.yml

Fix test
  local-conf/logback.xml
  test/features/documentation/page/show_a_page_with_complex_markdown.feature
Due: .azure-pipelines/backend.yml

Fix test
  .github/workflows/backend.yml
Due: none

Avoid duplicated scenario names
  test/features/administration/hierarchy/link_projects_to_hierarchy.feature
  test/features/administration/projects/register_a_project.feature
  test/features/documentation/page/show_a_page.feature
  test/features/documentation/page/show_a_page_without_branch_name_in_path.feature
  test/features/navigation/provide_menu.feature
Due: .azure-pipelines/backend.yml

search page
  app/services/HierarchyService.scala
  app/services/SearchService.scala
  frontend/package-lock.json
  frontend/src/app/_components/page/header/header.component.ts
  frontend/src/app/_services/route.service.spec.ts
  frontend/src/app/_services/route.service.ts
  frontend/src/app/app.module.ts
  frontend/src/app/output/search/search-page/search-page.component.ts
  frontend/src/app/output/search/search-result-item/search-result-item.component.html
  frontend/src/app/output/search/search-result-item/search-result-item.component.ts
  frontend/src/app/output/search/search-results/search-results.component.html
  test/features/search/search_through_name_pages.feature
  test/services/SearchServiceTest.scala
Due: .azure-pipelines/backend.yml, .azure-pipelines/frontend.yml

Update angular monorepo
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update angularcli monorepo
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update dependency com.outr:lucene4s to v1.11.0
  build.sbt
Due: .azure-pipelines/backend.yml

search page
  app/services/SearchService.scala
  frontend/package-lock.json
  frontend/src/app/_components/page/header/header.component.ts
  frontend/src/app/_services/route.service.spec.ts
  frontend/src/app/_services/route.service.ts
  frontend/src/app/app.module.ts
  frontend/src/app/output/search/search-page/search-page.component.ts
  frontend/src/app/output/search/search-result-item/search-result-item.component.html
  frontend/src/app/output/search/search-result-item/search-result-item.component.ts
  frontend/src/app/output/search/search-results/search-results.component.html
Due: .azure-pipelines/backend.yml, .azure-pipelines/frontend.yml

Update dependency typescript to v3.9.9
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

same output for md table and scenario
  frontend/package-lock.json
  frontend/src/app/output/gherkin/gherkin-table/gherkin-table.component.html
  frontend/src/app/output/gherkin/gherkin-table/gherkin-table.component.scss
Due: .azure-pipelines/frontend.yml

same output for md table and scenario
  frontend/src/app/output/gherkin/gherkin-table/gherkin-table.component.scss
  frontend/src/app/output/page-content/page-content.component.scss
Due: .azure-pipelines/frontend.yml

same output for md table and scenario
  frontend/src/app/output/gherkin/gherkin-long-text/gherkin-long-text.component.scss
  frontend/src/app/output/gherkin/gherkin-table/gherkin-table.component.scss
  frontend/src/app/output/page-content/page-content.component.scss
Due: .azure-pipelines/frontend.yml

apply mkdown format on steps tables
  frontend/package-lock.json
  frontend/src/app/output/gherkin/gherkin-table/gherkin-table.component.html
Due: .azure-pipelines/frontend.yml

apply mkdown format on steps tables
  frontend/src/app/output/gherkin/gherkin-step/gherkin-step.component.spec.ts
  frontend/src/app/output/gherkin/gherkin-table/gherkin-table.component.html
  frontend/src/app/output/gherkin/gherkin-table/gherkin-table.component.spec.ts
  frontend/src/app/output/gherkin/gherkin.component.spec.ts
Due: .azure-pipelines/frontend.yml

better position for tables
  frontend/package-lock.json
  frontend/src/app/output/gherkin/gherkin-long-text/gherkin-long-text.component.scss
  frontend/src/app/output/gherkin/gherkin-table/gherkin-table.component.scss
  frontend/src/app/output/page-content/page-content.component.scss
Due: .azure-pipelines/frontend.yml

Update jackson-module-scala to 2.12.3
  build.sbt
Due: .azure-pipelines/backend.yml

Update gherkin to 18.1.1
  build.sbt
Due: .azure-pipelines/backend.yml

Update mysql-connector-java to 8.0.24
  build.sbt
Due: .azure-pipelines/backend.yml

Update logstash-logback-encoder to 6.6
  build.sbt
Due: .azure-pipelines/backend.yml

Update org.eclipse.jgit to 5.11.0.202103091610-r
  build.sbt
Due: .azure-pipelines/backend.yml

Update play-json-derived-codecs to 9.0.0
  build.sbt
Due: .azure-pipelines/backend.yml

Resynchro with Gilab master
  .sbtopts
  app/services/HierarchyService.scala
  documentation/Contribute/SearchDevelop.md
  documentation/Contribute/thegardener.json
  test/repositories/FeatureRepositoryTest.scala
  test/repositories/GherkinRepositoryTest.scala
Due: .azure-pipelines/backend.yml

Polish
  .sbtopts
  frontend/package-lock.json
Due: .azure-pipelines/frontend.yml

Fix github action trigger
  .github/workflows/backend.yml
  .github/workflows/frontend.yml
Due: none

update mysql version to 8.0.24
  build.sbt
Due: .azure-pipelines/backend.yml

Update jgit to 5.11.0.202103091610-r
  build.sbt
Due: .azure-pipelines/backend.yml

Remove Kelkoo specific packaging
  src/conf/application-prod.conf.erb
  src/conf/crontab
  src/conf/default_settings.properties
  src/conf/kkg_theGardener.sql
  src/conf/logback.xml.erb
  src/conf/logrotate
  src/conf/setenv.conf.erb
Due: none

Remove Kelkoo dev test config
  local-conf/.gitignore
  local-conf/application.dev.conf
Due: .azure-pipelines/backend.yml

Update .gitignore
  .gitignore
Due: none

Update actions/checkout action to v2
  .github/workflows/backend.yml
  .github/workflows/frontend.yml
Due: none

Update actions/setup-node action to v2
  .github/workflows/frontend.yml
Due: none

Update angular to 10
  frontend/.browserslistrc
  frontend/angular.json
  frontend/package-lock.json
  frontend/package.json
  frontend/tsconfig.json
  frontend/tslint.json
Due: .azure-pipelines/frontend.yml

Update Angular Material to version 10
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/_components/page/header/header.component.spec.ts
  frontend/src/app/_services/notification.service.ts
  frontend/src/app/app.module.ts
  frontend/src/app/output/gherkin/gherkin-long-text/gherkin-long-text.component.spec.ts
  frontend/src/app/output/gherkin/gherkin-step/gherkin-step.component.spec.ts
  frontend/src/app/output/gherkin/gherkin-table/gherkin-table.component.spec.ts
  frontend/src/app/output/gherkin/gherkin.component.spec.ts
  frontend/src/app/output/navigate/navigate-content/navigate-content.component.spec.ts
  frontend/src/app/output/navigate/navigate-menu/navigate-menu-item/navigate-menu-item.component.spec.ts
  frontend/src/app/output/navigate/navigate-menu/navigate-menu.component.spec.ts
  frontend/src/app/output/page-content/open-api-model/open-api-model.component.spec.ts
  frontend/src/app/output/page-content/page-content.component.spec.ts
Due: .azure-pipelines/frontend.yml

Update dependency rxjs to v6.6.7
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update dependency @types/jasmine to v3.6.10
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update dependency zone.js to v0.11.4
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Fix tests
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/_testUtils/test-data.spec.ts
Due: .azure-pipelines/frontend.yml

fix: frontend/package.json & frontend/package-lock.json to reduce vulnerabilities
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml
