Repository KelkooGroup/theGardener: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/backend.yml, .azure-pipelines/frontend.yml

.azure-pipelines/backend.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: CacheBeta@1
    inputs:
      key: sbt | $(Agent.OS) | project/build.properties
      path: /home/vsts/.sbt
    displayName: Sbt build cache
  - task: CacheBeta@1
    inputs:
      key: ivy2 | $(Agent.OS) | build.sbt | project/plugins.sbt
      path: /home/vsts/.ivy2
  ...

.azure-pipelines/frontend.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: NodeTool@0
    inputs:
      versionSpec: 10.x
    displayName: Install Node.js
  - task: CacheBeta@0
    inputs:
      key: npm | $(Agent.OS) | frontend/package-lock.json
      path: frontend/node_modules
    displayName: Cache npm
  ...

[ci-skip]prepare for next development iteration
  pom.xml
Due: none

Update dependency org.scalatestplus.play:scalatestplus-play_2.12 to v5
  build.sbt
Due: .azure-pipelines/backend.yml

add logger infos for test
  app/services/clients/OpenApiClient.scala
  frontend/package-lock.json
Due: .azure-pipelines/backend.yml, .azure-pipelines/frontend.yml

Update scalatestplus-play to 5.1.0
  build.sbt
Due: .azure-pipelines/backend.yml

docker install
  build.sbt
  docker/install.sh
  documentation/Admin/Configure.md
  documentation/Admin/Install.md
  documentation/Changelog.md
  documentation/Contribute/BuildDockerImage.md
  documentation/Write/Improve.md
  documentation/Write/IncludeOpenApi.md
  frontend/package-lock.json
  version.sbt
Due: .azure-pipelines/backend.yml, .azure-pipelines/frontend.yml

more details in the installation
  docker/application.conf
  documentation/Admin/Install.md
Due: none

more details in the installation
  docker/install.sh
  documentation/Admin/Install.md
Due: none

Update cucumber-scala to 5.7.0
  build.sbt
Due: .azure-pipelines/backend.yml

add sourcePath in the installation
  docker/install.sh
  documentation/global/documentation/LetsGetStarted.md
Due: none

Update IncludeOpenApi.md
  documentation/Write/IncludeOpenApi.md
Due: none

Operate target is defined by the variables
  documentation/Admin/Operate.md
Due: none

update colors in diagrams
  documentation/assets/images/theGardener_architecture.png
  documentation/assets/images/theGardener_project_roles.png
  documentation/assets/images/theGardener_role_contributor.png
  documentation/assets/images/theGardener_role_ops.png
  documentation/assets/images/theGardener_role_ops_operate.png
  documentation/assets/images/theGardener_role_writer.png
  documentation/assets/images/theGardener_sychronize.png
Due: none

Change colors in diagrams
  documentation/global/assets/images/development_workflow.png
  documentation/global/assets/images/theGardener_project_how_does_it_work.png
  documentation/global/assets/images/theGardener_project_roles_reader_writer.png
Due: none

Update filters-helpers, play-ahc-ws, ... to 2.7.5
  build.sbt
  project/plugins.sbt
Due: .azure-pipelines/backend.yml

Update dependency webdriver to v5.23.0
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

fix bug on try it out button
  app/controllers/OpenApiController.scala
  frontend/src/app/output/page-content/open-api-end-points/open-api-end-points.component.ts
Due: .azure-pipelines/backend.yml, .azure-pipelines/frontend.yml

fix bug on try it out button (#677)
  app/controllers/OpenApiController.scala
  frontend/src/app/output/page-content/open-api-end-points/open-api-end-points.component.ts
Due: .azure-pipelines/backend.yml, .azure-pipelines/frontend.yml

[ci-skip]prepare release theGardener-1.2.5
  pom.xml
Due: none

Update dependency com.typesafe.play:play-json_2.12 to v2.9.0
  build.sbt
Due: .azure-pipelines/backend.yml

Update play-json to 2.9.0
  build.sbt
Due: .azure-pipelines/backend.yml

Update commons-io to 2.7
  build.sbt
Due: .azure-pipelines/backend.yml

Update dependency ts-node to v8.10.2
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update sbt to 1.3.11
  project/build.properties
Due: .azure-pipelines/backend.yml

Update logstash-logback-encoder to 6.4
  build.sbt
Due: .azure-pipelines/backend.yml

Update sbt to 1.3.12
  project/build.properties
Due: .azure-pipelines/backend.yml

add searchDevelop and bdd scenarios merge master into it
  app/services/PageService.scala
  documentation/Contribute/SearchDevelop.md
  documentation/Contribute/thegardener.json
  test/features/search/search_through_name_pages.feature
Due: .azure-pipelines/backend.yml

Update dependency typescript to v3.9.5
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update dependency @types/lodash to v4.14.155
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update dependency karma-jasmine-html-reporter to v1.5.4
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update dependency less to v3.11.3
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update cucumber-junit, ... to 6.0.0
  build.sbt
Due: .azure-pipelines/backend.yml

Update dependency swagger-ui-dist to v3.25.5
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update cucumber-scala to 6.0.0
  build.sbt
Due: .azure-pipelines/backend.yml

Update cucumber-junit, ... to 6.1.0
  build.sbt
Due: .azure-pipelines/backend.yml

Update cucumber-junit, ... to 6.1.1
  build.sbt
Due: .azure-pipelines/backend.yml

Path conditions:
  .azure-pipelines/backend.yml: any of: .azure-pipelines/backend.yml, app, conf, local-conf, project, public, test, build.sbt, scalastyle-config.xml, sonar-project.properties, version.sbt
  .azure-pipelines/frontend.yml: any of: .azure-pipelines/frontend.yml, frontend
