Repository KelkooGroup/theGardener: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/backend.yml, .azure-pipelines/frontend.yml

.azure-pipelines/backend.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: CacheBeta@1
    inputs:
      key: sbt | $(Agent.OS) | project/build.properties
      path: /home/vsts/.sbt
    displayName: Sbt build cache
  - task: CacheBeta@1
    inputs:
      key: ivy2 | $(Agent.OS) | build.sbt | project/plugins.sbt
      path: /home/vsts/.ivy2
  ...

.azure-pipelines/frontend.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: NodeTool@0
    inputs:
      versionSpec: 10.x
    displayName: Install Node.js
  - task: CacheBeta@0
    inputs:
      key: npm | $(Agent.OS) | frontend/package-lock.json
      path: frontend/node_modules
    displayName: Cache npm
  ...

Update dependency prismjs to v1.21.0
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update gherkin to 15.0.0
  build.sbt
Due: .azure-pipelines/backend.yml

fix: frontend/package.json & frontend/package-lock.json to reduce vulnerabilities
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update gherkin to 15.0.1
  build.sbt
Due: .azure-pipelines/backend.yml

Update cucumber-junit, ... to 6.5.0
  build.sbt
Due: .azure-pipelines/backend.yml

Update cucumber-scala to 6.4.0
  build.sbt
Due: .azure-pipelines/backend.yml

Update gherkin to 15.0.2
  build.sbt
Due: .azure-pipelines/backend.yml

Update cucumber-junit, ... to 6.5.1
  build.sbt
Due: .azure-pipelines/backend.yml

Update cucumber-junit, ... to 6.6.0
  build.sbt
Due: .azure-pipelines/backend.yml

remove code linked to kelkoo
  app/controllers/Application.scala
  app/filters/Filters.scala
  build.sbt
  conf/data/clean_existing_data.sql
  conf/data/reset_instance.md
  conf/data/settings_database_dev.sql
  conf/data/settings_database_eng.sql
  conf/data/settings_database_partners.sql
  conf/data/settings_database_pp.sql
  conf/routes
  frontend/package-lock.json
  pom.xml
Due: .azure-pipelines/backend.yml, .azure-pipelines/frontend.yml

search page
  app/controllers/PageController.scala
  app/repositories/HierarchyRepository.scala
  app/services/HierarchyService.scala
  app/services/PageService.scala
  app/services/SearchService.scala
  conf/routes
  documentation/Changelog.md
  frontend/package-lock.json
  frontend/src/app/_components/page/header/header.component.html
  frontend/src/app/_components/page/header/header.component.scss
  frontend/src/app/_components/page/header/header.component.spec.ts
  frontend/src/app/_components/page/header/header.component.ts
  frontend/src/app/_models/page.ts
  frontend/src/app/_models/search.ts
  frontend/src/app/_services/page.service.spec.ts
  frontend/src/app/_services/page.service.ts
  frontend/src/app/_services/route.service.spec.ts
  frontend/src/app/_services/route.service.ts
  frontend/src/app/_testUtils/test-data.spec.ts
  frontend/src/app/app-routing.module.ts
  frontend/src/app/app.module.ts
  frontend/src/app/output/search/search-page/search-page.component.html
  frontend/src/app/output/search/search-page/search-page.component.scss
  frontend/src/app/output/search/search-page/search-page.component.ts
  frontend/src/app/output/search/search-query/search-query.component.html
  frontend/src/app/output/search/search-query/search-query.component.scss
  frontend/src/app/output/search/search-query/search-query.component.ts
  frontend/src/app/output/search/search-result-item/search-result-item.component.html
  frontend/src/app/output/search/search-result-item/search-result-item.component.scss
  frontend/src/app/output/search/search-result-item/search-result-item.component.ts
  frontend/src/app/output/search/search-results/search-results.component.html
  frontend/src/app/output/search/search-results/search-results.component.scss
  frontend/src/app/output/search/search-results/search-results.component.ts
  local-conf/application.dev.conf
  test/OnGoingBDDTest.scala
  test/features/navigation/provide_menu.feature
  test/features/search/search_pages.feature
  test/features/search/search_through_name_pages.feature
  test/services/SearchServiceTest.scala
  test/steps/CommonSteps.scala
Due: .azure-pipelines/backend.yml, .azure-pipelines/frontend.yml

Update dependency @types/chai to v4.2.12
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

[ci-skip]prepare release theGardener-1.4.0
  pom.xml
Due: none

[ci-skip]prepare for next development iteration
  pom.xml
Due: none

Update dependency com.github.ghik:silencer-lib to v1.7.1
  build.sbt
Due: .azure-pipelines/backend.yml

[ci-skip]prepare release theGardener-1.3.2
  pom.xml
Due: none

refactoring lucene
  app/services/PageService.scala
  app/services/SearchService.scala
  frontend/package-lock.json
  frontend/src/app/_components/page/header/header.component.ts
Due: .azure-pipelines/backend.yml, .azure-pipelines/frontend.yml

rollback refactoring lucene
  app/services/SearchService.scala
Due: .azure-pipelines/backend.yml

reset index every batch
  app/services/ProjectService.scala
  app/services/SearchService.scala
  local-conf/application.conf
Due: .azure-pipelines/backend.yml

reset index every batch
  frontend/package-lock.json
  test/services/ProjectServiceTest.scala
  test/steps/CommonSteps.scala
Due: .azure-pipelines/backend.yml, .azure-pipelines/frontend.yml

[ci-skip]prepare release theGardener-1.4.1
  pom.xml
Due: none

Update cucumber-junit, ... to 6.6.1
  build.sbt
Due: .azure-pipelines/backend.yml

Update cucumber-scala to 6.6.0
  build.sbt
Due: .azure-pipelines/backend.yml

Update dependency commons-io:commons-io to v2.8.0
  build.sbt
Due: .azure-pipelines/backend.yml

Update play-json to 2.9.1
  build.sbt
Due: .azure-pipelines/backend.yml

Update commons-io to 2.8.0
  build.sbt
Due: .azure-pipelines/backend.yml

Update org.eclipse.jgit to 5.9.0.202009080501-r
  build.sbt
Due: .azure-pipelines/backend.yml

fix relative links
  frontend/package-lock.json
  frontend/src/app/_services/route.service.spec.ts
  frontend/src/app/_services/route.service.ts
Due: .azure-pipelines/frontend.yml

Update cucumber-junit, ... to 6.7.0
  build.sbt
Due: .azure-pipelines/backend.yml

redirect brocken pages to search
  frontend/src/app/_services/route.service.spec.ts
  frontend/src/app/_services/route.service.ts
  frontend/src/app/output/page-content/page-content.component.ts
Due: .azure-pipelines/frontend.yml

[ci-skip]prepare release theGardener-1.4.2
  pom.xml
Due: none

1.4.2
  documentation/Changelog.md
  version.sbt
Due: .azure-pipelines/backend.yml

remove Search dev doc
  documentation/Contribute/SearchDevelop.md
  documentation/Contribute/thegardener.json
  frontend/package-lock.json
Due: .azure-pipelines/frontend.yml

Update dependency karma to v5
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Path conditions:
  .azure-pipelines/backend.yml: any of: .azure-pipelines/backend.yml, app, conf, local-conf, project, public, test, build.sbt, scalastyle-config.xml, sonar-project.properties, version.sbt
  .azure-pipelines/frontend.yml: any of: .azure-pipelines/frontend.yml, frontend
