Repository KelkooGroup/theGardener: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/backend.yml, .azure-pipelines/frontend.yml

.azure-pipelines/backend.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - script: 'ls -la /home/vsts/.sbt/
  
      ls -la .sbt
  
      ls -la .ivy2
  
      ls -la project/target
  
      ls -la /opt/sonarscanner
  
      ls -la target/test-reports
  
      ls -la target/scalastyle-result.xml
  
  ...

.azure-pipelines/frontend.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: NodeTool@0
    inputs:
      versionSpec: 10.x
    displayName: Install Node.js
  - script: 'npm install -g @angular/cli
  
      npm install
  
      cd ./node_modules/protractor && npm i webdriver-manager@latest && cd ../..
  
      npm run pree2e
  
      '
  ...

merge
  app/controllers/dto/MenuDTO.scala
  app/services/MenuService.scala
  app/services/ProjectService.scala
  build.sbt
  frontend/src/app/_components/page/header/header.component.html
  frontend/src/app/_components/page/header/header.component.ts
  frontend/src/app/_models/hierarchy.ts
  frontend/src/app/_models/menu.ts
  frontend/src/app/_services/menu.service.ts
  frontend/src/app/output/navigate/navigate-content/navigate-content.component.spec.ts
  frontend/src/app/output/navigate/navigate-menu/navigate-menu-item/navigate-menu-item.component.spec.ts
  frontend/src/app/output/navigate/navigate-menu/navigate-menu-item/navigate-menu-item.component.ts
  test/features/navigation/provide_menu.feature
Due: .azure-pipelines/backend.yml, .azure-pipelines/frontend.yml

merge
  conf/evolutions/default/1.sql
  conf/evolutions/default/2.sql
  documentation/guides/write.md
Due: .azure-pipelines/backend.yml

Fix routing in header
  frontend/src/app/_components/page/header/header.component.html
  frontend/src/app/_components/page/header/header.component.spec.ts
  frontend/src/app/_components/page/header/header.component.ts
  frontend/src/app/_testUtils/activated-route-stub.spec.ts
Due: .azure-pipelines/frontend.yml

Pages on node (#333)
  app/controllers/dto/MenuDTO.scala
  app/services/MenuService.scala
  app/services/ProjectService.scala
  build.sbt
  conf/evolutions/default/1.sql
  conf/evolutions/default/2.sql
  documentation/guides/write.md
  frontend/src/app/_components/page/header/header.component.html
  frontend/src/app/_components/page/header/header.component.spec.ts
  frontend/src/app/_components/page/header/header.component.ts
  frontend/src/app/_models/hierarchy.ts
  frontend/src/app/_models/menu.ts
  frontend/src/app/_services/menu.service.ts
  frontend/src/app/_testUtils/activated-route-stub.spec.ts
  frontend/src/app/output/navigate/navigate-content/navigate-content.component.spec.ts
  frontend/src/app/output/navigate/navigate-menu/navigate-menu-item/navigate-menu-item.component.spec.ts
  frontend/src/app/output/navigate/navigate-menu/navigate-menu-item/navigate-menu-item.component.ts
  test/features/navigation/provide_menu.feature
Due: .azure-pipelines/backend.yml, .azure-pipelines/frontend.yml

[ci-skip]prepare release theGardener-0.5.0
  pom.xml
Due: .azure-pipelines/backend.yml

[ci-skip]prepare for next development iteration
  pom.xml
Due: .azure-pipelines/backend.yml

move variable change to 2.sql
  frontend/package-lock.json
Due: .azure-pipelines/frontend.yml

[ci-skip]prepare release theGardener-0.5.1
  pom.xml
Due: .azure-pipelines/backend.yml

Update dependency @types/node to v12.11.2
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update dependency core-js to v3.3.3
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

avoid having 2 synchro at the same time
  app/services/ProjectService.scala
  conf/data/clean_existing_data.sql
  conf/data/reset_instance.md
  conf/data/settings_database_dev.sql
  conf/data/settings_database_eng.sql
  conf/data/settings_database_partners.sql
  conf/data/settings_database_pp.sql
Due: .azure-pipelines/backend.yml

[ci-skip]prepare release theGardener-0.5.2
  pom.xml
Due: .azure-pipelines/backend.yml

avoid having 2 synchro at the same time
  app/services/ProjectService.scala
Due: .azure-pipelines/backend.yml

avoid having 2 synchro, using a lock file
  app/services/ProjectService.scala
Due: .azure-pipelines/backend.yml

[ci-skip]prepare release theGardener-0.5.3
  pom.xml
Due: .azure-pipelines/backend.yml

fix sql
  conf/data/settings_database_eng.sql
  conf/data/settings_database_partners.sql
Due: .azure-pipelines/backend.yml

Update dependency codelyzer to v5.2.0
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

update data
  conf/data/settings_database_eng.sql
  conf/data/settings_database_partners.sql
Due: .azure-pipelines/backend.yml

clean some warning
  app/controllers/ProjectController.scala
  app/controllers/dto/PageDTO.scala
  app/repositories/DirectoryRepository.scala
  app/repositories/PageRepository.scala
  app/services/PageService.scala
  app/services/ReplicaService.scala
  test/services/PageServiceTest.scala
  test/steps/DefineHierarchySteps.scala
  test/steps/StoreDirectoryAndPagesSteps.scala
  test/steps/SynchronizationSteps.scala
Due: .azure-pipelines/backend.yml

prevent from having 2 synchro at the same time
  app/services/ProjectService.scala
Due: .azure-pipelines/backend.yml

operations features
  app/controllers/AdminController.scala
  app/controllers/ProjectController.scala
  app/services/FeatureService.scala
  app/services/ProjectService.scala
  conf/routes
  test/features/administration/operation.feature
  test/features/synchronization/store_computed_pages_in_cache.feature
  test/features/synchronization/synchronize_resources.feature
  test/steps/CommonSteps.scala
  test/steps/GetFeaturesSteps.scala
  test/steps/SynchronizationSteps.scala
Due: .azure-pipelines/backend.yml

add documentation
  documentation/guides/operate.md
  documentation/guides/thegardener.json
  test/features/administration/operation.feature
Due: .azure-pipelines/backend.yml

integration changes to report on master
  app/controllers/AdminController.scala
  app/controllers/ProjectController.scala
  app/controllers/dto/MessageDTO.scala
  app/repositories/BranchRepository.scala
  app/repositories/DirectoryRepository.scala
  app/services/ProjectService.scala
  conf/data/settings_database_dev.sql
  conf/routes
  documentation/guides/operate.md
  documentation/guides/write.md
  frontend/package-lock.json
  local-conf/application.conf
  src/conf/application-prod.conf.erb
  test/features/administration/operation.feature
Due: .azure-pipelines/backend.yml, .azure-pipelines/frontend.yml

create pipe to replace href by routerLink for internal link add internal link in doc for test
  documentation/features/navigation.md
  documentation/theRoots.md
  frontend/src/app/app.module.ts
  frontend/src/app/internal-link.pipe.spec.ts
  frontend/src/app/internal-link.pipe.ts
  frontend/src/app/output/page-content/page-content.component.html
  frontend/src/app/output/page-content/page-content.component.spec.ts
  frontend/src/app/output/page-content/page-content.component.ts
Due: .azure-pipelines/backend.yml, .azure-pipelines/frontend.yml

operations features
  app/controllers/AdminController.scala
  app/controllers/ProjectController.scala
  app/controllers/dto/MessageDTO.scala
  app/repositories/BranchRepository.scala
  app/repositories/DirectoryRepository.scala
  app/services/FeatureService.scala
  app/services/ProjectService.scala
  conf/routes
  documentation/guides/operate.md
  documentation/guides/thegardener.json
  documentation/guides/write.md
  frontend/src/app/_models/menu.ts
  frontend/src/app/_services/menu.service.ts
  local-conf/application.conf
  test/features/administration/operation.feature
  test/features/synchronization/store_computed_pages_in_cache.feature
  test/features/synchronization/synchronize_resources.feature
  test/steps/CommonSteps.scala
  test/steps/GetFeaturesSteps.scala
  test/steps/SynchronizationSteps.scala
Due: .azure-pipelines/backend.yml, .azure-pipelines/frontend.yml

Delete index.html~
  docs/index.html~
Due: .azure-pipelines/backend.yml

[ci-skip]prepare release theGardener-0.6.0
  pom.xml
Due: .azure-pipelines/backend.yml

theGardener colors
  frontend/src/stylesheets/_colors-thegardener.scss
Due: .azure-pipelines/frontend.yml

[ci-skip]prepare release theGardener-0.6.1
  pom.xml
Due: .azure-pipelines/backend.yml

refresh from database
  app/controllers/AdminController.scala
  app/services/ProjectService.scala
  conf/routes
  test/features/administration/operation.feature
  test/steps/SynchronizationSteps.scala
Due: .azure-pipelines/backend.yml

documentation to be reported
  documentation/assets/images/theGardener_architecture.png
  documentation/assets/images/theGardener_project_roles.png
  documentation/assets/images/theGardener_role_ops_operate.png
  documentation/guides/configure.md
  documentation/guides/operate.md
Due: .azure-pipelines/backend.yml

Path conditions:
  .azure-pipelines/backend.yml: any file but: frontend, .azure-pipelines/frontend.yml, doc
  .azure-pipelines/frontend.yml: any of: frontend, .azure-pipelines/frontend.yml
