Repository KelkooGroup/theGardener: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/backend.yml, .azure-pipelines/frontend.yml

.azure-pipelines/backend.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: CacheBeta@1
    inputs:
      key: sbt | $(Agent.OS) | project/build.properties
      path: /home/vsts/.sbt
    displayName: Sbt build cache
  - task: CacheBeta@1
    inputs:
      key: ivy2 | $(Agent.OS) | build.sbt | project/plugins.sbt
      path: /home/vsts/.ivy2
  ...

.azure-pipelines/frontend.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: NodeTool@0
    inputs:
      versionSpec: 10.x
    displayName: Install Node.js
  - task: CacheBeta@0
    inputs:
      key: npm | $(Agent.OS) | frontend/package-lock.json
      path: frontend/node_modules
    displayName: Cache npm
  ...

Update angular monorepo to v12.0.1
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update angularmaterial monorepo to v12.0.1
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update dependency swagger-ui-dist to v3.49.0
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update angularcli monorepo to v12.0.1
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Fix build for forks
  .github/workflows/backend.yml
  .github/workflows/frontend.yml
Due: none

Update dependency ch.epfl.scala:sbt-scalafix to v0.9.28
  project/plugins.sbt
Due: .azure-pipelines/backend.yml

Update sbt-scalafix to 0.9.28
  project/plugins.sbt
Due: .azure-pipelines/backend.yml

Update dependency protractor-cucumber-framework to v8.1.0
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update dependency sass to v1.33.0
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update dependency @types/lodash to v4.14.170
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update dependency @types/node to v14
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

update ignore
  .gitignore
Due: none

Update dependency eslint to v7.27.0
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update dependency sass to v1.34.0
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update dependency ngx-markdown to v12.0.1
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update dependency ts-node to v10
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

polish css
  .sbtopts
  frontend/src/app/_components/page/header/header.component.html
  frontend/src/app/_components/page/header/header.component.scss
  frontend/src/app/_components/page/header/header.component.ts
  frontend/src/app/output/navigate/navigate-menu/navigate-menu-item/navigate-menu-item.component.scss
  frontend/src/app/output/navigate/navigate-page.component.scss
  frontend/src/app/output/page-content/page-content.component.scss
  frontend/src/app/output/search/search-query/search-query.component.scss
  frontend/src/stylesheets/_backoffice.scss
Due: .azure-pipelines/frontend.yml

Feature/improved css (#952)
  .gitignore
  .sbtopts
  frontend/src/app/_components/page/header/header.component.html
  frontend/src/app/_components/page/header/header.component.scss
  frontend/src/app/_components/page/header/header.component.ts
  frontend/src/app/output/navigate/navigate-menu/navigate-menu-item/navigate-menu-item.component.scss
  frontend/src/app/output/navigate/navigate-page.component.scss
  frontend/src/app/output/page-content/page-content.component.scss
  frontend/src/app/output/search/search-query/search-query.component.scss
  frontend/src/stylesheets/_backoffice.scss
Due: .azure-pipelines/frontend.yml

Update typescript-eslint monorepo to v4.25.0
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update gherkin to 19.0.3
  build.sbt
Due: .azure-pipelines/backend.yml

Update dependency @types/node to v14.17.1
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update dependency core-js to v3.13.0
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update dependency commons-io:commons-io to v2.9.0
  build.sbt
Due: .azure-pipelines/backend.yml

Fix xml display
  frontend/src/app/output/page-content/page-content.component.html
Due: .azure-pipelines/frontend.yml

Update angular monorepo to v12.0.2
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Path conditions:
  .azure-pipelines/backend.yml: any of: .azure-pipelines/backend.yml, app, conf, local-conf, project, public, test, build.sbt, scalastyle-config.xml, sonar-project.properties, version.sbt
  .azure-pipelines/frontend.yml: any of: .azure-pipelines/frontend.yml, frontend
