Repository KelkooGroup/theGardener: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/backend.yml, .azure-pipelines/frontend.yml

Path conditions:
  .azure-pipelines/backend.yml: any of: .azure-pipelines/backend.yml, app, conf, local-conf, project, public, test, build.sbt, scalastyle-config.xml, sonar-project.properties, version.sbt
  .azure-pipelines/frontend.yml: any of: .azure-pipelines/frontend.yml, frontend

Update org.eclipse.jgit to 5.8.0.202006091008-r
  build.sbt
Due: .azure-pipelines/backend.yml

Update dependency com.fasterxml.jackson.module:jackson-module-scala to v2.10.4
  build.sbt
Due: .azure-pipelines/backend.yml

Update dependency lodash to v4.17.19
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update jackson-module-scala to 2.11.1
  build.sbt
Due: .azure-pipelines/backend.yml

Update scalatestplus-play to 5.1.0
  build.sbt
Due: .azure-pipelines/backend.yml

Update mysql-connector-java to 8.0.21
  build.sbt
Due: .azure-pipelines/backend.yml

search index is full and the route is working
  app/services/PageService.scala
  test/services/PageServiceTest.scala
  test/steps/CommonSteps.scala
Due: .azure-pipelines/backend.yml

Update org.eclipse.jgit to 5.8.1.202007141445-r
  build.sbt
Due: .azure-pipelines/backend.yml

Create SearchService and SearchServiceTest adapt tests
  app/controllers/PageController.scala
  app/repositories/HierarchyRepository.scala
  app/services/PageService.scala
  app/services/SearchService.scala
  test/features/search/search_through_name_pages.feature
  test/services/PageServiceTest.scala
  test/services/SearchServiceTest.scala
  test/steps/CommonSteps.scala
Due: .azure-pipelines/backend.yml

Update jackson-module-scala to 2.10.5
  build.sbt
Due: .azure-pipelines/backend.yml

fix tests and take in account the review
  app/services/HierarchyService.scala
  app/services/PageService.scala
  app/services/SearchService.scala
  test/services/PageServiceTest.scala
  test/services/SearchServiceTest.scala
  test/steps/CommonSteps.scala
Due: .azure-pipelines/backend.yml

Simple full text search on pages (#738)
  app/controllers/PageController.scala
  app/models/Page.scala
  app/repositories/HierarchyRepository.scala
  app/services/HierarchyService.scala
  app/services/PageService.scala
  app/services/SearchService.scala
  build.sbt
  conf/routes
  documentation/Contribute/SearchDevelop.md
  documentation/Contribute/thegardener.json
  test/OnGoingBDDTest.scala
  test/features/search/search_through_name_pages.feature
  test/services/PageServiceTest.scala
  test/services/SearchServiceTest.scala
  test/steps/CommonSteps.scala
Due: .azure-pipelines/backend.yml

Update lucene4s to 1.9.1
  build.sbt
Due: .azure-pipelines/backend.yml

Update commons-io to 2.7
  build.sbt
Due: .azure-pipelines/backend.yml

Update cucumber-junit, ... to 6.3.0
  build.sbt
Due: .azure-pipelines/backend.yml

Update cucumber-scala to 6.3.0
  build.sbt
Due: .azure-pipelines/backend.yml

fix: frontend/package.json & frontend/package-lock.json to reduce vulnerabilities
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

fix swagger and add test to ensure swagger works
  build.sbt
  test/features/administration/operation.feature
  test/features/search/search_through_name_pages.feature
Due: .azure-pipelines/backend.yml

[ci-skip]prepare release theGardener-1.3.0
  pom.xml
Due: none

[ci-skip]prepare for next development iteration
  pom.xml
Due: none

Update gherkin to 14.1.0
  build.sbt
Due: .azure-pipelines/backend.yml

bugfix on relative path
  frontend/src/app/_services/route.service.spec.ts
  frontend/src/app/_services/route.service.ts
Due: .azure-pipelines/frontend.yml

always show the selected item in the menu after an internal link
  frontend/src/app/output/navigate/navigate-menu/navigate-menu-item/navigate-menu-item.component.ts
Due: .azure-pipelines/frontend.yml

add documentation
  app/models/HierarchyNode.scala
  documentation/Admin/Configure.md
  documentation/Changelog.md
Due: .azure-pipelines/backend.yml

scroll to the project when select a menu item
  frontend/src/app/output/navigate/navigate-menu/navigate-menu-item/navigate-menu-item.component.ts
Due: .azure-pipelines/frontend.yml

[ci-skip]prepare release theGardener-1.3.1
  pom.xml
Due: none

Update gherkin to 14.2.0
  build.sbt
Due: .azure-pipelines/backend.yml

version 1.3.2
  documentation/Changelog.md
  version.sbt
Due: .azure-pipelines/backend.yml

[ci-skip]prepare release theGardener-1.3.2
  pom.xml
Due: none

Update cucumber-junit, ... to 6.4.0
  build.sbt
Due: .azure-pipelines/backend.yml

Update jackson-module-scala to 2.11.2
  build.sbt
Due: .azure-pipelines/backend.yml
