Repository KelkooGroup/theGardener: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/backend.yml, .azure-pipelines/frontend.yml

Path conditions:
  .azure-pipelines/backend.yml: any file but: frontend, .azure-pipelines/frontend.yml, doc
  .azure-pipelines/frontend.yml: any of: frontend, .azure-pipelines/frontend.yml

Update dependency ts-option to v2.1.0
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update dependency ngx-moment to v3.5.0
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update dependency core-js to v3.4.1
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Change parameters name
  frontend/src/app/internal-link.pipe.ts
Due: .azure-pipelines/frontend.yml

add test for removeHtmlSanitizer
  frontend/src/app/removehtmlsanitizer.pipe.spec.ts
Due: .azure-pipelines/frontend.yml

Revert "Merge branch 'master' into feature/70-internal-link"
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

resolve azure artifact issue
  .azure-pipelines/backend.yml
Due: .azure-pipelines/backend.yml

Update backend.yml
  .azure-pipelines/backend.yml
Due: .azure-pipelines/backend.yml

resolve azure artifact issue
  .azure-pipelines/backend.yml
  frontend/src/app/removehtmlsanitizer.pipe.spec.ts
Due: .azure-pipelines/backend.yml, .azure-pipelines/frontend.yml

update dependencies
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Internal link (#358)
  .azure-pipelines/backend.yml
  .azure-pipelines/frontend.yml
  app/controllers/ProjectController.scala
  app/controllers/dto/PageDTO.scala
  app/repositories/DirectoryRepository.scala
  app/repositories/PageRepository.scala
  app/services/PageService.scala
  app/services/ReplicaService.scala
  documentation/assets/images/theGardener_role_writer_make_internal_link_01.png
  documentation/assets/images/theGardener_role_writer_make_internal_link_02.png
  documentation/global/documentation/description.md
  documentation/guides/write.md
  documentation/theRoots.md
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/_components/page/header/header.component.ts
  frontend/src/app/app.module.ts
  frontend/src/app/internal-link.pipe.spec.ts
  frontend/src/app/internal-link.pipe.ts
  frontend/src/app/output/page-content/page-content.component.html
  frontend/src/app/output/page-content/page-content.component.spec.ts
  frontend/src/app/output/page-content/page-content.component.ts
  frontend/src/app/removehtmlsanitizer.pipe.spec.ts
  frontend/src/app/removehtmlsanitizer.pipe.ts
  test/services/PageServiceTest.scala
  test/steps/DefineHierarchySteps.scala
  test/steps/StoreDirectoryAndPagesSteps.scala
  test/steps/SynchronizationSteps.scala
Due: .azure-pipelines/backend.yml, .azure-pipelines/frontend.yml

Update dependency @types/chai to v4.2.4
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update dependency @types/lodash to v4.14.146
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update angularcli monorepo
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update dependency @types/jasmine to v3.4.6
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update dependency @types/node to v12.11.7
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update dependency com.h2database:h2 to v1.4.200
  build.sbt
Due: .azure-pipelines/backend.yml

Update dependency cucumber to v6.0.4
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update dependency tslint to v5.20.1
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update dependency @types/node to v12.12.7
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update dependency node-sass to v4.13.0
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update dependency webdriver to v5.15.6
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update dependency protractor-cucumber-framework to v6.2.0
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Create backend.yml
  .github/workflows/backend.yml
Due: .azure-pipelines/backend.yml

Update cache action to 2
  .github/workflows/backend.yml
Due: .azure-pipelines/backend.yml

Update dependency puppeteer to v2
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update dependency ts-node to v8.5.0
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update dependency webdriver to v5.16.6
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update dependency @types/cucumber to v6
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

remove github actions workflow from master for now
  .github/workflows/backend.yml
Due: .azure-pipelines/backend.yml

Update dependency @types/chai to v4.2.5
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update dependency cucumber to v6.0.5
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml
