Repository KelkooGroup/theGardener: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/backend.yml, .azure-pipelines/frontend.yml

Path conditions:
  .azure-pipelines/backend.yml: any of: .azure-pipelines/backend.yml, app, conf, local-conf, project, public, test, build.sbt, scalastyle-config.xml, sonar-project.properties, version.sbt
  .azure-pipelines/frontend.yml: any of: .azure-pipelines/frontend.yml, frontend

Update dependency @types/jasmine to v3.5.6
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update silencer-lib, silencer-plugin to 1.6.0
  build.sbt
Due: .azure-pipelines/backend.yml

Fix bug: not scrolling to top when the page changes
  app/services/ProjectService.scala
  documentation/Changelog.md
  frontend/angular.json
  frontend/package-lock.json
  frontend/src/app/output/gherkin/gherkin-long-text/gherkin-long-text.component.html
  frontend/src/app/output/page-content/page-content.component.ts
  version.sbt
Due: .azure-pipelines/backend.yml, .azure-pipelines/frontend.yml

Update Changelog.md
  documentation/Changelog.md
Due: none

Update dependency @types/jasmine to v3.5.7
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Fix bug: not scrolling to top when the page changes and bug with sanitizer fixed
  frontend/package-lock.json
  frontend/src/app/app.module.ts
  frontend/src/app/output/page-content/page-content.component.ts
  frontend/src/app/removehtmlsanitizer.pipe.ts
Due: .azure-pipelines/frontend.yml

Update angular monorepo to v9.0.3
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

create component test swagger ui create route and method in controller
  app/controllers/PageController.scala
  conf/routes
  frontend/angular.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/_models/open-api.ts
  frontend/src/app/_models/page.ts
  frontend/src/app/app.module.ts
  frontend/src/app/output/page-content/open-api-end-points/open-api-end-points.component.css
  frontend/src/app/output/page-content/open-api-end-points/open-api-end-points.component.html
  frontend/src/app/output/page-content/open-api-end-points/open-api-end-points.component.spec.ts
  frontend/src/app/output/page-content/open-api-end-points/open-api-end-points.component.ts
  frontend/src/app/output/page-content/page-content.component.html
Due: .azure-pipelines/backend.yml, .azure-pipelines/frontend.yml

[ci-skip]prepare release theGardener-1.1.1
  pom.xml
Due: none

[ci-skip]prepare for next development iteration
  pom.xml
Due: none

add backend and part to include openApiPath (test for link between front and back)
  app/controllers/PageController.scala
  app/models/OpenApi.scala
  app/services/PageService.scala
  app/services/clients/OpenApiClient.scala
  conf/routes
  documentation/Write/Write.md
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/_models/open-api.ts
  frontend/src/app/_models/page.ts
  frontend/src/app/output/page-content/open-api-end-points/open-api-end-points.component.ts
  frontend/src/app/output/page-content/page-content.component.html
  frontend/src/app/output/page-content/page-content.component.ts
Due: .azure-pipelines/backend.yml, .azure-pipelines/frontend.yml

Update cucumber-junit, ... to 5.4.1
  build.sbt
Due: .azure-pipelines/backend.yml

Update angular monorepo to v9.0.4
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update angularcli monorepo
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Add BDD test to reproduce the issue
  test/features/documentation/page/show_a_page_with_openApiModule.feature
  test/steps/CommonSteps.scala
Due: .azure-pipelines/backend.yml

add backend and part to include openApiPath (test for link between front and back)
  app/controllers/PageController.scala
  app/controllers/dto/PageDTO.scala
  app/models/OpenApi.scala
  app/services/PageService.scala
  app/services/clients/OpenApiClient.scala
  conf/routes
  documentation/Write/Write.md
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/_models/open-api.ts
  frontend/src/app/_models/page.ts
  frontend/src/app/output/page-content/open-api-end-points/open-api-end-points.component.ts
  frontend/src/app/output/page-content/page-content.component.html
  frontend/src/app/output/page-content/page-content.component.scss
  frontend/src/app/output/page-content/page-content.component.ts
  test/services/clients/OpenApiClientTest.scala
Due: .azure-pipelines/backend.yml, .azure-pipelines/frontend.yml

Update dependency @types/node to v12.12.29
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

add inclusion model test on write.md
  documentation/Write/Write.md
Due: none

Update gherkin to 11.0.0
  build.sbt
Due: .azure-pipelines/backend.yml

Update dependency @types/chai to v4.2.10
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update dependency io.cucumber:gherkin to v11
  build.sbt
Due: .azure-pipelines/backend.yml

Handle exception with Future Display error in frontend with snackBar add test
  app/models/OpenApi.scala
  app/services/clients/OpenApiClient.scala
  documentation/Write/Write.md
  frontend/src/app/_models/open-api.ts
  frontend/src/app/output/page-content/open-api-model/open-api-model.component.scss
  frontend/src/app/output/page-content/open-api-model/open-api-model.component.spec.ts
  frontend/src/app/output/page-content/open-api-model/open-api-model.component.ts
  frontend/src/stylesheets/_snacks.scss
  frontend/src/stylesheets/theGardener-bo.scss
  test/features/documentation/page/show_a_page_with_openApiModule.feature
  test/services/clients/OpenApiClientTest.scala
  test/steps/CommonSteps.scala
Due: .azure-pipelines/backend.yml, .azure-pipelines/frontend.yml

Build page if open api not responding (#583)
  app/models/OpenApi.scala
  app/services/clients/OpenApiClient.scala
  frontend/src/app/_models/open-api.ts
  frontend/src/app/output/page-content/open-api-model/open-api-model.component.scss
  frontend/src/app/output/page-content/open-api-model/open-api-model.component.spec.ts
  frontend/src/app/output/page-content/open-api-model/open-api-model.component.ts
  frontend/src/stylesheets/_snacks.scss
  frontend/src/stylesheets/theGardener-bo.scss
  test/features/documentation/page/show_a_page_with_openApiModule.feature
  test/services/clients/OpenApiClientTest.scala
  test/steps/CommonSteps.scala
Due: .azure-pipelines/backend.yml, .azure-pipelines/frontend.yml

Update angular monorepo to v9.0.5
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Merge branch 'dev' of gitlab.corp.kelkoo.net:syndication/theGardener into dev
  app/services/clients/OpenApiClient.scala
Due: .azure-pipelines/backend.yml

Merge branch 'dev' of gitlab.corp.kelkoo.net:syndication/theGardener into dev
  frontend/src/app/output/page-content/open-api-model/open-api-model.component.ts
Due: .azure-pipelines/frontend.yml

Update cucumber-junit, ... to 5.4.2
  build.sbt
Due: .azure-pipelines/backend.yml

Update dependency @types/jasmine to v3.5.8
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml
