Repository KelkooGroup/theGardener: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/backend.yml, .azure-pipelines/frontend.yml

.azure-pipelines/backend.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: CacheBeta@1
    inputs:
      key: sbt | $(Agent.OS) | project/build.properties
      path: /home/vsts/.sbt
    displayName: Sbt build cache
  - task: CacheBeta@1
    inputs:
      key: ivy2 | $(Agent.OS) | build.sbt | project/plugins.sbt
      path: /home/vsts/.ivy2
  ...

.azure-pipelines/frontend.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: NodeTool@0
    inputs:
      versionSpec: 10.x
    displayName: Install Node.js
  - task: CacheBeta@0
    inputs:
      key: npm | $(Agent.OS) | frontend/package-lock.json
      path: frontend/node_modules
    displayName: Cache npm
  ...

Update dependency eslint-plugin-jsdoc to v34.6.0
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update dependency io.cucumber:cucumber-scala to v7
  build.sbt
Due: .azure-pipelines/backend.yml

Update cucumber-scala to 7.0.0
  build.sbt
Due: .azure-pipelines/backend.yml

Update dependency eslint-plugin-jsdoc to v34.6.1
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update gherkin to 19.0.0
  build.sbt
Due: .azure-pipelines/backend.yml

Update dependency eslint-plugin-jsdoc to v34.6.2
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update dependency eslint-plugin-jsdoc to v34.6.3
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update dependency ngx-markdown to v12
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update dependency webdriver to v7.6.0
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update scala-library to 2.13.6
  build.sbt
Due: .azure-pipelines/backend.yml

Update dependency scala to v2.13.6
  build.sbt
Due: .azure-pipelines/backend.yml

Update gherkin to 19.0.1
  build.sbt
Due: .azure-pipelines/backend.yml

Update dependency eslint-plugin-jsdoc to v34.7.0
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update typescript-eslint monorepo to v4.24.0
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update dependency com.outr:lucene4s to v1.11.1
  build.sbt
Due: .azure-pipelines/backend.yml

Update dependency eslint-plugin-jsdoc to v34.8.0
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update dependency eslint-plugin-jsdoc to v34.8.1
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update dependency typescript to v4.2.4
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update tsconfig
  frontend/src/app/output/navigate/navigate-menu/navigate-menu.component.html
  frontend/tsconfig.json
Due: .azure-pipelines/frontend.yml

Fix lint issues
  frontend/src/app/_services/menu.service.ts
  frontend/src/app/_services/page.service.ts
  frontend/src/app/output/navigate/navigate-menu/navigate-menu-item/navigate-menu-item.component.html
  frontend/src/app/output/page-content/page-content.component.ts
  frontend/src/polyfills.ts
Due: .azure-pipelines/frontend.yml

Fix lint issues
  frontend/.eslintrc.json
Due: .azure-pipelines/frontend.yml

Migrate to karma-coverage
  frontend/package-lock.json
  frontend/package.json
  frontend/src/karma.conf.js
Due: .azure-pipelines/frontend.yml

Polish frontend workflow
  .github/workflows/frontend.yml
Due: none

Update dependency eslint-plugin-jsdoc to v34.8.2
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update gherkin to 19.0.2
  build.sbt
Due: .azure-pipelines/backend.yml

Update angular monorepo to v12.0.1
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update dependency eslint-plugin-unicorn to v32
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Path conditions:
  .azure-pipelines/backend.yml: any of: .azure-pipelines/backend.yml, app, conf, local-conf, project, public, test, build.sbt, scalastyle-config.xml, sonar-project.properties, version.sbt
  .azure-pipelines/frontend.yml: any of: .azure-pipelines/frontend.yml, frontend
