Repository KelkooGroup/theGardener: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/backend.yml, .azure-pipelines/frontend.yml

.azure-pipelines/backend.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - script: 'ls -la /home/vsts/.sbt/
  
      ls -la .sbt
  
      ls -la .ivy2
  
      ls -la project/target
  
      ls -la /opt/sonarscanner
  
      ls -la target/test-reports
  
      ls -la target/scalastyle-result.xml
  
  ...

.azure-pipelines/frontend.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: NodeTool@0
    inputs:
      versionSpec: 10.x
    displayName: Install Node.js
  - script: 'npm install -g @angular/cli
  
      npm install
  
      cd ./node_modules/protractor && npm i webdriver-manager@latest && cd ../..
  
      npm run pree2e
  
      '
  ...

geppetto key to set synchronization enabled or not
  app/services/ProjectService.scala
  frontend/src/stylesheets/_colors-kelkoo.scss
  frontend/src/stylesheets/_colors.scss
  src/conf/application-prod.conf.erb
  src/conf/default_settings.properties
Due: .azure-pipelines/backend.yml, .azure-pipelines/frontend.yml

Be able to disable the synchronization from remote
  app/services/ProjectService.scala
  local-conf/application.conf
Due: .azure-pipelines/backend.yml

[ci-skip]prepare release theGardener-0.3.0
  pom.xml
Due: .azure-pipelines/backend.yml

[ci-skip]prepare for next development iteration
  pom.xml
Due: .azure-pipelines/backend.yml

Revert MySQL connector version
  build.sbt
Due: .azure-pipelines/backend.yml

Fix CSS
  thegardener_project.sql
Due: .azure-pipelines/backend.yml

Change server response format (md parsing done server side)
  frontend/src/app/_models/hierarchy.ts
  frontend/src/app/_services/markdown-parser.service.spec.ts
  frontend/src/app/_services/markdown-parser.service.ts
  frontend/src/app/_services/page.service.spec.ts
  frontend/src/app/_services/page.service.ts
  frontend/src/app/_testUtils/test-data.spec.ts
  frontend/src/app/output/page-content/page-content.component.html
  frontend/src/app/output/page-content/page-content.component.spec.ts
  frontend/src/app/output/page-content/page-content.component.ts
Due: .azure-pipelines/frontend.yml

Include gherkin scenario
  frontend/src/app/_models/hierarchy.ts
  frontend/src/app/_testUtils/test-data.spec.ts
  frontend/src/app/app.module.ts
  frontend/src/app/output/gherkin/gherkin-background/gherkin-background.component.html
  frontend/src/app/output/gherkin/gherkin-background/gherkin-background.component.spec.ts
  frontend/src/app/output/gherkin/gherkin-background/gherkin-background.component.ts
  frontend/src/app/output/gherkin/gherkin-feature/gherkin-feature.component.html
  frontend/src/app/output/gherkin/gherkin-feature/gherkin-feature.component.scss
  frontend/src/app/output/gherkin/gherkin-feature/gherkin-feature.component.ts
  frontend/src/app/output/gherkin/gherkin-long-text/gherkin-long-text.component.html
  frontend/src/app/output/gherkin/gherkin-long-text/gherkin-long-text.component.spec.ts
  frontend/src/app/output/gherkin/gherkin-long-text/gherkin-long-text.component.ts
  frontend/src/app/output/gherkin/gherkin-step/gherkin-step.component.html
  frontend/src/app/output/gherkin/gherkin-step/gherkin-step.component.spec.ts
  frontend/src/app/output/gherkin/gherkin-step/gherkin-step.component.ts
  frontend/src/app/output/gherkin/gherkin-table/gherkin-table.component.html
  frontend/src/app/output/gherkin/gherkin-table/gherkin-table.component.spec.ts
  frontend/src/app/output/gherkin/gherkin-table/gherkin-table.component.ts
  frontend/src/app/output/gherkin/gherkin.component.html
  frontend/src/app/output/gherkin/gherkin.component.ts
  frontend/src/app/output/page-content/page-content.component.spec.ts
Due: .azure-pipelines/frontend.yml

Fix scenario inclusion
  frontend/src/app/_models/hierarchy.ts
  frontend/src/app/_services/page.service.ts
  frontend/src/app/output/gherkin/gherkin-step/gherkin-step.component.html
  frontend/src/app/output/gherkin/gherkin-step/gherkin-step.component.scss
  frontend/src/app/output/gherkin/gherkin.component.html
  frontend/src/app/output/gherkin/gherkin.component.ts
  frontend/src/app/output/page-content/page-content.component.html
Due: .azure-pipelines/frontend.yml

Improve display of scenarios
  .gitignore
  frontend/src/app/_components/page/footer/footer.component.scss
  frontend/src/app/_services/page.service.spec.ts
  frontend/src/app/_testUtils/test-data.spec.ts
  frontend/src/app/app.component.css
  frontend/src/app/app.component.html
  frontend/src/app/app.component.scss
  frontend/src/app/app.component.ts
  frontend/src/app/app.module.ts
  frontend/src/app/output/gherkin/gherkin-background/gherkin-background.component.html
  frontend/src/app/output/gherkin/gherkin-background/gherkin-background.component.scss
  frontend/src/app/output/gherkin/gherkin-background/gherkin-background.component.spec.ts
  frontend/src/app/output/gherkin/gherkin-background/gherkin-background.component.ts
  frontend/src/app/output/gherkin/gherkin-step/gherkin-step.component.spec.ts
  frontend/src/app/output/gherkin/gherkin.component.html
  frontend/src/app/output/gherkin/gherkin.component.scss
  frontend/src/app/output/gherkin/gherkin.component.ts
  frontend/src/app/output/navigate/navigate-content/navigate-content.component.html
  frontend/src/app/output/navigate/navigate-content/navigate-content.component.scss
  frontend/src/app/output/navigate/navigate-content/navigate-content.component.ts
  frontend/src/app/output/navigate/navigate-menu/navigate-menu-item/navigate-menu-item.component.scss
  frontend/src/app/output/navigate/navigate-page.component.scss
  frontend/src/app/output/page-content/page-content.component.html
  frontend/src/app/output/page-content/page-content.component.scss
  frontend/src/app/output/page-content/page-content.component.spec.ts
Due: .azure-pipelines/backend.yml, .azure-pipelines/frontend.yml

Refactor models
  frontend/src/app/_models/gherkin.ts
  frontend/src/app/_models/hierarchy.ts
  frontend/src/app/_models/page.ts
  frontend/src/app/_services/gherkin.service.spec.ts
  frontend/src/app/_services/gherkin.service.ts
  frontend/src/app/_services/page.service.spec.ts
  frontend/src/app/_services/page.service.ts
  frontend/src/app/app.module.ts
  frontend/src/app/output/gherkin/gherkin-step/gherkin-step.component.spec.ts
  frontend/src/app/output/gherkin/gherkin-step/gherkin-step.component.ts
  frontend/src/app/output/gherkin/gherkin-table/gherkin-table.component.ts
  frontend/src/app/output/gherkin/gherkin.component.ts
  frontend/src/app/output/page-content/page-content.component.spec.ts
  frontend/src/app/output/page-content/page-content.component.ts
Due: .azure-pipelines/frontend.yml

Implement include scenario on the backend
  app/controllers/PageController.scala
  app/controllers/dto/PageDTO.scala
  app/repositories/GherkinRepository.scala
  app/services/PageService.scala
  frontend/src/app/output/gherkin/gherkin.component.html
  frontend/src/app/output/gherkin/gherkin.component.spec.ts
  test/features/documentation/page/show_a_page_with_external_page.feature
  test/features/documentation/page/show_a_page_with_scenarios.feature
Due: .azure-pipelines/backend.yml, .azure-pipelines/frontend.yml

adapt with backend changes on extranet link
  app/services/PageService.scala
  build.sbt
  documentation/assets/images/theGardener_role_writer.png
  documentation/assets/images/theGardener_sychronize.png
  documentation/features/administration.md
  documentation/features/synchronization.md
  documentation/guides/write.md
  frontend/src/app/_models/page.ts
  frontend/src/app/_services/page.service.spec.ts
  frontend/src/app/_services/page.service.ts
  frontend/src/app/_testUtils/test-data.spec.ts
  frontend/src/app/output/gherkin/gherkin.component.html
  frontend/src/app/output/gherkin/gherkin.component.spec.ts
  frontend/src/app/output/page-content/page-content.component.html
  frontend/src/app/output/page-content/page-content.component.spec.ts
  frontend/src/app/output/page-content/page-content.component.ts
  test/features/administration/configuration.feature
  test/features/navigation/provide_menu.feature
  test/features/synchronization/synchronize_resources.feature
Due: .azure-pipelines/backend.yml, .azure-pipelines/frontend.yml

remove useless file
  thegardener_project.sql
Due: .azure-pipelines/backend.yml

update doc
  documentation/guides/write.md
Due: .azure-pipelines/backend.yml

Update dependency mysql:mysql-connector-java to v5.1.48
  build.sbt
Due: .azure-pipelines/backend.yml

Update dependency mysql:mysql-connector-java to v8
  build.sbt
Due: .azure-pipelines/backend.yml

baseUrl optional
  app/services/PageService.scala
Due: .azure-pipelines/backend.yml

Add logs to understand what happens with navigation
  frontend/src/app/output/navigate/navigate-content/navigate-content.component.ts
  frontend/src/app/output/navigate/navigate-menu/navigate-menu-item/navigate-menu-item.component.ts
Due: .azure-pipelines/frontend.yml

fix image urls
  app/services/PageService.scala
  test/features/documentation/page/show_images.feature
Due: .azure-pipelines/backend.yml

compute page only when the page has changed on the remote server
  app/controllers/PageController.scala
  app/services/PageService.scala
  documentation/features/synchronization.md
  test/features/documentation/gherkin/filter_scenarios.feature
  test/features/documentation/gherkin/show_scenarios.feature
  test/features/documentation/page/show_a_page_with_scenarios.feature
  test/features/synchronization/store_computed_pages_in_cache.feature
  test/features/synchronization/store_directories_and_pages.feature
  test/steps/CommonSteps.scala
  test/steps/GetFeaturesSteps.scala
  test/steps/StoreDirectoryAndPagesSteps.scala
Due: .azure-pipelines/backend.yml

Improve scenario UI
  frontend/src/app/output/gherkin/gherkin-long-text/gherkin-long-text.component.html
  frontend/src/app/output/gherkin/gherkin-long-text/gherkin-long-text.component.scss
  frontend/src/app/output/gherkin/gherkin-step/gherkin-step.component.scss
  frontend/src/app/output/gherkin/gherkin-table/gherkin-table.component.scss
  frontend/src/app/output/gherkin/gherkin.component.html
  frontend/src/app/output/gherkin/gherkin.component.scss
  frontend/src/app/output/navigate/navigate-menu/navigate-menu-item/navigate-menu-item.component.scss
Due: .azure-pipelines/frontend.yml

Remove useless log
  frontend/src/app/output/navigate/navigate-menu/navigate-menu-item/navigate-menu-item.component.ts
Due: .azure-pipelines/frontend.yml

Fix tests
  frontend/src/app/output/gherkin/gherkin-long-text/gherkin-long-text.component.spec.ts
  frontend/src/app/output/gherkin/gherkin.component.spec.ts
Due: .azure-pipelines/frontend.yml

Fix menu color
  frontend/src/app/output/navigate/navigate-menu/navigate-menu-item/navigate-menu-item.component.scss
Due: .azure-pipelines/frontend.yml

Fix color issues
  frontend/package-lock.json
  frontend/src/app/output/navigate/navigate-menu/navigate-menu-item/navigate-menu-item.component.html
  frontend/src/app/output/navigate/navigate-menu/navigate-menu-item/navigate-menu-item.component.scss
  frontend/src/stylesheets/_kelkoo-colors.scss
  local-conf/application.dev.conf
Due: .azure-pipelines/backend.yml, .azure-pipelines/frontend.yml

call replicat on synchronize
  app/controllers/ProjectController.scala
  app/services/ReplicaService.scala
  local-conf/application.conf
  test/features/documentation/gherkin/filter_scenarios.feature
  test/features/synchronization/synchronize_another_instance.feature
  test/steps/CommonSteps.scala
  test/steps/SynchronizationSteps.scala
Due: .azure-pipelines/backend.yml

Fine tune scenario UI
  frontend/src/app/output/gherkin/gherkin-long-text/gherkin-long-text.component.scss
  frontend/src/app/output/gherkin/gherkin-step/gherkin-step.component.scss
  frontend/src/app/output/gherkin/gherkin.component.html
  frontend/src/app/output/gherkin/gherkin.component.scss
  frontend/src/app/output/navigate/navigate-menu/navigate-menu-item/navigate-menu-item.component.html
  frontend/src/app/output/navigate/navigate-menu/navigate-menu-item/navigate-menu-item.component.scss
Due: .azure-pipelines/frontend.yml

Update dependency ts-node to v8.4.1
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update dependency net.ruippeixotog:scala-scraper_2.12.8 to v2.2.0
  build.sbt
Due: .azure-pipelines/backend.yml

WIP scenario for scenarios inclusion
  app/controllers/PageController.scala
  app/controllers/dto/MenuDTO.scala
  app/controllers/dto/PageDTO.scala
  app/models/Page.scala
  app/repositories/PageRepository.scala
  app/services/PageService.scala
  test/features/administration/configuration.feature
  test/features/documentation/page/show_a_page.feature
  test/features/documentation/page/show_a_page_with_scenarios.feature
  test/features/documentation/page/show_images.feature
  test/features/navigation/provide_menu.feature
  test/steps/CommonSteps.scala
Due: .azure-pipelines/backend.yml

add a scenario with long text param
  test/features/documentation/gherkin/show_scenarios.feature
Due: .azure-pipelines/backend.yml

Improve scenario UI
  frontend/src/app/output/gherkin/gherkin-long-text/gherkin-long-text.component.html
  frontend/src/app/output/gherkin/gherkin-long-text/gherkin-long-text.component.scss
  frontend/src/app/output/gherkin/gherkin-step/gherkin-step.component.scss
  frontend/src/app/output/gherkin/gherkin-table/gherkin-table.component.scss
  frontend/src/app/output/gherkin/gherkin.component.html
  frontend/src/app/output/gherkin/gherkin.component.scss
Due: .azure-pipelines/frontend.yml

Fine tune scenario UI
  frontend/src/app/output/gherkin/gherkin-long-text/gherkin-long-text.component.scss
  frontend/src/app/output/gherkin/gherkin-step/gherkin-step.component.scss
  frontend/src/app/output/gherkin/gherkin.component.html
  frontend/src/app/output/gherkin/gherkin.component.scss
  frontend/src/app/output/navigate/navigate-menu/navigate-menu-item/navigate-menu-item.component.scss
Due: .azure-pipelines/frontend.yml

Path conditions:
  .azure-pipelines/backend.yml: any file but: frontend, .azure-pipelines/frontend.yml, doc
  .azure-pipelines/frontend.yml: any of: frontend, .azure-pipelines/frontend.yml
