Repository KelkooGroup/theGardener: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/backend.yml, .azure-pipelines/frontend.yml

Path conditions:
  .azure-pipelines/backend.yml: any of: .azure-pipelines/backend.yml, app, conf, local-conf, project, public, test, build.sbt, scalastyle-config.xml, sonar-project.properties, version.sbt
  .azure-pipelines/frontend.yml: any of: .azure-pipelines/frontend.yml, frontend

Update dependency @types/cucumber to v6.0.1
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update filters-helpers, play-ahc-ws, ... to 2.8.1
  build.sbt
  project/plugins.sbt
Due: .azure-pipelines/backend.yml

Update dependency karma-jasmine-html-reporter to v1.5.2
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update sbt to 1.3.8
  project/build.properties
Due: .azure-pipelines/backend.yml

Update dependency @types/jasmine to v3.5.3
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update dependency puppeteer to v2.1.1
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Fix tests
  app/services/ProjectService.scala
  app/services/clients/OpenApiClient.scala
  build.sbt
  test/features/documentation/page/show_a_page_with_openApiModule.feature
  test/services/GitServiceTest.scala
  test/services/clients/OpenApiClientTest.scala
  test/steps/CommonSteps.scala
  test/utils/CustomConfigSystemReader.scala
Due: .azure-pipelines/backend.yml

Update sbt to 1.3.8 (#522)
  project/build.properties
Due: .azure-pipelines/backend.yml

Module open api model display (#517)
  app/controllers/PageController.scala
  app/controllers/ProjectController.scala
  app/controllers/dto/PageDTO.scala
  app/models/OpenApi.scala
  app/models/Page.scala
  app/models/Project.scala
  app/repositories/PageRepository.scala
  app/services/FeatureService.scala
  app/services/GitService.scala
  app/services/MenuService.scala
  app/services/PageService.scala
  app/services/ProjectService.scala
  app/services/clients/OpenApiClient.scala
  app/services/clients/ReplicaClient.scala
  build.sbt
  conf/evolutions/default/3.sql
  documentation/Write/Write.md
  frontend/src/app/_models/open-api.ts
  frontend/src/app/_models/page.ts
  frontend/src/app/app.module.ts
  frontend/src/app/output/page-content/open-api-model/open-api-model.component.html
  frontend/src/app/output/page-content/open-api-model/open-api-model.component.scss
  frontend/src/app/output/page-content/open-api-model/open-api-model.component.spec.ts
  frontend/src/app/output/page-content/open-api-model/open-api-model.component.ts
  frontend/src/app/output/page-content/page-content.component.html
  frontend/src/app/output/page-content/page-content.component.scss
  frontend/src/app/output/page-content/page-content.component.spec.ts
  frontend/src/app/output/page-content/page-content.component.ts
  local-conf/application.conf
  test/features/documentation/page/show_a_page_with_openApiModule.feature
  test/features/synchronization/store_computed_pages_in_cache.feature
  test/repositories/PageRepositoryTest.scala
  test/services/GitServiceTest.scala
  test/services/PageServiceTest.scala
  test/services/clients/OpenApiClientTest.scala
  test/steps/CommonSteps.scala
  test/steps/GetFeaturesSteps.scala
  test/steps/StoreDirectoryAndPagesSteps.scala
  test/utils/CustomConfigSystemReader.scala
Due: .azure-pipelines/backend.yml, .azure-pipelines/frontend.yml

Update angularcli monorepo
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update cucumber-junit, ... to 5.2.0
  build.sbt
Due: .azure-pipelines/backend.yml

Update angular monorepo to v9
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update angularmaterial monorepo to v9
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update dependency @angular-devkit/build-angular to v0.900.1
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update dependency @angular/cli to v9
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Upgrade to Angular 9
  frontend/angular.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/tsconfig.app.json
Due: .azure-pipelines/frontend.yml

Upgrade to Angular 9 (#531)
  frontend/angular.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/tsconfig.app.json
Due: .azure-pipelines/frontend.yml

Update dependency @types/node to v12.11.7
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Use Github actions
  .azure-pipelines/backend.yml
  .azure-pipelines/frontend.yml
  .github/workflows/backend.yml
  .github/workflows/frontend.yml
  frontend/sonar-project.properties
  sonar-project.properties
Due: .azure-pipelines/backend.yml, .azure-pipelines/frontend.yml

Use Github actions (#466)
  .azure-pipelines/backend.yml
  .azure-pipelines/frontend.yml
  .github/workflows/backend.yml
  .github/workflows/frontend.yml
  frontend/sonar-project.properties
  sonar-project.properties
Due: .azure-pipelines/backend.yml, .azure-pipelines/frontend.yml

Update dependency ngx-markdown to v8.2.2
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update dependency @types/node to v12.12.26
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update dependency karma-jasmine to v3
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update dependency com.typesafe.play:play-json_2.12 to v2.8.1
  build.sbt
Due: .azure-pipelines/backend.yml

Update dependency com.typesafe.play:sbt-plugin to v2.8.1
  project/plugins.sbt
Due: .azure-pipelines/backend.yml

Update dependency io.cucumber:cucumber-scala_2.12 to v4
  build.sbt
Due: .azure-pipelines/backend.yml

Update dependency io.cucumber:gherkin to v9
  build.sbt
Due: .azure-pipelines/backend.yml

Update dependency org.julienrf:play-json-derived-codecs_2.12 to v7
  build.sbt
Due: .azure-pipelines/backend.yml

Update dependency less to v3.11.0
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update dependency karma-jasmine to v3.1.1
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update dependency less to v3.11.1
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update dependency webpack to v4.41.6
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml
