Repository KelkooGroup/theGardener: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/backend.yml, .azure-pipelines/frontend.yml

.azure-pipelines/backend.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: CacheBeta@1
    inputs:
      key: sbt | $(Agent.OS) | project/build.properties
      path: /home/vsts/.sbt
    displayName: Sbt build cache
  - task: CacheBeta@1
    inputs:
      key: ivy2 | $(Agent.OS) | build.sbt | project/plugins.sbt
      path: /home/vsts/.ivy2
  ...

.azure-pipelines/frontend.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: NodeTool@0
    inputs:
      versionSpec: 10.x
    displayName: Install Node.js
  - task: CacheBeta@0
    inputs:
      key: npm | $(Agent.OS) | frontend/package-lock.json
      path: frontend/node_modules
    displayName: Cache npm
  ...

Update dependency typescript to v4.3.2
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Revert "Update dependency typescript to v4.3.2"
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update angularcli monorepo to v12.0.2
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update angularmaterial monorepo to v12.0.2
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update dependency @types/jasmine to v3.7.5
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Fix workflows
  .github/workflows/backend.yml
  .github/workflows/frontend.yml
Due: none

Update dependency @types/jasmine to v3.7.6
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update dependency core-js to v3.13.1
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update angular-eslint monorepo to v12.1.0
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update dependency ch.epfl.scala:sbt-scalafix to v0.9.29
  project/plugins.sbt
Due: .azure-pipelines/backend.yml

Update sbt-scalafix to 0.9.29
  project/plugins.sbt
Due: .azure-pipelines/backend.yml

Fix bug with translate box
  frontend/src/app/_components/page/header/header.component.ts
Due: .azure-pipelines/frontend.yml

Update typescript-eslint monorepo to v4.26.0
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update sbt to 1.5.3
  project/build.properties
Due: .azure-pipelines/backend.yml

Update dependency webdriver to v7.7.0
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update dependency webdriver to v7.7.2
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update dependency karma to v6.3.3
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update dependency @types/node to v14.17.2
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Revert fix XML display
  frontend/src/app/output/page-content/page-content.component.html
Due: .azure-pipelines/frontend.yml

Make Config service blocking for app startup
  frontend/src/app/_services/config.service.spec.ts
  frontend/src/app/_services/config.service.ts
  frontend/src/app/app.component.ts
  frontend/src/app/app.module.ts
  frontend/src/app/output/page-content/open-api-end-points/open-api-end-points.component.ts
Due: .azure-pipelines/frontend.yml

Revert katex to fix XML display issue
  frontend/src/app/output/page-content/page-content.component.html
Due: .azure-pipelines/frontend.yml

Update frontend.yml
  .github/workflows/frontend.yml
Due: none

Update angular monorepo to v12.0.3
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update angularcli monorepo to v12.0.3
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update dependency sass to v1.34.1
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Path conditions:
  .azure-pipelines/backend.yml: any of: .azure-pipelines/backend.yml, app, conf, local-conf, project, public, test, build.sbt, scalastyle-config.xml, sonar-project.properties, version.sbt
  .azure-pipelines/frontend.yml: any of: .azure-pipelines/frontend.yml, frontend
