Repository KelkooGroup/theGardener: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/backend.yml, .azure-pipelines/frontend.yml

Path conditions:
  .azure-pipelines/backend.yml: any of: .azure-pipelines/backend.yml, app, conf, local-conf, project, public, test, build.sbt, scalastyle-config.xml, sonar-project.properties, version.sbt
  .azure-pipelines/frontend.yml: any of: .azure-pipelines/frontend.yml, frontend

Update dependency sass to v1.49.9
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update actions/setup-node action to v3
  .github/workflows/frontend.yml
Due: none

Update dependency @types/lodash to v4.14.179
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update dependency eslint to v8.10.0
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update typescript-eslint monorepo to v5.13.0
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update dependency karma to v6.3.17
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update dependency puppeteer to v13.4.1
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update dependency typescript to v4.6.2
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update dependency ts-node to v10.6.0
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update actions/checkout action to v3
  .github/workflows/backend.yml
  .github/workflows/frontend.yml
Due: none

Update dependency swagger-ui-dist to v4.6.0
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update angular monorepo to v13.2.5
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update dependency eslint-config-prettier to v8.5.0
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update angularmaterial monorepo to v13.2.5
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update dependency swagger-ui-dist to v4.6.1
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update dependency zone.js to v0.11.5
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update dependency ch.qos.logback:logback-access to v1.2.11
  build.sbt
Due: .azure-pipelines/backend.yml

Update dependency ts-node to v10.7.0
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update dependency com.fasterxml.jackson.module:jackson-module-scala to v2.13.2
  build.sbt
Due: .azure-pipelines/backend.yml

Update jackson-module-scala to 2.13.2
  build.sbt
Due: .azure-pipelines/backend.yml

Update jacksonVersion to v2.13.2
  build.sbt
Due: .azure-pipelines/backend.yml

Update sbt-docker to 1.9.0
  project/plugins.sbt
Due: .azure-pipelines/backend.yml

Update dependency puppeteer to v13.5.0
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml
