Repository KelkooGroup/theGardener: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/backend.yml, .azure-pipelines/frontend.yml

Path conditions:
  .azure-pipelines/backend.yml: any of: .azure-pipelines/backend.yml, app, conf, local-conf, project, public, test, build.sbt, scalastyle-config.xml, sonar-project.properties, version.sbt
  .azure-pipelines/frontend.yml: any of: .azure-pipelines/frontend.yml, frontend

Update sbt-scoverage to 1.6.1 (#416)
  project/plugins.sbt
Due: .azure-pipelines/backend.yml

Update sbt to 1.3.4 (#415)
  project/build.properties
Due: .azure-pipelines/backend.yml

Update mysql-connector-java to 8.0.18 (#413)
  build.sbt
Due: .azure-pipelines/backend.yml

Update sbt-scapegoat to 1.0.10 (#408)
  project/plugins.sbt
Due: .azure-pipelines/backend.yml

Update dependency com.typesafe.play:sbt-plugin to v2.7.4
  project/plugins.sbt
Due: .azure-pipelines/backend.yml

Update sbt-scapegoat to 1.1.0
  project/plugins.sbt
Due: .azure-pipelines/backend.yml

Update org.eclipse.jgit to 5.1.12.201910011832-r
  build.sbt
Due: .azure-pipelines/backend.yml

Update dependency webdriver to v5.16.12
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update dependency webdriver to v5.16.13
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Add InOurDocumentationWeTrust abstract
  documentation/assets/decks/src/InOurDocumentationWeTrust.abstract.md
Due: none

Update dependency net.logstash.logback:logstash-logback-encoder to v6.3
  build.sbt
Due: .azure-pipelines/backend.yml

Update logstash-logback-encoder to 6.3
  build.sbt
Due: .azure-pipelines/backend.yml

Update dependency @types/node to v12.12.15
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update dependency core-js to v3.4.8
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update dependency @types/node to v12.12.16
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update dependency @types/chai to v4.2.7
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update dependency @types/node to v12.12.17
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update dependency webdriver to v5.16.15
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update gherkin to 9.0.0
  build.sbt
Due: .azure-pipelines/backend.yml

add tests and fix bug on hierarchy when clicking on internal links
  build.sbt
  frontend/src/app/output/navigate/navigate-menu/navigate-menu-item/navigate-menu-item.component.spec.ts
  frontend/src/app/output/navigate/navigate-menu/navigate-menu-item/navigate-menu-item.component.ts
Due: .azure-pipelines/backend.yml, .azure-pipelines/frontend.yml

add tests and fix bug on hierarchy when clicking on internal links (#434)
  frontend/src/app/output/navigate/navigate-menu/navigate-menu-item/navigate-menu-item.component.spec.ts
  frontend/src/app/output/navigate/navigate-menu/navigate-menu-item/navigate-menu-item.component.ts
Due: .azure-pipelines/frontend.yml

Update dependency core-js to v3.5.0
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update filters-helpers, play-ahc-ws, ... to 2.8.0
  project/plugins.sbt
Due: .azure-pipelines/backend.yml

Update play-json to 2.8.1
  build.sbt
Due: .azure-pipelines/backend.yml

change version of mysql-connector-java
  build.sbt
  local-conf/application.dev.conf
Due: .azure-pipelines/backend.yml

Update logstash-logback-encoder to 6.3 (#428)
  build.sbt
Due: .azure-pipelines/backend.yml

Update sbt-scapegoat to 1.1.0 (#423)
  project/plugins.sbt
Due: .azure-pipelines/backend.yml

Update org.eclipse.jgit to 5.1.12.201910011832-r (#414)
  build.sbt
Due: .azure-pipelines/backend.yml

Update org.eclipse.jgit to 5.6.0.201912101111-r
  build.sbt
Due: .azure-pipelines/backend.yml
