Repository KelkooGroup/theGardener: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/backend.yml, .azure-pipelines/frontend.yml

.azure-pipelines/backend.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: CacheBeta@1
    inputs:
      key: sbt | $(Agent.OS) | project/build.properties
      path: /home/vsts/.sbt
    displayName: Sbt build cache
  - task: CacheBeta@1
    inputs:
      key: ivy2 | $(Agent.OS) | build.sbt | project/plugins.sbt
      path: /home/vsts/.ivy2
  ...

.azure-pipelines/frontend.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: NodeTool@0
    inputs:
      versionSpec: 10.x
    displayName: Install Node.js
  - task: CacheBeta@0
    inputs:
      key: npm | $(Agent.OS) | frontend/package-lock.json
      path: frontend/node_modules
    displayName: Cache npm
  ...

fix header redirect
  frontend/src/app/_components/page/header/header.component.ts
Due: .azure-pipelines/frontend.yml

[ci-skip]prepare release theGardener-1.2.2
  pom.xml
Due: none

[ci-skip]prepare for next development iteration
  pom.xml
Due: none

last comment on PR
  build.sbt
  frontend/src/app/_components/page/header/header.component.spec.ts
  frontend/src/app/_components/page/header/header.component.ts
  frontend/src/app/_services/menu.service.spec.ts
  frontend/src/app/_services/menu.service.ts
  frontend/src/app/_testUtils/test-data.spec.ts
  frontend/src/app/output/navigate/navigate-content/navigate-content.component.spec.ts
Due: .azure-pipelines/backend.yml, .azure-pipelines/frontend.yml

spacegoat catch
  app/services/clients/OpenApiClient.scala
Due: .azure-pipelines/backend.yml

imporve documentation
  documentation/Changelog.md
  documentation/Contribute/Contribute.md
  documentation/Contribute/thegardener.json
  documentation/Meta.md
  documentation/Overview.md
  documentation/Write/Basics.md
  documentation/Write/Improve.md
  documentation/Write/IncludeGherkin.md
  documentation/Write/IncludeOpenApi.md
  documentation/Write/Start.md
  documentation/assets/images/theGardener_architecture.png
  documentation/assets/images/theGardener_project_roles.png
  documentation/assets/images/theGardener_project_roles_reader_writer.png
  documentation/assets/images/theGardener_role_admin.png
  documentation/assets/images/theGardener_role_ops.png
  documentation/assets/images/theGardener_role_reader.png
  documentation/assets/images/theGardener_role_writer.png
  documentation/assets/images/theGardener_sequence_diagram_nominal_case.png
  documentation/assets/images/theGardener_sychronize.png
  documentation/global/assets/images/development_workflow.png
  documentation/global/assets/images/theGardener_project_roles_reader_writer.png
  documentation/global/documentation/description.md
  documentation/thegardener.json
  local-conf/application.conf
Due: .azure-pipelines/backend.yml

imporve documentation
  documentation/Admin/Configure.md
  documentation/Admin/Install.md
  documentation/Admin/Operate.md
  documentation/Admin/thegardener.json
  documentation/Meta.md
  documentation/Write/Improve.md
  documentation/Write/IncludeGherkin.md
  documentation/Write/IncludeOpenApi.md
  documentation/Write/Start.md
  documentation/assets/images/theGardener_role_ops_operate.png
  documentation/assets/images/theGardener_role_writer.png
Due: none

imporve documentation
  documentation/Contribute/Contribute.md
  documentation/assets/images/bdd_worflow_with_the_gardener.png
  documentation/assets/images/bdd_worflow_without_the_gardener.png
  documentation/assets/images/src/documentation_in_dev_loop.pptx
  documentation/assets/images/src/theGardener_architecture.graphml
  documentation/assets/images/src/theGardener_extract.pptx
  documentation/assets/images/src/theGardener_sequence_diagram_nominal_case.graphml
  documentation/assets/images/theProblem.png
  documentation/assets/images/theSolution.png
Due: none

imporve documentation
  documentation/Admin/Configure.md
  documentation/Admin/Install.md
Due: none

imporve documentation
  documentation/Write/IncludeGherkin.md
Due: none

imporve documentation
  documentation/Admin/Operate.md
  documentation/Write/IncludeGherkin.md
  documentation/Write/IncludeOpenApi.md
Due: none

imporve documentation
  documentation/Admin/Operate.md
Due: none

imporve documentation
  documentation/global/adoption/thegardener.json
  documentation/global/assets/images/adoption/theGardener_used_by_kelkoogroup_for_internal_documentation.png
  documentation/global/assets/images/adoption/theGardener_used_by_kelkoogroup_for_public_documentation.png
  documentation/global/assets/images/adoption/theGardener_used_by_theGardener.png
  documentation/global/documentation/adoption.md
  documentation/global/documentation/description.md
  documentation/global/documentation/thegardener.json
Due: none

imporve documentation
  documentation/global/documentation/adoption.md
Due: none

imporve documentation
  documentation/global/assets/images/adoption/theGardener_used_by_theGardener.png
Due: none

imporve documentation
  documentation/Overview.md
  documentation/global/documentation/description.md
  documentation/thegardener.json
Due: none

improve contribute
  documentation/Contribute/BuildDockerImage.md
  documentation/Contribute/Develop.md
  documentation/Contribute/Overview.md
  documentation/Contribute/thegardener.json
  documentation/Write/Improve.md
  documentation/assets/images/theGardener_role_writer_make_internal_link_01.png
Due: none

fix: frontend/package.json, frontend/package-lock.json & frontend/.snyk to reduce vulnerabilities
  frontend/package.json
Due: .azure-pipelines/frontend.yml

fix: frontend/package.json, frontend/package-lock.json & frontend/.snyk to reduce vulnerabilities
  frontend/package-lock.json
Due: .azure-pipelines/frontend.yml

fix: frontend/package.json, frontend/package-lock.json & frontend/.snyk to reduce vulnerabilities
  frontend/.snyk
Due: .azure-pipelines/frontend.yml

Update dependency io.cucumber:cucumber-junit to v5
  build.sbt
Due: .azure-pipelines/backend.yml

Update dependency io.cucumber:cucumber-picocontainer to v5
  build.sbt
Due: .azure-pipelines/backend.yml

Proper handling of no project related to a path
  app/services/PageService.scala
Due: .azure-pipelines/backend.yml

Add sourceUrlTemplate in project entity
  app/models/Project.scala
  app/repositories/PageRepository.scala
  app/repositories/ProjectRepository.scala
  app/services/MenuService.scala
  conf/evolutions/default/4.sql
  test/features/administration/projects/register_a_project.feature
  test/repositories/GherkinRepositoryTest.scala
  test/repositories/ProjectRepositoryTest.scala
  test/services/ProjectServiceTest.scala
  test/services/clients/OpenApiClientTest.scala
  test/steps/CommonSteps.scala
  test/steps/GetFeaturesSteps.scala
  test/steps/RegisterProjectSteps.scala
Due: .azure-pipelines/backend.yml

Add test case for page for a unknown project
  test/features/documentation/page/show_a_page_error_cases.feature
Due: .azure-pipelines/backend.yml

Refactoring to reduce database queries
  app/controllers/PageController.scala
  app/services/PageService.scala
  app/services/ProjectService.scala
  test/features/documentation/page/show_a_page_with_source_url_template.feature
Due: .azure-pipelines/backend.yml

Complete doc
  documentation/Configure/Configure.md
Due: none

Take into account documentationRoot to build the sourceUrl
  app/services/PageService.scala
  test/features/documentation/page/show_a_page_with_source_url_template.feature
Due: .azure-pipelines/backend.yml

CodeFactor feedback
  frontend/src/app/output/page-content/page-content.component.scss
Due: .azure-pipelines/frontend.yml

Display view source link at bottom of the page
  frontend/src/app/_models/hierarchy.ts
  frontend/src/app/_models/page.ts
  frontend/src/app/_services/page.service.ts
  frontend/src/app/output/page-content/page-content.component.html
  frontend/src/app/output/page-content/page-content.component.scss
  frontend/src/app/output/page-content/page-content.component.spec.ts
Due: .azure-pipelines/frontend.yml

Add sourceUrl in page response
  app/controllers/PageController.scala
  app/controllers/dto/MenuDTO.scala
  app/controllers/dto/PageDTO.scala
  app/services/ProjectService.scala
  app/utils/StringUtils.scala
  test/features/documentation/page/show_a_page_with_source_url_template.feature
Due: .azure-pipelines/backend.yml

Clean code
  app/services/PageService.scala
  app/utils/StringUtils.scala
Due: .azure-pipelines/backend.yml

Module open api end points display (#650)
  app/controllers/ConfigController.scala
  app/controllers/OpenApiController.scala
  app/models/OpenApi.scala
  app/services/PageService.scala
  app/services/clients/OpenApiClient.scala
  conf/routes
  frontend/package-lock.json
  frontend/src/app/_models/config.ts
  frontend/src/app/_models/open-api.ts
  frontend/src/app/_services/page.service.ts
  frontend/src/app/output/page-content/open-api-end-points/open-api-end-points.component.ts
  frontend/src/app/output/page-content/open-api-model/open-api-model.component.ts
  test/services/clients/OpenApiClientTest.scala
Due: .azure-pipelines/backend.yml, .azure-pipelines/frontend.yml

Path conditions:
  .azure-pipelines/backend.yml: any of: .azure-pipelines/backend.yml, app, conf, local-conf, project, public, test, build.sbt, scalastyle-config.xml, sonar-project.properties, version.sbt
  .azure-pipelines/frontend.yml: any of: .azure-pipelines/frontend.yml, frontend
