Repository KelkooGroup/theGardener: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/backend.yml, .azure-pipelines/frontend.yml

.azure-pipelines/backend.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: CacheBeta@1
    inputs:
      key: sbt | $(Agent.OS) | project/build.properties
      path: /home/vsts/.sbt
    displayName: Sbt build cache
  - task: CacheBeta@1
    inputs:
      key: ivy2 | $(Agent.OS) | build.sbt | project/plugins.sbt
      path: /home/vsts/.ivy2
  ...

.azure-pipelines/frontend.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: NodeTool@0
    inputs:
      versionSpec: 10.x
    displayName: Install Node.js
  - task: CacheBeta@0
    inputs:
      key: npm | $(Agent.OS) | frontend/package-lock.json
      path: frontend/node_modules
    displayName: Cache npm
  ...

Update dependency protractor-cucumber-framework to v6.2.1
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update dependency @types/jasmine to v3.5.9
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update org.eclipse.jgit to 5.7.0.202003090808-r
  build.sbt
Due: .azure-pipelines/backend.yml

Update angular monorepo to v9.0.6
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update cucumber-junit, ... to 5.5.0
  build.sbt
Due: .azure-pipelines/backend.yml

Update angularcli monorepo
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update dependency @types/node to v12.12.30
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update org.eclipse.jgit to 5.7.0.202003110725-r
  build.sbt
Due: .azure-pipelines/backend.yml

Update dependency @types/chai to v4.2.11
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

WIP
  app/services/clients/OpenApiClient.scala
  build.sbt
  frontend/package-lock.json
  frontend/src/app/_models/open-api.ts
  frontend/src/app/output/page-content/open-api-end-points/open-api-end-points.component.ts
  frontend/src/app/output/page-content/open-api-model/open-api-model.component.ts
  frontend/src/app/output/page-content/page-content.component.html
Due: .azure-pipelines/backend.yml, .azure-pipelines/frontend.yml

update doc to test openApi path inclusion
  app/services/clients/OpenApiClient.scala
  documentation/Write/Write.md
Due: .azure-pipelines/backend.yml

adapt error display to the comments on the story #575
  app/services/PageService.scala
  app/services/clients/OpenApiClient.scala
  documentation/Write/Write.md
  frontend/src/app/output/page-content/open-api-model/open-api-model.component.ts
Due: .azure-pipelines/backend.yml, .azure-pipelines/frontend.yml

adapt error display to the comments on the story #575 (#605)
  app/services/PageService.scala
  app/services/clients/OpenApiClient.scala
  documentation/Write/Write.md
  frontend/src/app/output/page-content/open-api-model/open-api-model.component.ts
Due: .azure-pipelines/backend.yml, .azure-pipelines/frontend.yml

include path with ref param done
  app/services/clients/OpenApiClient.scala
  frontend/src/app/output/page-content/open-api-end-points/open-api-end-points.component.html
  frontend/src/app/output/page-content/open-api-end-points/open-api-end-points.component.ts
  frontend/src/app/output/page-content/page-content.component.html
  frontend/src/app/output/page-content/page-content.component.ts
Due: .azure-pipelines/backend.yml, .azure-pipelines/frontend.yml

Merge branch 'master' into feature/github-sync
  frontend/package-lock.json
Due: .azure-pipelines/frontend.yml

adapt error display to the comments on the story #575 (#605)
  frontend/src/app/output/page-content/open-api-model/open-api-model.component.ts
Due: .azure-pipelines/frontend.yml

Update angularcli monorepo
  test/services/clients/OpenApiClientTest.scala
Due: .azure-pipelines/backend.yml

Update angular monorepo
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update dependency org.jmotor.sbt:sbt-dependency-updates to v1.2.2
  project/plugins.sbt
Due: .azure-pipelines/backend.yml

change model error handling (red text under model instead of pop-up)
  frontend/src/app/output/page-content/open-api-model/open-api-model.component.html
  frontend/src/app/output/page-content/open-api-model/open-api-model.component.scss
  frontend/src/app/output/page-content/open-api-model/open-api-model.component.ts
Due: .azure-pipelines/frontend.yml

[ci-skip]prepare release theGardener-1.1.3
  pom.xml
Due: none

[ci-skip]prepare for next development iteration
  pom.xml
Due: none

filter by method on OpenApi end points implemented
  app/services/clients/OpenApiClient.scala
  documentation/Write/Write.md
  frontend/package-lock.json
Due: .azure-pipelines/backend.yml, .azure-pipelines/frontend.yml

fix bug : page loading fails when it contains a model inclusion and there is only one branch displayed
  app/services/PageService.scala
Due: .azure-pipelines/backend.yml

[ci-skip]prepare release theGardener-1.1.4
  pom.xml
Due: none

Update dependency jasmine-spec-reporter to v5
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update frontend/src/app/output/page-content/open-api-end-points/open-api-end-points.component.html
  frontend/src/app/output/page-content/open-api-end-points/open-api-end-points.component.html
Due: .azure-pipelines/frontend.yml

Highlight code from scenarios steps
  app/models/Feature.scala
  app/services/FeatureService.scala
  frontend/src/app/_models/gherkin.ts
  frontend/src/app/output/gherkin/gherkin-long-text/gherkin-long-text.component.html
  frontend/src/app/output/gherkin/gherkin-long-text/gherkin-long-text.component.spec.ts
  frontend/src/app/output/gherkin/gherkin-long-text/gherkin-long-text.component.ts
  frontend/src/app/output/gherkin/gherkin-step/gherkin-step.component.html
  frontend/src/app/output/gherkin/gherkin-step/gherkin-step.component.ts
  test/repositories/FeatureRepositoryTest.scala
  test/repositories/GherkinRepositoryTest.scala
  test/repositories/ScenarioRepositoryTest.scala
Due: .azure-pipelines/backend.yml, .azure-pipelines/frontend.yml

change implementation to handle refStartsWith
  app/services/PageService.scala
  app/services/clients/OpenApiClient.scala
Due: .azure-pipelines/backend.yml

apply change requested
  app/services/clients/OpenApiClient.scala
  frontend/src/app/output/page-content/open-api-end-points/open-api-end-points.component.spec.ts
  frontend/src/app/output/page-content/open-api-end-points/open-api-end-points.component.ts
  frontend/src/app/output/page-content/page-content.component.spec.ts
  test/services/clients/OpenApiClientTest.scala
Due: .azure-pipelines/backend.yml, .azure-pipelines/frontend.yml

Path conditions:
  .azure-pipelines/backend.yml: any of: .azure-pipelines/backend.yml, app, conf, local-conf, project, public, test, build.sbt, scalastyle-config.xml, sonar-project.properties, version.sbt
  .azure-pipelines/frontend.yml: any of: .azure-pipelines/frontend.yml, frontend
