Repository KelkooGroup/theGardener: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/backend.yml, .azure-pipelines/frontend.yml

.azure-pipelines/backend.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - script: 'ls -la /home/vsts/.sbt/
  
      ls -la .sbt
  
      ls -la .ivy2
  
      ls -la project/target
  
      ls -la /opt/sonarscanner
  
      ls -la target/test-reports
  
      ls -la target/scalastyle-result.xml
  
  ...

.azure-pipelines/frontend.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: NodeTool@0
    inputs:
      versionSpec: 10.x
    displayName: Install Node.js
  - script: 'npm install -g @angular/cli
  
      npm install
  
      cd ./node_modules/protractor && npm i webdriver-manager@latest && cd ../..
  
      npm run pree2e
  
      '
  ...

Update README.md
  README.md
Due: .azure-pipelines/backend.yml

Filter which branch should appear or not
  app/models/Project.scala
  app/repository/ProjectRepository.scala
  app/services/MenuService.scala
  app/services/ProjectService.scala
  conf/evolutions/default/1.sql
  test/features/navigation/provide_menu.feature
  test/repository/GherkinRepositoryTest.scala
  test/repository/ProjectRepositoryTest.scala
  test/services/ProjectServiceTest.scala
  test/steps/CommonSteps.scala
  test/steps/GetFeaturesSteps.scala
  test/steps/RegisterProjectSteps.scala
Due: .azure-pipelines/backend.yml

Update CODEOWNERS
  CODEOWNERS
Due: .azure-pipelines/backend.yml

Menu with directory concept
  frontend/angular.json
  frontend/src/app/_components/page/header/header.component.html
  frontend/src/app/_components/page/header/header.component.scss
  frontend/src/app/_components/page/header/header.component.spec.ts
  frontend/src/app/_components/page/header/header.component.ts
  frontend/src/app/_models/hierarchy.ts
  frontend/src/app/_models/menu.ts
  frontend/src/app/_models/navigation.ts
  frontend/src/app/_services/menu.service.spec.ts
  frontend/src/app/_services/menu.service.ts
  frontend/src/app/app-routing.module.ts
  frontend/src/app/app.component.ts
  frontend/src/app/app.module.ts
  frontend/src/app/output/navigate/navigate-content.component.html
  frontend/src/app/output/navigate/navigate-content.component.scss
  frontend/src/app/output/navigate/navigate-content.component.ts
  frontend/src/app/output/navigate/navigate-content/navigate-content.component.html
  frontend/src/app/output/navigate/navigate-content/navigate-content.component.scss
  frontend/src/app/output/navigate/navigate-content/navigate-content.component.ts
  frontend/src/app/output/navigate/navigate-menu/navigate-menu-item/navigate-menu-item.component.html
  frontend/src/app/output/navigate/navigate-menu/navigate-menu-item/navigate-menu-item.component.scss
  frontend/src/app/output/navigate/navigate-menu/navigate-menu-item/navigate-menu-item.component.spec.ts
  frontend/src/app/output/navigate/navigate-menu/navigate-menu-item/navigate-menu-item.component.ts
  frontend/src/app/output/navigate/navigate-menu/navigate-menu.component.html
  frontend/src/app/output/navigate/navigate-menu/navigate-menu.component.scss
  frontend/src/app/output/navigate/navigate-menu/navigate-menu.component.spec.ts
  frontend/src/app/output/navigate/navigate-menu/navigate-menu.component.ts
  frontend/src/app/output/navigate/navigate-page.component.html
  frontend/src/app/output/navigate/navigate-page.component.scss
  frontend/src/app/output/navigate/navigate-page.component.spec.ts
  frontend/src/app/output/navigate/navigate-page.component.ts
  frontend/src/app/test/activated-route-stub.spec.ts
  frontend/src/app/test/test-data.spec.ts
Due: .azure-pipelines/frontend.yml

Update provide menu scenario to split into 3 different calls
  .gitignore
  app/controllers/dto/MenuDTO.scala
  build.sbt
  test/features/navigation/provide_menu.feature
Due: .azure-pipelines/backend.yml

Menu header
  app/controllers/MenuController.scala
  app/controllers/dto/MenuDTO.scala
  conf/routes
  test/features/navigation/provide_menu.feature
Due: .azure-pipelines/backend.yml

Push sonar analysis on the right branch
  .azure-pipelines/backend.yml
  .azure-pipelines/frontend.yml
Due: .azure-pipelines/backend.yml, .azure-pipelines/frontend.yml

Update dependency tslint to v5.19.0
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update dependency less to v3.10.2
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Add submenu endpoint
  app/controllers/MenuController.scala
  build.sbt
  conf/routes
  test/features/navigation/provide_menu.feature
Due: .azure-pipelines/backend.yml

Add submenu endpoint
  app/controllers/MenuController.scala
  app/services/MenuService.scala
  conf/routes
  test/features/navigation/provide_menu.feature
Due: .azure-pipelines/backend.yml

Implement Directory controller
  app/controllers/DirectoryController.scala
  app/controllers/PageController.scala
  app/controllers/dto/MenuDTO.scala
  conf/routes
  test/features/navigation/provide_menu.feature
Due: .azure-pipelines/backend.yml

Add tests
  frontend/src/app/_components/page/header/header.component.html
  frontend/src/app/_components/page/header/header.component.spec.ts
  frontend/src/app/_models/hierarchy.ts
  frontend/src/app/_services/menu.service.spec.ts
  frontend/src/app/_services/menu.service.ts
  frontend/src/app/output/navigate/navigate-menu/navigate-menu-item/navigate-menu-item.component.html
  frontend/src/app/output/navigate/navigate-menu/navigate-menu-item/navigate-menu-item.component.spec.ts
  frontend/src/app/output/navigate/navigate-menu/navigate-menu-item/navigate-menu-item.component.ts
  frontend/src/app/output/navigate/navigate-menu/navigate-menu.component.html
  frontend/src/app/output/navigate/navigate-menu/navigate-menu.component.spec.ts
  frontend/src/app/output/navigate/navigate-menu/navigate-menu.component.ts
  frontend/src/app/output/navigate/navigate-page.component.spec.ts
  frontend/src/app/test/activated-route-stub.spec.ts
  frontend/src/app/test/test-data.spec.ts
Due: .azure-pipelines/frontend.yml

Fix page parsing
  app/services/GitService.scala
  app/services/PageService.scala
Due: .azure-pipelines/backend.yml

Update angular monorepo to v8.2.3
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Add pages in the directory response
  app/controllers/DirectoryController.scala
  app/controllers/PageController.scala
  app/controllers/dto/MenuDTO.scala
  app/controllers/dto/PageDTO.scala
  app/models/Directory.scala
  app/models/Page.scala
  app/repository/PageRepository.scala
  app/services/MenuService.scala
  app/services/PageService.scala
  test/features/documentation/page/show_a_page.feature
  test/features/navigation/provide_menu.feature
  test/repository/PageRepositoryTest.scala
  test/steps/CommonSteps.scala
  test/steps/StoreDirectoryAndPagesSteps.scala
Due: .azure-pipelines/backend.yml

add a little documentation to theGardener, theGardener style
  documentation/context/goal.md
  documentation/context/thegardener.json
  documentation/description.md
  documentation/thegardener.json
Due: .azure-pipelines/backend.yml

Add service to retrieve directory and pages
  frontend/src/app/_components/page/header/header.component.spec.ts
  frontend/src/app/_components/page/header/header.component.ts
  frontend/src/app/_models/hierarchy.ts
  frontend/src/app/_services/menu.service.ts
  frontend/src/app/_services/page.service.spec.ts
  frontend/src/app/_services/page.service.ts
  frontend/src/app/output/navigate/navigate-menu/navigate-menu.component.ts
Due: .azure-pipelines/frontend.yml

Update angularcli monorepo
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update dependency less to v3.10.3
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Pages as tabs
  frontend/src/app/_services/page.service.spec.ts
  frontend/src/app/app-routing.module.ts
  frontend/src/app/app.module.ts
  frontend/src/app/output/gherkin/gherkin-background/gherkin-background.component.spec.ts
  frontend/src/app/output/navigate/navigate-content/navigate-content.component.html
  frontend/src/app/output/navigate/navigate-content/navigate-content.component.spec.ts
  frontend/src/app/output/navigate/navigate-content/navigate-content.component.ts
  frontend/src/app/output/page-content/page-content.component.html
  frontend/src/app/output/page-content/page-content.component.scss
  frontend/src/app/output/page-content/page-content.component.spec.ts
  frontend/src/app/output/page-content/page-content.component.ts
  frontend/src/app/test/activated-route-stub.spec.ts
  frontend/src/app/test/test-data.spec.ts
Due: .azure-pipelines/frontend.yml

Show markdown content for pages
  frontend/angular.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/_services/page.service.spec.ts
  frontend/src/app/app.module.ts
  frontend/src/app/output/page-content/page-content.component.html
  frontend/src/app/output/page-content/page-content.component.spec.ts
  frontend/src/app/test/test-data.spec.ts
Due: .azure-pipelines/frontend.yml

Fix issue when 2 nodes have the same slug name even if it's not on the the node level
  app/controllers/GherkinController.scala
  app/services/MenuService.scala
  test/features/documentation/gherkin/show_scenarios.feature
Due: .azure-pipelines/backend.yml

Fix tslint issues
  frontend/package-lock.json
  frontend/src/app/_models/hierarchy.ts
  frontend/src/app/_services/menu.service.ts
  frontend/src/app/output/navigate/navigate-content/navigate-content.component.html
  frontend/src/app/output/navigate/navigate-content/navigate-content.component.spec.ts
  frontend/src/app/output/navigate/navigate-content/navigate-content.component.ts
  frontend/src/app/output/navigate/navigate-menu/navigate-menu-item/navigate-menu-item.component.spec.ts
  frontend/src/app/output/navigate/navigate-menu/navigate-menu-item/navigate-menu-item.component.ts
  frontend/src/app/output/navigate/navigate-menu/navigate-menu.component.ts
  frontend/src/app/output/page-content/page-content.component.ts
  frontend/src/app/test/activated-route-stub.spec.ts
  frontend/src/app/test/test-data.spec.ts
Due: .azure-pipelines/frontend.yml

Do not show branch select if only one branch
  frontend/src/app/_models/config.ts
  frontend/src/app/_models/navigation.ts
  frontend/src/app/_services/config.service.ts
  frontend/src/app/output/gherkin/gherkin-background/gherkin-background.component.html
  frontend/src/app/output/navigate/navigate-menu/navigate-menu-item/navigate-menu-item.component.html
  frontend/src/app/output/navigate/navigate-menu/navigate-menu-item/navigate-menu-item.component.spec.ts
  frontend/src/app/output/navigate/navigate-menu/navigate-menu.component.html
  frontend/src/app/output/navigate/navigate-menu/navigate-menu.component.spec.ts
  frontend/src/app/output/navigate/navigate-menu/navigate-menu.component.ts
  frontend/src/app/output/navigate/navigate-page.component.spec.ts
Due: .azure-pipelines/frontend.yml

Fix lint issues
  frontend/src/app/_services/page.service.spec.ts
  frontend/src/app/output/navigate/navigate-content/navigate-content.component.ts
  frontend/src/app/output/navigate/navigate-menu/navigate-menu-item/navigate-menu-item.component.spec.ts
  frontend/src/app/output/page-content/page-content.component.spec.ts
  frontend/src/app/output/page-content/page-content.component.ts
  frontend/src/app/test/activated-route-stub.spec.ts
  frontend/src/app/test/test-data.spec.ts
Due: .azure-pipelines/frontend.yml

change database, change model and bdd ongoing
  app/models/Project.scala
  app/repository/ProjectRepository.scala
  conf/evolutions/default/1.sql
  documentation/context/goal.md
  documentation/context/thegardener.json
  documentation/description.md
  documentation/thegardener.json
  test/features/documentation/page/show_a_page_with_variables.feature
  test/steps/CommonSteps.scala
Due: .azure-pipelines/backend.yml

Fix last CodeFactor issues
  .azure-pipelines/backend.yml
  .azure-pipelines/frontend.yml
  app/controllers/MenuController.scala
  app/controllers/dto/MenuDTO.scala
Due: .azure-pipelines/backend.yml, .azure-pipelines/frontend.yml

Add documentation
  documentation/context/goal.md
  documentation/context/thegardener.json
  documentation/context/why.md
  documentation/description.md
Due: .azure-pipelines/backend.yml

Pin dependency ngx-markdown to 8.1.0
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

change database, change model and bdd ongoing
  app/models/Project.scala
  app/repository/ProjectRepository.scala
Due: .azure-pipelines/backend.yml

Fix page label and description
  app/services/PageService.scala
Due: .azure-pipelines/backend.yml

Filter markdown to remove in the Page endpoint thegardener metadata
  app/controllers/PageController.scala
Due: .azure-pipelines/backend.yml

Add documentation (#201)
  documentation/context/goal.md
  documentation/context/thegardener.json
  documentation/context/why.md
  documentation/description.md
  documentation/thegardener.json
Due: .azure-pipelines/backend.yml

Update angularmaterial monorepo to v8.1.4
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

update doc with the new target
  docs/css/style.css
  docs/index.html
Due: .azure-pipelines/backend.yml

Navigate to first page of a directory by default
  .gitignore
  frontend/package-lock.json
  frontend/src/app/_services/page.service.spec.ts
  frontend/src/app/_services/page.service.ts
  frontend/src/app/app-routing.module.ts
  frontend/src/app/output/navigate/navigate-content/navigate-content.component.html
  frontend/src/app/output/navigate/navigate-content/navigate-content.component.spec.ts
  frontend/src/app/output/navigate/navigate-content/navigate-content.component.ts
  frontend/src/app/output/navigate/navigate-menu/navigate-menu-item/navigate-menu-item.component.spec.ts
  frontend/src/app/output/navigate/navigate-menu/navigate-menu-item/navigate-menu-item.component.ts
  frontend/src/app/output/navigate/navigate-menu/navigate-menu.component.html
  frontend/src/app/output/navigate/navigate-menu/navigate-menu.component.spec.ts
  frontend/src/app/output/navigate/navigate-menu/navigate-menu.component.ts
  frontend/src/app/output/navigate/navigate-page.component.spec.ts
  frontend/src/app/output/page-content/page-content.component.spec.ts
  frontend/src/app/output/page-content/page-content.component.ts
  frontend/src/app/test/activated-route-stub.spec.ts
  frontend/src/app/test/test-data.spec.ts
Due: .azure-pipelines/backend.yml, .azure-pipelines/frontend.yml

Path conditions:
  .azure-pipelines/backend.yml: any file but: frontend, .azure-pipelines/frontend.yml, doc
  .azure-pipelines/frontend.yml: any of: frontend, .azure-pipelines/frontend.yml
