Repository KelkooGroup/theGardener: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/backend.yml, .azure-pipelines/frontend.yml

.azure-pipelines/backend.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: CacheBeta@1
    inputs:
      key: sbt | $(Agent.OS) | project/build.properties
      path: /home/vsts/.sbt
    displayName: Sbt build cache
  - task: CacheBeta@1
    inputs:
      key: ivy2 | $(Agent.OS) | build.sbt | project/plugins.sbt
      path: /home/vsts/.ivy2
  ...

.azure-pipelines/frontend.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: NodeTool@0
    inputs:
      versionSpec: 10.x
    displayName: Install Node.js
  - task: CacheBeta@0
    inputs:
      key: npm | $(Agent.OS) | frontend/package-lock.json
      path: frontend/node_modules
    displayName: Cache npm
  ...

Module open api end points display (#612)
  app/controllers/PageController.scala
  app/controllers/dto/PageDTO.scala
  app/models/OpenApi.scala
  app/services/PageService.scala
  app/services/clients/OpenApiClient.scala
  documentation/Write/Write.md
  frontend/angular.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/_models/open-api.ts
  frontend/src/app/_models/page.ts
  frontend/src/app/app.module.ts
  frontend/src/app/output/page-content/open-api-end-points/open-api-end-points.component.html
  frontend/src/app/output/page-content/open-api-end-points/open-api-end-points.component.scss
  frontend/src/app/output/page-content/open-api-end-points/open-api-end-points.component.ts
  frontend/src/app/output/page-content/open-api-model/open-api-model.component.ts
  frontend/src/app/output/page-content/page-content.component.html
  frontend/src/app/output/page-content/page-content.component.scss
  frontend/src/app/output/page-content/page-content.component.spec.ts
  frontend/src/app/output/page-content/page-content.component.ts
  test/features/synchronization/store_computed_pages_in_cache.feature
  test/services/clients/OpenApiClientTest.scala
  test/steps/CommonSteps.scala
Due: .azure-pipelines/backend.yml, .azure-pipelines/frontend.yml

change to pass frontend test
  frontend/src/app/_models/gherkin.ts
Due: .azure-pipelines/frontend.yml

complete the documentation of OpenAPI path
  documentation/Write/Write.md
Due: none

Update sbt to 1.3.9
  project/build.properties
Due: .azure-pipelines/backend.yml

Update gherkin to 12.0.0
  build.sbt
Due: .azure-pipelines/backend.yml

Update dependency @types/jasmine to v3.5.10
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update dependency @types/node to v12.12.34
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update dependency codelyzer to v5.2.2
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update dependency karma-jasmine-html-reporter to v1.5.3
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Pin dependency swagger-ui-dist to 3.25.0
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update angular monorepo to v9.1.0
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update dependency io.cucumber:gherkin to v12
  build.sbt
Due: .azure-pipelines/backend.yml

Update dependency tslint to v6
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update cucumber-junit, ... to 5.6.0
  build.sbt
Due: .azure-pipelines/backend.yml

Update dependency rxjs to v6.5.5
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update dependency rxjs-compat to v6.5.5
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update dependency com.typesafe.play:sbt-plugin to v2.8.1
  project/plugins.sbt
Due: .azure-pipelines/backend.yml

Update dependency @types/node to v12.12.35
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update dependency core-js to v3.6.5
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update dependency io.cucumber:gherkin to v13
  build.sbt
Due: .azure-pipelines/backend.yml

Update dependency cucumber-pretty to v6
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update gherkin to 13.0.0
  build.sbt
Due: .azure-pipelines/backend.yml

Update sbt to 1.3.10
  project/build.properties
Due: .azure-pipelines/backend.yml

Add sourceUrlTemplate in project entity
  app/models/Project.scala
  app/repositories/PageRepository.scala
  app/repositories/ProjectRepository.scala
  app/services/MenuService.scala
  conf/evolutions/default/4.sql
  test/features/administration/projects/register_a_project.feature
  test/repositories/GherkinRepositoryTest.scala
  test/repositories/ProjectRepositoryTest.scala
  test/services/ProjectServiceTest.scala
  test/services/clients/OpenApiClientTest.scala
  test/steps/CommonSteps.scala
  test/steps/GetFeaturesSteps.scala
  test/steps/RegisterProjectSteps.scala
Due: .azure-pipelines/backend.yml

Add sourceUrl in page response
  app/controllers/PageController.scala
  app/controllers/dto/MenuDTO.scala
  app/controllers/dto/PageDTO.scala
  app/services/ProjectService.scala
  app/utils/StringUtils.scala
  test/features/documentation/page/show_a_page_with_source_url_template.feature
Due: .azure-pipelines/backend.yml

Update dependency rxjs-tslint to v0.1.8
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Refactoring to reduce database queries
  app/controllers/PageController.scala
  app/services/PageService.scala
  app/services/ProjectService.scala
  test/features/documentation/page/show_a_page_with_source_url_template.feature
Due: .azure-pipelines/backend.yml

Avoid duplicated scenario names
  test/features/administration/hierarchy/link_projects_to_hierarchy.feature
  test/features/administration/projects/register_a_project.feature
  test/features/documentation/page/show_a_page.feature
  test/features/documentation/page/show_a_page_without_branch_name_in_path.feature
  test/features/navigation/provide_menu.feature
Due: .azure-pipelines/backend.yml

Take into account documentationRoot to build the sourceUrl
  app/services/PageService.scala
  test/features/documentation/page/show_a_page_with_source_url_template.feature
Due: .azure-pipelines/backend.yml

Display view source link at bottom of the page
  frontend/src/app/_models/hierarchy.ts
  frontend/src/app/_models/page.ts
  frontend/src/app/_services/page.service.ts
  frontend/src/app/output/page-content/page-content.component.html
  frontend/src/app/output/page-content/page-content.component.scss
  frontend/src/app/output/page-content/page-content.component.spec.ts
Due: .azure-pipelines/frontend.yml

Path conditions:
  .azure-pipelines/backend.yml: any of: .azure-pipelines/backend.yml, app, conf, local-conf, project, public, test, build.sbt, scalastyle-config.xml, sonar-project.properties, version.sbt
  .azure-pipelines/frontend.yml: any of: .azure-pipelines/frontend.yml, frontend
