Repository KelkooGroup/theGardener: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/backend.yml, .azure-pipelines/frontend.yml

Path conditions:
  .azure-pipelines/backend.yml: any file but: frontend, .azure-pipelines/frontend.yml, doc
  .azure-pipelines/frontend.yml: any of: frontend, .azure-pipelines/frontend.yml

Update dependency webpack to v4.39.3
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update dependency karma to v4.3.0
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update dependency @types/lodash to v4.14.138
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update backend.yml
  .azure-pipelines/backend.yml
Due: .azure-pipelines/backend.yml

Fix tests with PhantomJS for Jenkins build
  frontend/package-lock.json
  frontend/package.json
  frontend/src/karma.conf.js
  frontend/src/polyfills.ts
  frontend/tsconfig.json
Due: .azure-pipelines/frontend.yml

Update angularcli monorepo
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Add conf to load PhantomJS
  frontend/package-lock.json
  frontend/src/karma.conf.js
Due: .azure-pipelines/frontend.yml

Fix build prod
  frontend/src/app/_models/navigation.ts
  frontend/src/app/output/navigate/navigate-content.component.html
  frontend/src/app/output/navigate/navigate-content.component.scss
  frontend/src/app/output/navigate/navigate-content.component.ts
  frontend/src/polyfills.ts
  frontend/src/tsconfig.app.json
  frontend/src/tsconfig.spec.json
Due: .azure-pipelines/frontend.yml

update documentation with install and writer guides
  documentation/changelog.md
  documentation/description.md
  documentation/guides/configure.md
  documentation/guides/contribut.md
  documentation/guides/install.md
  documentation/guides/read.md
  documentation/guides/roles.md
  documentation/guides/thegardener.json
  documentation/guides/write.md
  documentation/prerequisite.md
  documentation/thegardener.json
  documentation/why.md
Due: .azure-pipelines/backend.yml

Update frontend.yml
  .azure-pipelines/frontend.yml
Due: .azure-pipelines/frontend.yml

Update angular monorepo to v8.2.4
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update dependency @types/node to v12.7.3
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Include external pages as iframe
  frontend/src/app/_models/hierarchy.ts
  frontend/src/app/_services/page.service.spec.ts
  frontend/src/app/_services/page.service.ts
  frontend/src/app/app.module.ts
  frontend/src/app/output/navigate/navigate-page.component.html
  frontend/src/app/output/navigate/navigate-page.component.ts
  frontend/src/app/output/page-content/page-content.component.html
  frontend/src/app/output/page-content/page-content.component.spec.ts
  frontend/src/app/safe.pipe.spec.ts
  frontend/src/app/safe.pipe.ts
  frontend/src/app/test/test-data.spec.ts
Due: .azure-pipelines/frontend.yml

Fix navigate on branch selection
  frontend/src/app/_components/page/header/header.component.spec.ts
  frontend/src/app/_services/menu.service.spec.ts
  frontend/src/app/_services/page.service.spec.ts
  frontend/src/app/_testUtils/activated-route-stub.spec.ts
  frontend/src/app/_testUtils/mat-select-helper.spec.ts
  frontend/src/app/_testUtils/test-data.spec.ts
  frontend/src/app/output/navigate/navigate-content/navigate-content.component.spec.ts
  frontend/src/app/output/navigate/navigate-menu/navigate-menu-item/navigate-menu-item.component.html
  frontend/src/app/output/navigate/navigate-menu/navigate-menu-item/navigate-menu-item.component.spec.ts
  frontend/src/app/output/navigate/navigate-menu/navigate-menu-item/navigate-menu-item.component.ts
  frontend/src/app/output/page-content/page-content.component.spec.ts
Due: .azure-pipelines/frontend.yml

Styling
  frontend/src/app/_components/page/footer/footer.component.scss
  frontend/src/app/app.module.ts
  frontend/src/app/output/navigate/navigate-content/navigate-content.component.ts
  frontend/src/app/output/navigate/navigate-menu/navigate-menu-item/navigate-menu-item.component.ts
  frontend/src/app/output/navigate/navigate-page.component.html
  frontend/src/app/output/navigate/navigate-page.component.scss
  frontend/src/app/output/navigate/navigate-page.component.spec.ts
  frontend/src/app/output/navigate/navigate-page.component.ts
  frontend/src/app/output/page-content/page-content.component.html
  frontend/src/app/output/page-content/page-content.component.scss
  frontend/src/app/output/page-content/page-content.component.spec.ts
  frontend/src/app/safe.pipe.spec.ts
  frontend/src/styles.scss
  frontend/src/stylesheets/_backoffice.scss
Due: .azure-pipelines/frontend.yml

Update application-prod.conf.erb
  src/conf/application-prod.conf.erb
Due: .azure-pipelines/backend.yml

Update page-content.component.html
  frontend/src/app/output/page-content/page-content.component.html
Due: .azure-pipelines/frontend.yml

Add Page Assets controller
  app/controllers/Application.scala
  app/controllers/MenuController.scala
  app/controllers/PageController.scala
  app/controllers/dto/MenuDTO.scala
  app/repository/BranchRepository.scala
  app/repository/DirectoryRepository.scala
  app/repository/FeatureRepository.scala
  app/repository/HierarchyRepository.scala
  app/repository/PageRepository.scala
  app/repository/ProjectRepository.scala
  app/repository/ScenarioRepository.scala
  app/repository/TagRepository.scala
  app/services/FeatureService.scala
  app/services/MenuService.scala
  app/services/ProjectService.scala
  app/utils/package.scala
  build.sbt
  conf/evolutions/default/1.sql
  conf/routes
  project/plugins.sbt
  test/features/documentation/page/show_images.feature
  test/repository/BranchRepositoryTest.scala
  test/repository/DirectoryRepositoryTest.scala
  test/repository/FeatureRepositoryTest.scala
  test/repository/GherkinRepositoryTest.scala
  test/repository/HierarchyRepositoryTest.scala
  test/repository/PageRepositoryTest.scala
  test/repository/ProjectRepositoryTest.scala
  test/repository/ScenarioRepositoryTest.scala
  test/services/FeatureServiceTest.scala
  test/services/GitServiceTest.scala
  test/services/ProjectServiceTest.scala
  test/steps/CommonSteps.scala
  test/steps/GetFeaturesSteps.scala
Due: .azure-pipelines/backend.yml

Replace image links in page controller
  app/controllers/PageController.scala
  app/services/PageService.scala
  conf/evolutions/default/1.sql
  local-conf/application.conf
  test/features/documentation/page/show_images.feature
Due: .azure-pipelines/backend.yml

WIP variables
  app/controllers/PageController.scala
  app/controllers/ProjectController.scala
  app/models/Project.scala
  app/repository/ProjectRepository.scala
  app/services/PageService.scala
  app/services/ProjectService.scala
  test/features/documentation/page/show_a_page_with_variables.feature
  test/steps/CommonSteps.scala
Due: .azure-pipelines/backend.yml

Gets more logs for sonar PR check
  .azure-pipelines/backend.yml
  .azure-pipelines/frontend.yml
Due: .azure-pipelines/backend.yml, .azure-pipelines/frontend.yml

Replace in the PageController the links of the references
  app/controllers/PageController.scala
  app/services/PageService.scala
  test/features/documentation/page/show_a_page.feature
  test/features/documentation/page/show_images.feature
Due: .azure-pipelines/backend.yml

Fix issue when branch is in the database but not in local
  app/services/ProjectService.scala
  test/services/ProjectServiceTest.scala
Due: .azure-pipelines/backend.yml

update documentation
  documentation/changelog.md
  documentation/guides/contribut.md
  documentation/prerequisite.md
  documentation/why.md
Due: .azure-pipelines/backend.yml

Fix typo
  src/conf/application-prod.conf.erb
Due: .azure-pipelines/backend.yml

Fix NoSuchElementException when there was an incoherence in the database
  app/services/MenuService.scala
Due: .azure-pipelines/backend.yml

Update theTeaser.md
  documentation/theTeaser.md
Due: .azure-pipelines/backend.yml

update documentation
  documentation/api/thegardener.json
  documentation/features/administration.md
  documentation/features/documentation.md
  documentation/features/navigation.md
  documentation/features/synchronization.md
  documentation/features/thegardener.json
  documentation/guides/thegardener.json
  documentation/theChangelog.md
  documentation/theTeaser.md
Due: .azure-pipelines/backend.yml

Improve Repositories save, and when delete a branch, also delete all of the linked directories and pages
  app/repository/BranchRepository.scala
  app/repository/DirectoryRepository.scala
  app/repository/FeatureRepository.scala
  app/repository/HierarchyRepository.scala
  app/repository/PageRepository.scala
  app/repository/ProjectRepository.scala
  app/repository/ScenarioRepository.scala
  app/services/ProjectService.scala
  test/features/synchronization/store_directories_and_pages.feature
  test/repository/DirectoryRepositoryTest.scala
Due: .azure-pipelines/backend.yml

Update renovate.json
  renovate.json
Due: .azure-pipelines/backend.yml

Change color for selected items
  frontend/src/app/_components/page/header/header.component.spec.ts
  frontend/src/app/_components/page/header/header.component.ts
  frontend/src/app/output/navigate/navigate-menu/navigate-menu-item/navigate-menu-item.component.html
  frontend/src/app/output/navigate/navigate-menu/navigate-menu-item/navigate-menu-item.component.scss
  frontend/src/app/output/navigate/navigate-menu/navigate-menu-item/navigate-menu-item.component.ts
  frontend/src/app/output/page-content/page-content.component.html
  frontend/src/app/output/page-content/page-content.component.scss
  frontend/src/app/output/page-content/page-content.component.spec.ts
  frontend/src/app/output/page-content/page-content.component.ts
  frontend/src/stylesheets/_colors.scss
Due: .azure-pipelines/frontend.yml

Do not show root directory in hierarchy
  frontend/src/app/_services/menu.service.spec.ts
  frontend/src/app/_services/menu.service.ts
  frontend/src/app/_testUtils/test-data.spec.ts
  frontend/src/app/output/navigate/navigate-menu/navigate-menu-item/navigate-menu-item.component.html
Due: .azure-pipelines/frontend.yml

Update dependency @types/node to v12.7.4
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml
