Repository KelkooGroup/theGardener: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/backend.yml, .azure-pipelines/frontend.yml

.azure-pipelines/backend.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - download: current
    artifact: ivy2
  - script: '[ ! -f /usr/local/bin/sbt ] && echo "deb https://dl.bintray.com/sbt/debian /" | sudo tee -a /etc/apt/sources.list.d/sbt.list
  
  ...

.azure-pipelines/frontend.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: NodeTool@0
    inputs:
      versionSpec: 10.x
    displayName: Install Node.js
  - script: 'npm install -g @angular/cli
  
      npm install
  
      cd ./node_modules/protractor && npm i webdriver-manager@latest && cd ../..
  
      npm run pree2e
  
      '
  ...

Update dependency @types/node to v12.7.2
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update angularcli monorepo
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update angularmaterial monorepo to v8.1.3
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update dependency @types/lodash to v4.14.137
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update dependency less to v3.10.0
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update dependency less to v3.10.1
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Fix scapegoat issue
  app/services/MenuService.scala
Due: .azure-pipelines/backend.yml

Update backend.yml
  .azure-pipelines/backend.yml
Due: .azure-pipelines/backend.yml

Update frontend.yml
  .azure-pipelines/frontend.yml
Due: .azure-pipelines/frontend.yml

split front and back
  .azure-pipelines/backend.yml
  sonar-project.properties
Due: .azure-pipelines/backend.yml

split front and back
  .azure-pipelines/backend.yml
Due: .azure-pipelines/backend.yml

split front and back
  .azure-pipelines/frontend.yml
  frontend/sonar-project.properties
Due: .azure-pipelines/frontend.yml

split front and back
  .azure-pipelines/backend.yml
  .azure-pipelines/frontend.yml
Due: .azure-pipelines/backend.yml, .azure-pipelines/frontend.yml

split front and back
  test.sc
  test/fpmax/fpmax.scala
Due: .azure-pipelines/backend.yml

split front and back
  README.md
Due: .azure-pipelines/backend.yml

Set up CI with Azure Pipelines (#148)
  .azure-pipelines/backend.yml
  .azure-pipelines/frontend.yml
  .travis.yml
  README.md
  build.sbt
  frontend/package-lock.json
  frontend/report.json
  frontend/sonar-project.properties
Due: .azure-pipelines/backend.yml, .azure-pipelines/frontend.yml

Path conditions:
  .azure-pipelines/backend.yml: any file but: frontend, .azure-pipelines/frontend.yml, doc
  .azure-pipelines/frontend.yml: any of: frontend, .azure-pipelines/frontend.yml
