Repository KelkooGroup/theGardener: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/backend.yml, .azure-pipelines/frontend.yml

Path conditions:
  .azure-pipelines/backend.yml: any file but: frontend, .azure-pipelines/frontend.yml, doc
  .azure-pipelines/frontend.yml: any of: frontend, .azure-pipelines/frontend.yml

Save content of updated pages
  app/services/PageService.scala
  app/services/ProjectService.scala
  local-conf/logback.xml
  test/features/synchronization/store_directories_and_pages.feature
  test/steps/CommonSteps.scala
Due: .azure-pipelines/backend.yml

Fix footer
  frontend/src/app/_components/page/footer/footer.component.html
  frontend/src/app/_components/page/footer/footer.component.scss
  frontend/src/app/output/navigate/navigate-menu/navigate-menu-item/navigate-menu-item.component.scss
Due: .azure-pipelines/frontend.yml

Fix markdown parsing
  frontend/src/app/_services/page.service.ts
  frontend/src/app/_testUtils/test-data.spec.ts
Due: .azure-pipelines/frontend.yml

Fix MD display
  frontend/src/app/output/navigate/navigate-page.component.scss
  frontend/src/app/output/page-content/page-content.component.html
  frontend/src/app/output/page-content/page-content.component.scss
Due: .azure-pipelines/frontend.yml

Fix collapse menu
  frontend/src/app/output/navigate/navigate-menu/navigate-menu-item/navigate-menu-item.component.ts
Due: .azure-pipelines/frontend.yml

Fix color
  frontend/src/stylesheets/_colors.scss
Due: .azure-pipelines/frontend.yml

Fix menu color
  frontend/src/app/output/navigate/navigate-menu/navigate-menu-item/navigate-menu-item.component.scss
Due: .azure-pipelines/frontend.yml

Fix Anorm exception when invalid data in the database, fix typo, and fix page and directory meta parsing
  app/controllers/DirectoryController.scala
  app/controllers/GherkinController.scala
  app/controllers/HierarchyController.scala
  app/controllers/PageController.scala
  app/controllers/ProjectController.scala
  app/repositories/BranchRepository.scala
  app/repositories/DirectoryRepository.scala
  app/repositories/FeatureRepository.scala
  app/repositories/GherkinRepository.scala
  app/repositories/HierarchyRepository.scala
  app/repositories/PageRepository.scala
  app/repositories/ProjectRepository.scala
  app/repositories/ScenarioRepository.scala
  app/repositories/TagRepository.scala
  app/services/FeatureService.scala
  app/services/MenuService.scala
  app/services/PageService.scala
  app/services/ProjectService.scala
  local-conf/logback.xml
  test/repositories/BranchRepositoryTest.scala
  test/repositories/DirectoryRepositoryTest.scala
  test/repositories/FeatureRepositoryTest.scala
  test/repositories/GherkinRepositoryTest.scala
  test/repositories/HierarchyRepositoryTest.scala
  test/repositories/PageRepositoryTest.scala
  test/repositories/ProjectRepositoryTest.scala
  test/repositories/ScenarioRepositoryTest.scala
  test/services/FeatureServiceTest.scala
  test/services/MenuServiceTest.scala
  test/services/ProjectServiceTest.scala
  test/steps/CommonSteps.scala
Due: .azure-pipelines/backend.yml

Fix logs
  src/conf/logback.xml.erb
Due: .azure-pipelines/backend.yml

Update README.md
  README.md
Due: .azure-pipelines/backend.yml

provide favicon on the back
  app/controllers/ConfigController.scala
  local-conf/application.conf
  test/features/administration/configuration.feature
  test/steps/CommonSteps.scala
Due: .azure-pipelines/backend.yml

Update angularcli monorepo
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update angular monorepo to v8.2.6
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update angularmaterial monorepo to v8.2.0
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

misspelling on write.md
  documentation/guides/write.md
Due: .azure-pipelines/backend.yml

Fix style
  documentation/guides/write.md
  frontend/src/app/_models/hierarchy.ts
  frontend/src/app/_services/markdown-parser.service.spec.ts
  frontend/src/app/_services/markdown-parser.service.ts
  frontend/src/app/_services/page.service.spec.ts
  frontend/src/app/_services/page.service.ts
  frontend/src/app/_testUtils/test-data.spec.ts
  frontend/src/app/output/navigate/navigate-menu/navigate-menu-item/navigate-menu-item.component.scss
  frontend/src/app/output/navigate/navigate-menu/navigate-menu.component.html
  frontend/src/app/output/navigate/navigate-page.component.scss
  frontend/src/app/output/page-content/page-content.component.html
  frontend/src/app/output/page-content/page-content.component.spec.ts
  frontend/src/app/output/page-content/page-content.component.ts
  thegardener_project.sql
Due: .azure-pipelines/backend.yml, .azure-pipelines/frontend.yml

Fix markdown parsing
  frontend/src/app/_services/markdown-parser.service.spec.ts
  frontend/src/app/_services/markdown-parser.service.ts
  frontend/src/app/_services/page.service.spec.ts
  frontend/src/app/_services/page.service.ts
  frontend/src/app/_testUtils/test-data.spec.ts
  frontend/src/app/output/page-content/page-content.component.html
  frontend/src/app/output/page-content/page-content.component.scss
  frontend/src/app/output/page-content/page-content.component.spec.ts
  thegardener_project.sql
Due: .azure-pipelines/backend.yml, .azure-pipelines/frontend.yml

Configure window title and favicon
  app/controllers/ConfigController.scala
  documentation/guides/configure.md
  documentation/guides/contribute.md
  frontend/src/app/_components/page/footer/footer.component.html
  frontend/src/app/_models/config.ts
  frontend/src/app/_services/config.service.spec.ts
  frontend/src/app/app.component.ts
  frontend/src/assets/images/kelkoogroup/kelkoogroup_favicon.png
  frontend/src/assets/images/kelkoogroup/kelkoogroup_logo.png
  frontend/src/assets/images/kelkoogroup/kelkoogroup_logo_white.png
  frontend/src/index.html
  local-conf/application.conf
  test/features/administration/configuration.feature
Due: .azure-pipelines/backend.yml, .azure-pipelines/frontend.yml

Feature/261 favicon title (#267)
  app/controllers/ConfigController.scala
  documentation/guides/configure.md
  documentation/guides/contribute.md
  documentation/guides/write.md
  frontend/src/app/_components/page/footer/footer.component.html
  frontend/src/app/_models/config.ts
  frontend/src/app/_services/config.service.spec.ts
  frontend/src/app/app.component.ts
  frontend/src/assets/images/kelkoogroup/kelkoogroup_favicon.png
  frontend/src/assets/images/kelkoogroup/kelkoogroup_logo.png
  frontend/src/assets/images/kelkoogroup/kelkoogroup_logo_white.png
  frontend/src/index.html
  local-conf/application.conf
  test/features/administration/configuration.feature
  test/steps/CommonSteps.scala
Due: .azure-pipelines/backend.yml, .azure-pipelines/frontend.yml

add geppetto settings for favicon and title
  frontend/package-lock.json
  frontend/src/app/_testUtils/test-data.spec.ts
  src/conf/application-prod.conf.erb
  src/conf/default_settings.properties
Due: .azure-pipelines/backend.yml, .azure-pipelines/frontend.yml

[ci-skip]prepare release theGardener-0.2.0
  pom.xml
Due: .azure-pipelines/backend.yml

[ci-skip]prepare for next development iteration
  pom.xml
Due: .azure-pipelines/backend.yml

Update dependency webpack to v4.40.1
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update dependency puppeteer to v1.20.0
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update dependency webpack to v4.40.2
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

isAlive
  app/controllers/Application.scala
  conf/routes
Due: .azure-pipelines/backend.yml

next version 0.2.1
  version.sbt
Due: .azure-pipelines/backend.yml

[ci-skip]prepare release theGardener-0.2.1
  pom.xml
Due: .azure-pipelines/backend.yml

Update dependency ts-node to v8.4.1
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

put back theGardener colors
  frontend/src/stylesheets/_colors.scss
Due: .azure-pipelines/frontend.yml

[ci-skip]prepare release theGardener-0.2.2
  pom.xml
Due: .azure-pipelines/backend.yml

Update dependency net.ruippeixotog:scala-scraper_2.12.8 to v2.2.0
  build.sbt
Due: .azure-pipelines/backend.yml

WIP scenario for scenarios inclusion
  app/controllers/PageController.scala
  app/controllers/dto/MenuDTO.scala
  app/controllers/dto/PageDTO.scala
  app/models/Page.scala
  app/repositories/PageRepository.scala
  app/services/PageService.scala
  build.sbt
  test/features/administration/configuration.feature
  test/features/documentation/page/show_a_page.feature
  test/features/documentation/page/show_a_page_with_scenarios.feature
  test/features/documentation/page/show_images.feature
  test/features/navigation/provide_menu.feature
  test/steps/CommonSteps.scala
  version.sbt
Due: .azure-pipelines/backend.yml

add a scenario with long text param
  test/features/documentation/gherkin/show_scenarios.feature
Due: .azure-pipelines/backend.yml

Be able to disable the synchronization from remote
  app/services/ProjectService.scala
  local-conf/application.conf
Due: .azure-pipelines/backend.yml
