Repository KelkooGroup/theGardener: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/backend.yml, .azure-pipelines/frontend.yml

.azure-pipelines/backend.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: CacheBeta@1
    inputs:
      key: sbt | $(Agent.OS) | project/build.properties
      path: /home/vsts/.sbt
    displayName: Sbt build cache
  - task: CacheBeta@1
    inputs:
      key: ivy2 | $(Agent.OS) | build.sbt | project/plugins.sbt
      path: /home/vsts/.ivy2
  ...

.azure-pipelines/frontend.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: NodeTool@0
    inputs:
      versionSpec: 10.x
    displayName: Install Node.js
  - task: CacheBeta@0
    inputs:
      key: npm | $(Agent.OS) | frontend/package-lock.json
      path: frontend/node_modules
    displayName: Cache npm
  ...

Update dependency @types/node to v12.12.22
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update dependency karma-jasmine-html-reporter to v1.5.1
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update dependency core-js to v3.6.1
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update sbt to 1.3.6
  project/build.properties
Due: .azure-pipelines/backend.yml

Close #347,#238,#433,#467
  app/controllers/ConfigController.scala
  documentation/theTeaser.md
  frontend/package-lock.json
  frontend/src/app/_components/page/header/header.component.html
  frontend/src/app/_components/page/header/header.component.scss
  frontend/src/app/_models/config.ts
  frontend/src/app/_models/gherkin.ts
  frontend/src/app/_services/config.service.spec.ts
  frontend/src/app/app.component.ts
  frontend/src/app/output/gherkin/gherkin-table/gherkin-table.component.spec.ts
  frontend/src/app/output/gherkin/gherkin-table/gherkin-table.component.ts
  frontend/src/app/output/gherkin/gherkin.component.html
  frontend/src/app/output/navigate/navigate-content/navigate-content.component.ts
  frontend/src/app/output/navigate/navigate-menu/navigate-menu-item/navigate-menu-item.component.html
  frontend/src/app/output/navigate/navigate-menu/navigate-menu-item/navigate-menu-item.component.scss
  frontend/src/app/output/navigate/navigate-menu/navigate-menu-item/navigate-menu-item.component.spec.ts
  frontend/src/app/output/navigate/navigate-menu/navigate-menu-item/navigate-menu-item.component.ts
  frontend/src/app/output/navigate/navigate-menu/navigate-menu.component.scss
  frontend/src/app/output/navigate/navigate-page.component.html
  frontend/src/app/output/page-content/page-content.component.html
  frontend/src/app/output/page-content/page-content.component.scss
  frontend/src/app/output/page-content/page-content.component.ts
  frontend/src/styles.scss
  frontend/src/stylesheets/_backoffice.scss
  frontend/src/stylesheets/_colors.scss
  local-conf/application.conf
  test/features/administration/configuration.feature
Due: .azure-pipelines/backend.yml, .azure-pipelines/frontend.yml

Close #347,#238,#433,#467
  app/controllers/ConfigController.scala
  documentation/assets/decks/src/.~lock.BDD_TheGardener_roots.pptx#
  documentation/global/documentation/description.md
  frontend/package-lock.json
  frontend/src/app/_components/page/header/header.component.html
  frontend/src/app/_components/page/header/header.component.scss
  frontend/src/app/_models/config.ts
  frontend/src/app/_models/gherkin.ts
  frontend/src/app/_services/config.service.spec.ts
  frontend/src/app/app.component.ts
  frontend/src/app/output/gherkin/gherkin-table/gherkin-table.component.spec.ts
  frontend/src/app/output/gherkin/gherkin-table/gherkin-table.component.ts
  frontend/src/app/output/gherkin/gherkin.component.html
  frontend/src/app/output/navigate/navigate-content/navigate-content.component.ts
  frontend/src/app/output/navigate/navigate-menu/navigate-menu-item/navigate-menu-item.component.html
  frontend/src/app/output/navigate/navigate-menu/navigate-menu-item/navigate-menu-item.component.scss
  frontend/src/app/output/navigate/navigate-menu/navigate-menu-item/navigate-menu-item.component.spec.ts
  frontend/src/app/output/navigate/navigate-menu/navigate-menu-item/navigate-menu-item.component.ts
  frontend/src/app/output/navigate/navigate-menu/navigate-menu.component.scss
  frontend/src/app/output/navigate/navigate-page.component.html
  frontend/src/app/output/page-content/page-content.component.html
  frontend/src/app/output/page-content/page-content.component.scss
  frontend/src/app/output/page-content/page-content.component.ts
  frontend/src/stylesheets/_backoffice.scss
  frontend/src/stylesheets/_colors-thegardener.scss
  frontend/src/stylesheets/_colors.scss
  frontend/src/stylesheets/_kelkoo-colors_blue.scss
  frontend/src/stylesheets/_kelkoo-colors_broun.scss
  frontend/src/stylesheets/_kelkoo-colors_green.scss
  frontend/src/stylesheets/_kelkoo-colors_orange.scss
  local-conf/application.conf
  src/conf/application-prod.conf.erb
  test/features/administration/configuration.feature
Due: .azure-pipelines/backend.yml, .azure-pipelines/frontend.yml

[ci-skip]prepare release theGardener-0.10.0
  pom.xml
Due: none

[ci-skip]prepare for next development iteration
  pom.xml
Due: none

cache as singleton
  app/services/PageService.scala
  test/features/synchronization/store_computed_pages_in_cache.feature
  test/services/PageServiceTest.scala
Due: .azure-pipelines/backend.yml

[ci-skip]prepare release theGardener-0.10.1
  pom.xml
Due: none

Update dependency rxjs to v6.5.4
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update dependency rxjs-compat to v6.5.4
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update dependency webpack to v4.41.5
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update dependency webdriver to v5.18.2
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update sbt to 1.3.6 (#470)
  project/build.properties
Due: .azure-pipelines/backend.yml

Update dependency @types/node to v12.12.23
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update dependency webdriver to v5.18.4
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update dependency @types/node to v12.12.24
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update dependency core-js to v3.6.2
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Compute all pages and put them on cache
  app/services/PageService.scala
  app/services/ProjectService.scala
  test/features/synchronization/compute_and_cache_pages.feature
  test/features/synchronization/store_computed_pages_in_cache.feature
  test/features/synchronization/store_features.feature
  test/features/synchronization/synchronize_resources.feature
  test/steps/CommonSteps.scala
  test/steps/GetFeaturesSteps.scala
  test/steps/StoreDirectoryAndPagesSteps.scala
  test/steps/SynchronizationSteps.scala
Due: .azure-pipelines/backend.yml

[ci-skip]prepare release theGardener-0.10.2
  pom.xml
Due: none

Improve logging
  app/services/PageService.scala
  app/services/ProjectService.scala
Due: .azure-pipelines/backend.yml

Compute all pages and put them on cache
  app/services/PageService.scala
  app/services/ProjectService.scala
  test/features/synchronization/store_computed_pages_in_cache.feature
  test/features/synchronization/store_features.feature
  test/features/synchronization/synchronize_resources.feature
  test/steps/CommonSteps.scala
  test/steps/GetFeaturesSteps.scala
  test/steps/StoreDirectoryAndPagesSteps.scala
  test/steps/SynchronizationSteps.scala
Due: .azure-pipelines/backend.yml

[ci-skip]prepare release theGardener-0.11.0
  pom.xml
Due: none

Path conditions:
  .azure-pipelines/backend.yml: any of: .azure-pipelines/backend.yml, app, conf, local-conf, project, public, test, build.sbt, scalastyle-config.xml, sonar-project.properties, version.sbt
  .azure-pipelines/frontend.yml: any of: .azure-pipelines/frontend.yml, frontend
