Repository KelkooGroup/theGardener: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/backend.yml, .azure-pipelines/frontend.yml

Path conditions:
  .azure-pipelines/backend.yml: any of: .azure-pipelines/backend.yml, app, conf, local-conf, project, public, test, build.sbt, scalastyle-config.xml, sonar-project.properties, version.sbt
  .azure-pipelines/frontend.yml: any of: .azure-pipelines/frontend.yml, frontend

Update dependency @types/jasmine to v3.6.11
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update dependency @types/node to v12.20.12
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update dependency puppeteer to v9.1.1
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update dependency com.h2database:h2 to v1.4.200
  build.sbt
Due: .azure-pipelines/backend.yml

Update dependency eslint-plugin-jsdoc to v33.1.0
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update dependency core-js to v3.11.3
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update angularmaterial monorepo to v11.2.12
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update angular monorepo to v11.2.13
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Revert "Update dependency com.h2database:h2 to v1.4.200"
  build.sbt
Due: .azure-pipelines/backend.yml

Update angularcli monorepo
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update dependency core-js to v3.12.0
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Fix eslint warnings
  frontend/.browserslistrc
  frontend/.editorconfig
  frontend/.gitignore
  frontend/src/app/_services/menu.service.spec.ts
  frontend/src/app/_services/menu.service.ts
  frontend/src/app/_services/page.service.spec.ts
  frontend/src/app/_services/page.service.ts
  frontend/src/app/_services/route.service.spec.ts
  frontend/src/app/_services/route.service.ts
  frontend/src/app/_testUtils/activated-route-stub.spec.ts
  frontend/src/app/_testUtils/test-data.spec.ts
  frontend/src/app/anchor.pipe.spec.ts
  frontend/src/app/anchor.pipe.ts
  frontend/src/app/app-routing.module.ts
  frontend/src/app/internal-link.pipe.spec.ts
  frontend/src/app/internal-link.pipe.ts
  frontend/src/app/output/gherkin/gherkin-long-text/gherkin-long-text.component.ts
  frontend/src/app/output/gherkin/gherkin-step/gherkin-step.component.spec.ts
  frontend/src/app/output/gherkin/gherkin-step/gherkin-step.component.ts
  frontend/src/app/output/gherkin/gherkin-table/gherkin-table.component.spec.ts
  frontend/src/app/output/gherkin/gherkin-table/gherkin-table.component.ts
  frontend/src/app/output/gherkin/gherkin.component.spec.ts
  frontend/src/app/output/navigate/navigate-content/navigate-content.component.spec.ts
  frontend/src/app/output/navigate/navigate-menu/navigate-menu-item/navigate-menu-item.component.spec.ts
  frontend/src/app/output/navigate/navigate-menu/navigate-menu-item/navigate-menu-item.component.ts
  frontend/src/app/output/navigate/navigate-mobile-menu/navigate-mobile-menu.component.ts
  frontend/src/app/output/page-content/open-api-end-points/open-api-end-points.component.ts
  frontend/src/app/output/page-content/page-content.component.ts
  frontend/src/app/output/search/search-page/search-page.component.ts
  frontend/src/app/output/search/search-query/search-query.component.ts
  frontend/src/app/output/search/search-result-item/search-result-item.component.ts
  frontend/src/app/output/search/search-results/search-results.component.ts
  frontend/src/polyfills.ts
  frontend/src/test.ts
  frontend/src/typings.d.ts
Due: .azure-pipelines/frontend.yml

Intergration test working to publisher Markdown content to Confluence
  app/services/clients/ConfluenceClient.scala
  frontend/package-lock.json
  test/services/clients/ConfluenceClientTest.scala
Due: .azure-pipelines/backend.yml, .azure-pipelines/frontend.yml

Fix sonar
  frontend/package-lock.json
  frontend/package.json
  frontend/sonar-project.properties
Due: .azure-pipelines/frontend.yml

Fix sonar warnings
  frontend/src/app/_components/page/header/header.component.spec.ts
  frontend/src/app/_services/menu.service.spec.ts
  frontend/src/app/_services/menu.service.ts
  frontend/src/app/_services/page.service.spec.ts
  frontend/src/app/_services/page.service.ts
  frontend/src/app/_services/route.service.spec.ts
  frontend/src/app/_services/route.service.ts
  frontend/src/app/output/navigate/navigate-content/navigate-content.component.spec.ts
  frontend/src/app/output/navigate/navigate-menu/navigate-menu-item/navigate-menu-item.component.spec.ts
  frontend/src/app/output/page-content/page-content.component.spec.ts
  frontend/src/app/output/page-content/page-content.component.ts
  frontend/src/app/removehtmlsanitizer.pipe.spec.ts
  frontend/src/app/safe.pipe.spec.ts
  frontend/src/app/safe.pipe.ts
Due: .azure-pipelines/frontend.yml

Update dependency @types/jasmine to v3.7.0
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update dependency @types/jasminewd2 to v2.0.9
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update dependency karma-jasmine-html-reporter to v1.6.0
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Activate LaTex rendering
  documentation/Write/IncludeLatex.md
  documentation/Write/thegardener.json
  frontend/angular.json
  frontend/src/app/output/gherkin/gherkin-step/gherkin-step.component.spec.ts
  frontend/src/app/output/gherkin/gherkin-table/gherkin-table.component.spec.ts
  frontend/src/app/output/gherkin/gherkin.component.spec.ts
  frontend/src/app/output/navigate/navigate-content/navigate-content.component.spec.ts
  frontend/src/app/output/page-content/page-content.component.html
  frontend/src/app/output/page-content/page-content.component.spec.ts
Due: .azure-pipelines/frontend.yml

Update version.sbt
  version.sbt
Due: .azure-pipelines/backend.yml

Update Changelog.md
  documentation/Changelog.md
Due: none

Update dependency @types/jasmine to v3.7.1
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update dependency @types/chai to v4.2.18
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update dependency @types/chai-as-promised to v7.1.4
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update dependency eslint to v7.26.0
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml
