Repository KelkooGroup/theGardener: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/backend.yml, .azure-pipelines/frontend.yml

.azure-pipelines/backend.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: CacheBeta@1
    inputs:
      key: sbt | $(Agent.OS) | project/build.properties
      path: /home/vsts/.sbt
    displayName: Sbt build cache
  - task: CacheBeta@1
    inputs:
      key: ivy2 | $(Agent.OS) | build.sbt | project/plugins.sbt
      path: /home/vsts/.ivy2
  ...

.azure-pipelines/frontend.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: NodeTool@0
    inputs:
      versionSpec: 10.x
    displayName: Install Node.js
  - task: CacheBeta@0
    inputs:
      key: npm | $(Agent.OS) | frontend/package-lock.json
      path: frontend/node_modules
    displayName: Cache npm
  ...

Update rxjs to version 7.0.1
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update Webpack to version 5.37.0
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Pin zone.js version to v0.11.4
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Fix build
  frontend/package.json
  frontend/src/styles.scss
Due: .azure-pipelines/frontend.yml

Update angular monorepo to v11.2.14
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update angularcli monorepo
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Polish
  .github/workflows/frontend.yml
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update angularmaterial monorepo to v12
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Fix build
  frontend/package-lock.json
  frontend/package.json
  frontend/src/environments/environment.kelkoo.ts
Due: .azure-pipelines/frontend.yml

Update angular monorepo to v12
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update angularcli monorepo to v12
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Refactor frontend github workflow
  .github/workflows/frontend.yml
Due: none

Update sonar-project.properties
  frontend/sonar-project.properties
Due: .azure-pipelines/frontend.yml

Update dependency @types/jasmine to v3.7.4
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update angular-eslint monorepo to v12
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Fix typo
  frontend/sonar-project.properties
Due: .azure-pipelines/frontend.yml

Update play-json-derived-codecs to 10.0.1
  build.sbt
Due: .azure-pipelines/backend.yml

Update dependency eslint-plugin-jsdoc to v34.1.0
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update cucumber-junit, ... to 6.10.4
  build.sbt
Due: .azure-pipelines/backend.yml

Update dependency eslint-plugin-jsdoc to v34.2.0
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update dependency eslint-plugin-jsdoc to v34.2.2
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update dependency eslint-plugin-import to v2.23.0
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update play-json-derived-codecs to 10.0.2
  build.sbt
Due: .azure-pipelines/backend.yml

Update dependency org.eclipse.jgit:org.eclipse.jgit to v5.11.1.202105131744-r
  build.sbt
Due: .azure-pipelines/backend.yml

Update dependency org.scalatestplus:mockito-3-4 to v3.2.9.0
  build.sbt
Due: .azure-pipelines/backend.yml

Update cucumberVersion for io.cucumber to v6.10.4
  build.sbt
Due: .azure-pipelines/backend.yml

Update dependency eslint-plugin-import to v2.23.1
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update dependency eslint-plugin-import to v2.23.2
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Path conditions:
  .azure-pipelines/backend.yml: any of: .azure-pipelines/backend.yml, app, conf, local-conf, project, public, test, build.sbt, scalastyle-config.xml, sonar-project.properties, version.sbt
  .azure-pipelines/frontend.yml: any of: .azure-pipelines/frontend.yml, frontend
