Repository KelkooGroup/theGardener: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/backend.yml, .azure-pipelines/frontend.yml

Path conditions:
  .azure-pipelines/backend.yml: any of: .azure-pipelines/backend.yml, app, conf, local-conf, project, public, test, build.sbt, scalastyle-config.xml, sonar-project.properties, version.sbt
  .azure-pipelines/frontend.yml: any of: .azure-pipelines/frontend.yml, frontend

CodeFactor feedback
  frontend/src/app/output/page-content/page-content.component.scss
Due: .azure-pipelines/frontend.yml

Clean code
  app/services/PageService.scala
  app/utils/StringUtils.scala
Due: .azure-pipelines/backend.yml

Complete doc
  documentation/Configure/Configure.md
Due: none

Add test case for page for a unknown project
  test/features/documentation/page/show_a_page_error_cases.feature
Due: .azure-pipelines/backend.yml

Proper handling of no project related to a path
  app/services/PageService.scala
Due: .azure-pipelines/backend.yml

create component test swagger ui create route and method in controller
  conf/routes
  frontend/src/app/_models/open-api.ts
  frontend/src/app/output/page-content/open-api-end-points/open-api-end-points.component.css
  frontend/src/app/output/page-content/open-api-end-points/open-api-end-points.component.spec.ts
  frontend/src/app/output/page-content/page-content.component.html
Due: .azure-pipelines/backend.yml, .azure-pipelines/frontend.yml

add backend and part to include openApiPath (test for link between front and back)
  app/models/OpenApi.scala
  conf/routes
  frontend/package-lock.json
  frontend/src/app/_models/open-api.ts
  frontend/src/app/output/page-content/page-content.component.html
Due: .azure-pipelines/backend.yml, .azure-pipelines/frontend.yml

WIP
  build.sbt
  frontend/package-lock.json
Due: .azure-pipelines/backend.yml, .azure-pipelines/frontend.yml

apply change requested
  frontend/src/app/output/page-content/open-api-end-points/open-api-end-points.component.spec.ts
Due: .azure-pipelines/frontend.yml

filter by method on OpenApi end points implemented
  frontend/package-lock.json
Due: .azure-pipelines/frontend.yml

fix try it out button on swagger ui with a proxy
  app/controllers/ConfigController.scala
  app/controllers/OpenApiController.scala
  app/models/OpenApi.scala
  app/services/PageService.scala
  app/services/clients/OpenApiClient.scala
  build.sbt
  conf/routes
  frontend/src/app/_models/config.ts
  frontend/src/app/_models/open-api.ts
  frontend/src/app/_services/page.service.ts
  frontend/src/app/output/page-content/open-api-end-points/open-api-end-points.component.css
  frontend/src/app/output/page-content/open-api-end-points/open-api-end-points.component.ts
  frontend/src/app/output/page-content/open-api-model/open-api-model.component.ts
  test/services/clients/OpenApiClientTest.scala
Due: .azure-pipelines/backend.yml, .azure-pipelines/frontend.yml

Module open api end points display (#650)
  app/controllers/ConfigController.scala
  app/controllers/OpenApiController.scala
  app/models/OpenApi.scala
  app/services/PageService.scala
  app/services/clients/OpenApiClient.scala
  conf/routes
  frontend/package-lock.json
  frontend/src/app/_models/config.ts
  frontend/src/app/_models/open-api.ts
  frontend/src/app/_services/page.service.ts
  frontend/src/app/output/page-content/open-api-end-points/open-api-end-points.component.ts
  frontend/src/app/output/page-content/open-api-model/open-api-model.component.ts
  test/services/clients/OpenApiClientTest.scala
Due: .azure-pipelines/backend.yml, .azure-pipelines/frontend.yml

add conf application.baseUrl
  src/conf/application-prod.conf.erb
Due: none

Update mysql-connector-java to 8.0.20
  build.sbt
Due: .azure-pipelines/backend.yml

Module open api end points display (#650)
  app/controllers/ConfigController.scala
  app/controllers/OpenApiController.scala
  app/models/OpenApi.scala
  app/services/PageService.scala
  app/services/clients/OpenApiClient.scala
  conf/routes
  frontend/src/app/_models/config.ts
  frontend/src/app/_models/open-api.ts
  frontend/src/app/_services/page.service.ts
  frontend/src/app/output/page-content/open-api-end-points/open-api-end-points.component.ts
  frontend/src/app/output/page-content/open-api-model/open-api-model.component.ts
  test/services/clients/OpenApiClientTest.scala
Due: .azure-pipelines/backend.yml, .azure-pipelines/frontend.yml

fix redirection at header level
  app/services/FeatureService.scala
  app/services/GitService.scala
  app/services/MenuService.scala
  app/services/PageService.scala
  app/services/ProjectService.scala
  app/services/clients/OpenApiClient.scala
  app/services/clients/ReplicaClient.scala
  build.sbt
  frontend/src/app/_components/page/header/header.component.spec.ts
  frontend/src/app/_components/page/header/header.component.ts
  test/features/administration/configuration.feature
  test/features/synchronization/synchronize_resources.feature
  test/services/ProjectServiceTest.scala
  test/steps/CommonSteps.scala
Due: .azure-pipelines/backend.yml, .azure-pipelines/frontend.yml

remove singleton and fix redirect
  app/services/FeatureService.scala
  app/services/GitService.scala
  app/services/MenuService.scala
  app/services/PageService.scala
  app/services/ProjectService.scala
  app/services/clients/OpenApiClient.scala
  app/services/clients/ReplicaClient.scala
  build.sbt
  frontend/package-lock.json
  frontend/src/app/_components/page/header/header.component.spec.ts
  frontend/src/app/_components/page/header/header.component.ts
  test/features/administration/configuration.feature
  test/features/synchronization/synchronize_resources.feature
  test/services/ProjectServiceTest.scala
  test/steps/CommonSteps.scala
Due: .azure-pipelines/backend.yml, .azure-pipelines/frontend.yml

font and margin
  frontend/src/index.html
  frontend/src/stylesheets/_backoffice.scss
Due: .azure-pipelines/frontend.yml

PR comments
  frontend/scriptFile.scala
  frontend/src/app/_components/page/header/header.component.html
  frontend/src/app/_components/page/header/header.component.ts
  frontend/src/app/_models/menu.ts
  frontend/src/app/_models/route.ts
  frontend/src/app/_services/route.service.spec.ts
  frontend/src/app/_services/route.service.ts
  frontend/src/app/internal-link.pipe.spec.ts
  frontend/src/app/internal-link.pipe.ts
  frontend/src/app/output/navigate/navigate-menu/navigate-menu-item/navigate-menu-item.component.scss
  frontend/src/stylesheets/_backoffice.scss
Due: .azure-pipelines/frontend.yml

polish
  frontend/src/app/_models/menu.ts
  frontend/src/app/_services/menu.service.ts
  frontend/src/app/_services/route.service.spec.ts
  frontend/src/app/_services/route.service.ts
  frontend/src/app/_testUtils/test-data.spec.ts
  frontend/src/app/output/navigate/navigate-menu/navigate-menu-item/navigate-menu-item.component.spec.ts
  frontend/src/stylesheets/_backoffice.scss
Due: .azure-pipelines/frontend.yml

recent mysql
  build.sbt
Due: .azure-pipelines/backend.yml

fix test with MenuType
  documentation/issues/mocks/openapi_get_endpoint.png
  documentation/issues/mocks/openapi_mocks.ods
  frontend/src/app/_models/menu.ts
  frontend/src/app/_services/menu.service.ts
  frontend/src/app/_services/route.service.spec.ts
  frontend/src/app/_testUtils/test-data.spec.ts
  frontend/src/app/output/navigate/navigate-menu/navigate-menu-item/navigate-menu-item.component.spec.ts
Due: .azure-pipelines/frontend.yml

update documentation
  documentation/Admin/Configure.md
  documentation/Admin/Install.md
  documentation/Admin/Operate.md
  documentation/Admin/thegardener.json
  documentation/Contribute.md
  documentation/Overview.md
  documentation/Write/Basics.md
  documentation/global/assets/images/development_workflow.png
  documentation/global/assets/images/theGardener_project_roles_reader_writer.png
  documentation/global/documentation/description.md
  documentation/thegardener.json
Due: none

update documentation
  documentation/Write/Basics.md
  documentation/Write/thegardener.json
Due: none

[ci-skip]prepare release theGardener-1.2.0
  pom.xml
Due: none

[ci-skip]prepare for next development iteration
  pom.xml
Due: none

fix bookmark
  build.sbt
  documentation/Changelog.md
  documentation/Contribute.md
  frontend/src/app/_components/page/header/header.component.ts
  local-conf/application.conf
Due: .azure-pipelines/backend.yml, .azure-pipelines/frontend.yml

fix bookmark
  documentation/Changelog.md
  documentation/Contribute.md
  frontend/src/app/_components/page/header/header.component.ts
  local-conf/application.conf
Due: .azure-pipelines/backend.yml, .azure-pipelines/frontend.yml

[ci-skip]prepare release theGardener-1.2.1
  pom.xml
Due: none

fix header redirect
  frontend/src/app/_components/page/header/header.component.ts
Due: .azure-pipelines/frontend.yml
