Repository KelkooGroup/theGardener: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/backend.yml, .azure-pipelines/frontend.yml

.azure-pipelines/backend.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: CacheBeta@1
    inputs:
      key: sbt | $(Agent.OS) | project/build.properties
      path: /home/vsts/.sbt
    displayName: Sbt build cache
  - task: CacheBeta@1
    inputs:
      key: ivy2 | $(Agent.OS) | build.sbt | project/plugins.sbt
      path: /home/vsts/.ivy2
  ...

.azure-pipelines/frontend.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: NodeTool@0
    inputs:
      versionSpec: 10.x
    displayName: Install Node.js
  - task: CacheBeta@0
    inputs:
      key: npm | $(Agent.OS) | frontend/package-lock.json
      path: frontend/node_modules
    displayName: Cache npm
  ...

Call refreshAllPagesFromAllProjects in sequence
  app/services/ProjectService.scala
Due: .azure-pipelines/backend.yml

[ci-skip]prepare release theGardener-0.11.1
  pom.xml
Due: none

[ci-skip]prepare for next development iteration
  pom.xml
Due: none

Open more menu items
  frontend/src/app/output/navigate/navigate-menu/navigate-menu-item/navigate-menu-item.component.ts
Due: .azure-pipelines/frontend.yml

[ci-skip]prepare release theGardener-0.12.0
  pom.xml
Due: none

Update angularcli monorepo
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update dependency io.cucumber:cucumber-junit to v4
  build.sbt
Due: .azure-pipelines/backend.yml

Update dependency io.cucumber:cucumber-picocontainer to v4
  build.sbt
Due: .azure-pipelines/backend.yml

Update cucumber-junit, ... to 4.8.1
  build.sbt
Due: .azure-pipelines/backend.yml

Update gherkin to 9.1.0
  build.sbt
Due: .azure-pipelines/backend.yml

Build docker image with sbt
  build.sbt
  docker/application.conf
  documentation/guides/contribute.md
  documentation/guides/install.md
  documentation/guides/thegardener.json
  project/plugins.sbt
Due: .azure-pipelines/backend.yml

Update version.sbt file
  version.sbt
Due: .azure-pipelines/backend.yml

Update dependency core-js to v3.6.3
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update dependency mysql:mysql-connector-java to v8.0.19
  build.sbt
Due: .azure-pipelines/backend.yml

Add Display of OpenApi Model
  build.sbt
  frontend/src/app/_models/openApi.ts
  frontend/src/app/_models/page.ts
  frontend/src/app/app.module.ts
  frontend/src/app/output/page-content/open-api-model/open-api-model.component.html
  frontend/src/app/output/page-content/open-api-model/open-api-model.component.scss
  frontend/src/app/output/page-content/open-api-model/open-api-model.component.spec.ts
  frontend/src/app/output/page-content/open-api-model/open-api-model.component.ts
  frontend/src/app/output/page-content/page-content.component.html
  frontend/src/app/output/page-content/page-content.component.spec.ts
  frontend/src/app/output/page-content/page-content.component.ts
Due: .azure-pipelines/backend.yml, .azure-pipelines/frontend.yml

Update dependency ts-node to v8.6.2
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update dependency core-js to v3.6.4
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

add openApi fragment to the page add OpenApiModel
  app/controllers/dto/PageDTO.scala
  app/models/OpenApi.scala
  app/models/Project.scala
  app/services/PageService.scala
Due: .azure-pipelines/backend.yml

Update sbt to 1.3.7
  project/build.properties
Due: .azure-pipelines/backend.yml

Update dependency node-sass to v4.13.1
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update sbt to 1.3.7 (#494)
  project/build.properties
Due: .azure-pipelines/backend.yml

add custom conf and refresh menu
  documentation/guides/install.md
Due: none

Build docker image with sbt (#450)
  build.sbt
  docker/application.conf
  documentation/guides/contribute.md
  documentation/guides/install.md
  documentation/guides/thegardener.json
  project/plugins.sbt
  version.sbt
Due: .azure-pipelines/backend.yml

Update dependency typescript to v3.7.5
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

review documentation organisation
  documentation/Configure/Configure.md
  documentation/Configure/thegardener.json
  documentation/Contribute/Contribute.md
  documentation/Contribute/thegardener.json
  documentation/Install/Install.md
  documentation/Install/thegardener.json
  documentation/Operate/Operate.md
  documentation/Operate/thegardener.json
  documentation/Write/Write.md
  documentation/Write/thegardener.json
  documentation/guides/read.md
  documentation/guides/roles.md
  documentation/guides/thegardener.json
  documentation/thegardener.json
Due: none

Path conditions:
  .azure-pipelines/backend.yml: any of: .azure-pipelines/backend.yml, app, conf, local-conf, project, public, test, build.sbt, scalastyle-config.xml, sonar-project.properties, version.sbt
  .azure-pipelines/frontend.yml: any of: .azure-pipelines/frontend.yml, frontend
