Repository KelkooGroup/theGardener: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/backend.yml, .azure-pipelines/frontend.yml

Path conditions:
  .azure-pipelines/backend.yml: any of: .azure-pipelines/backend.yml, app, conf, local-conf, project, public, test, build.sbt, scalastyle-config.xml, sonar-project.properties, version.sbt
  .azure-pipelines/frontend.yml: any of: frontend, .azure-pipelines/frontend.yml

Update dependency core-js to v3.4.5
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update angularcli monorepo
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update dependency ts-node to v8.5.3
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

fixing background display bug
  app/services/PageService.scala
  documentation/guides/configure.md
  test/features/documentation/page/show_a_page_with_scenarios.feature
Due: .azure-pipelines/backend.yml

fixing background display bug (#401)
  app/services/PageService.scala
  documentation/guides/configure.md
  test/features/documentation/page/show_a_page_with_scenarios.feature
Due: .azure-pipelines/backend.yml

[ci-skip]prepare release theGardener-0.8.0
  pom.xml
Due: none

[ci-skip]prepare for next development iteration
  pom.xml
Due: none

update operate and configure documentation
  documentation/guides/configure.md
  documentation/guides/operate.md
  test/features/administration/hierarchy/define_hierarchy.feature
  test/features/administration/hierarchy/link_projects_to_hierarchy.feature
  test/features/administration/operation.feature
  test/features/administration/projects/register_a_project.feature
Due: .azure-pipelines/backend.yml

change color to blue
  frontend/src/stylesheets/_colors.scss
Due: .azure-pipelines/frontend.yml

[ci-skip]prepare release theGardener-0.8.1
  pom.xml
Due: none

Update dependency ts-node to v8.5.4
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update h2 to 1.4.200
  build.sbt
Due: .azure-pipelines/backend.yml

Update sbt-scapegoat to 1.0.10
  project/plugins.sbt
Due: .azure-pipelines/backend.yml

Update play-json to 2.8.0
  build.sbt
Due: .azure-pipelines/backend.yml

Update cucumber-junit, ... to 4.8.0
  build.sbt
Due: .azure-pipelines/backend.yml

Update cucumber-scala to 4.7.1
  build.sbt
Due: .azure-pipelines/backend.yml

Update gherkin to 8.2.1
  build.sbt
Due: .azure-pipelines/backend.yml

Update mysql-connector-java to 8.0.18
  build.sbt
Due: .azure-pipelines/backend.yml

Update org.eclipse.jgit to 5.1.12.201910011832-r
  build.sbt
Due: .azure-pipelines/backend.yml

Update sbt to 1.3.4
  project/build.properties
Due: .azure-pipelines/backend.yml

Update sbt-scoverage to 1.6.1
  project/plugins.sbt
Due: .azure-pipelines/backend.yml

[ci-skip]prepare release theGardener-0.8.2
  pom.xml
Due: none

change color to orange
  frontend/src/stylesheets/_colors.scss
Due: .azure-pipelines/frontend.yml

Update pom.xml version
  pom.xml
Due: none

[ci-skip]prepare release theGardener-0.8.3
  pom.xml
Due: none

Update dependency webdriver to v5.16.11
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

add banner
  documentation/global/documentation/description.md
Due: none

Update dependency core-js to v3.4.7
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update dependency @types/chai to v4.2.6
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml
