Repository KelkooGroup/theGardener: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/backend.yml, .azure-pipelines/frontend.yml

Path conditions:
  .azure-pipelines/backend.yml: any file but: frontend, .azure-pipelines/frontend.yml, doc
  .azure-pipelines/frontend.yml: any of: frontend, .azure-pipelines/frontend.yml

fix image urls
  app/services/PageService.scala
  test/features/documentation/page/show_images.feature
Due: .azure-pipelines/backend.yml

Implement include scenario on the backend
  app/controllers/PageController.scala
  app/controllers/dto/PageDTO.scala
  app/repositories/GherkinRepository.scala
  app/services/PageService.scala
  frontend/src/app/output/gherkin/gherkin.component.html
  frontend/src/app/output/gherkin/gherkin.component.spec.ts
  test/features/documentation/page/show_a_page_with_external_page.feature
  test/features/documentation/page/show_a_page_with_scenarios.feature
Due: .azure-pipelines/backend.yml, .azure-pipelines/frontend.yml

Include gherkin scenario
  frontend/src/app/_models/hierarchy.ts
  frontend/src/app/_testUtils/test-data.spec.ts
  frontend/src/app/app.module.ts
  frontend/src/app/output/gherkin/gherkin-background/gherkin-background.component.html
  frontend/src/app/output/gherkin/gherkin-background/gherkin-background.component.spec.ts
  frontend/src/app/output/gherkin/gherkin-background/gherkin-background.component.ts
  frontend/src/app/output/gherkin/gherkin-feature/gherkin-feature.component.html
  frontend/src/app/output/gherkin/gherkin-feature/gherkin-feature.component.scss
  frontend/src/app/output/gherkin/gherkin-feature/gherkin-feature.component.ts
  frontend/src/app/output/gherkin/gherkin-long-text/gherkin-long-text.component.html
  frontend/src/app/output/gherkin/gherkin-long-text/gherkin-long-text.component.spec.ts
  frontend/src/app/output/gherkin/gherkin-long-text/gherkin-long-text.component.ts
  frontend/src/app/output/gherkin/gherkin-step/gherkin-step.component.html
  frontend/src/app/output/gherkin/gherkin-step/gherkin-step.component.spec.ts
  frontend/src/app/output/gherkin/gherkin-step/gherkin-step.component.ts
  frontend/src/app/output/gherkin/gherkin-table/gherkin-table.component.html
  frontend/src/app/output/gherkin/gherkin-table/gherkin-table.component.spec.ts
  frontend/src/app/output/gherkin/gherkin-table/gherkin-table.component.ts
  frontend/src/app/output/gherkin/gherkin.component.html
  frontend/src/app/output/gherkin/gherkin.component.ts
  frontend/src/app/output/page-content/page-content.component.spec.ts
Due: .azure-pipelines/frontend.yml

Add logs to understand what happens with navigation
  frontend/src/app/output/navigate/navigate-content/navigate-content.component.ts
  frontend/src/app/output/navigate/navigate-menu/navigate-menu-item/navigate-menu-item.component.ts
Due: .azure-pipelines/frontend.yml

compute page only when the page has changed on the remote server
  app/controllers/PageController.scala
  app/services/PageService.scala
  documentation/features/synchronization.md
  test/features/documentation/gherkin/filter_scenarios.feature
  test/features/documentation/gherkin/show_scenarios.feature
  test/features/documentation/page/show_a_page_with_scenarios.feature
  test/features/synchronization/store_computed_pages_in_cache.feature
  test/features/synchronization/store_directories_and_pages.feature
  test/steps/CommonSteps.scala
  test/steps/GetFeaturesSteps.scala
  test/steps/StoreDirectoryAndPagesSteps.scala
Due: .azure-pipelines/backend.yml

Improve display of scenarios
  .gitignore
  frontend/src/app/_services/page.service.spec.ts
  frontend/src/app/_testUtils/test-data.spec.ts
  frontend/src/app/app.component.css
  frontend/src/app/app.component.html
  frontend/src/app/app.component.scss
  frontend/src/app/app.component.ts
  frontend/src/app/app.module.ts
  frontend/src/app/output/gherkin/gherkin-background/gherkin-background.component.html
  frontend/src/app/output/gherkin/gherkin-background/gherkin-background.component.scss
  frontend/src/app/output/gherkin/gherkin-background/gherkin-background.component.spec.ts
  frontend/src/app/output/gherkin/gherkin-background/gherkin-background.component.ts
  frontend/src/app/output/gherkin/gherkin-step/gherkin-step.component.spec.ts
  frontend/src/app/output/gherkin/gherkin.component.html
  frontend/src/app/output/gherkin/gherkin.component.scss
  frontend/src/app/output/gherkin/gherkin.component.ts
  frontend/src/app/output/navigate/navigate-content/navigate-content.component.html
  frontend/src/app/output/navigate/navigate-content/navigate-content.component.scss
  frontend/src/app/output/navigate/navigate-content/navigate-content.component.ts
  frontend/src/app/output/navigate/navigate-page.component.scss
  frontend/src/app/output/page-content/page-content.component.html
  frontend/src/app/output/page-content/page-content.component.scss
  frontend/src/app/output/page-content/page-content.component.spec.ts
Due: .azure-pipelines/backend.yml, .azure-pipelines/frontend.yml

Refactor models
  frontend/src/app/_models/gherkin.ts
  frontend/src/app/_models/hierarchy.ts
  frontend/src/app/_models/page.ts
  frontend/src/app/_services/gherkin.service.spec.ts
  frontend/src/app/_services/gherkin.service.ts
  frontend/src/app/_services/page.service.spec.ts
  frontend/src/app/_services/page.service.ts
  frontend/src/app/app.module.ts
  frontend/src/app/output/gherkin/gherkin-step/gherkin-step.component.spec.ts
  frontend/src/app/output/gherkin/gherkin-step/gherkin-step.component.ts
  frontend/src/app/output/gherkin/gherkin-table/gherkin-table.component.ts
  frontend/src/app/output/gherkin/gherkin.component.ts
  frontend/src/app/output/page-content/page-content.component.spec.ts
  frontend/src/app/output/page-content/page-content.component.ts
Due: .azure-pipelines/frontend.yml

baseUrl optional
  app/services/PageService.scala
  test/features/synchronization/compute_and_cache_pages.feature
Due: .azure-pipelines/backend.yml

Update dependency mysql:mysql-connector-java to v5.1.48
  build.sbt
Due: .azure-pipelines/backend.yml

adapt with backend changes on extranet link
  app/services/PageService.scala
  build.sbt
  documentation/assets/images/theGardener_role_writer.png
  documentation/assets/images/theGardener_sychronize.png
  documentation/features/administration.md
  documentation/features/synchronization.md
  documentation/guides/write.md
  frontend/src/app/_models/page.ts
  frontend/src/app/_services/page.service.spec.ts
  frontend/src/app/_services/page.service.ts
  frontend/src/app/_testUtils/test-data.spec.ts
  frontend/src/app/output/gherkin/gherkin.component.html
  frontend/src/app/output/gherkin/gherkin.component.spec.ts
  frontend/src/app/output/page-content/page-content.component.html
  frontend/src/app/output/page-content/page-content.component.spec.ts
  frontend/src/app/output/page-content/page-content.component.ts
  test/features/administration/configuration.feature
  test/features/navigation/provide_menu.feature
  test/features/synchronization/synchronize_resources.feature
Due: .azure-pipelines/backend.yml, .azure-pipelines/frontend.yml

Fix scenario inclusion
  frontend/src/app/_models/hierarchy.ts
  frontend/src/app/_services/page.service.ts
  frontend/src/app/output/gherkin/gherkin-step/gherkin-step.component.html
  frontend/src/app/output/gherkin/gherkin-step/gherkin-step.component.scss
  frontend/src/app/output/gherkin/gherkin.component.html
  frontend/src/app/output/gherkin/gherkin.component.ts
  frontend/src/app/output/page-content/page-content.component.html
Due: .azure-pipelines/frontend.yml

Fix tests
  frontend/src/app/output/gherkin/gherkin-long-text/gherkin-long-text.component.spec.ts
  frontend/src/app/output/gherkin/gherkin.component.spec.ts
Due: .azure-pipelines/frontend.yml

remove useless file
  thegardener_project.sql
Due: .azure-pipelines/backend.yml

scenario with complex markdown
  app/services/PageService.scala
  test/features/documentation/gherkin/filter_scenarios.feature
  test/features/documentation/page/show_a_page.feature
  test/features/documentation/page/show_a_page_with_complex_markdown.feature
  test/features/documentation/page/show_a_page_with_scenarios.feature
  test/features/synchronization/synchronize_another_instance.feature
Due: .azure-pipelines/backend.yml

add the_gardener_replica_url in geppetto
  src/conf/application-prod.conf.erb
Due: .azure-pipelines/backend.yml

corner case on page meta
  app/services/PageService.scala
  documentation/assets/images/theGardener_architecture.png
  documentation/assets/images/theGardener_role_writer.png
  documentation/guides/write.md
  test/features/synchronization/store_directories_and_pages.feature
Due: .azure-pipelines/backend.yml

corner case on page meta
  app/services/PageService.scala
  documentation/api/tryit.md
  documentation/assets/images/theGardener_architecture.png
  documentation/assets/images/theGardener_role_writer.png
  documentation/guides/write.md
  test/features/synchronization/store_directories_and_pages.feature
Due: .azure-pipelines/backend.yml

Add icon for scenarios
  frontend/src/app/output/gherkin/gherkin.component.html
  frontend/src/app/output/gherkin/gherkin.component.scss
  frontend/src/app/output/gherkin/gherkin.component.spec.ts
  frontend/src/stylesheets/_colors.scss
Due: .azure-pipelines/frontend.yml

corner case on page meta
  documentation/guides/write.md
Due: .azure-pipelines/backend.yml

[ci-skip]prepare release theGardener-0.4.0
  pom.xml
Due: .azure-pipelines/backend.yml

[ci-skip]prepare for next development iteration
  pom.xml
Due: .azure-pipelines/backend.yml

Update and rename blank.yml to frontend.yml
  .github/workflows/frontend.yml
Due: .azure-pipelines/backend.yml

Update dependency @types/jasmine to v3.4.2
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update dependency com.github.ghik:silencer-lib to v1.4.4
  build.sbt
Due: .azure-pipelines/backend.yml

Update dependency @types/jasminewd2 to v2.0.8
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update dependency @types/node to v12.7.8
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update dependency @types/node to v12.7.9
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update angular monorepo to v8.2.9
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update angularcli monorepo
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update angularmaterial monorepo to v8.2.2
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update dependency @types/chai to v4.2.3
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update dependency @types/lodash to v4.14.141
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml
