Repository KelkooGroup/theGardener: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/backend.yml, .azure-pipelines/frontend.yml

Path conditions:
  .azure-pipelines/backend.yml: any file but: frontend, .azure-pipelines/frontend.yml, doc
  .azure-pipelines/frontend.yml: any of: frontend, .azure-pipelines/frontend.yml

Update dependency ngx-markdown to v8.2.1
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update dependency mysql:mysql-connector-java to v8.0.18
  build.sbt
Due: .azure-pipelines/backend.yml

Update dependency core-js to v3.3.2
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update dependency webpack to v4.41.2
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update angular monorepo to v8.2.11
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update dependency @types/node to v12.11.1
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

change BDD scenario to fit the new way of handling pages Variables remplacment done merge master into this banch done
  app/controllers/PageController.scala
  app/models/Project.scala
  app/repositories/ProjectRepository.scala
  app/services/PageService.scala
  app/services/ProjectService.scala
  test/features/documentation/page/show_a_page_with_variables.feature
  test/features/documentation/page/show_images.feature
  test/steps/CommonSteps.scala
Due: .azure-pipelines/backend.yml

updates routes with 2 new end point to get and updates variables of a project
  app/controllers/ProjectController.scala
  conf/routes
Due: .azure-pipelines/backend.yml

add some tests for PageService
  test/services/PageServiceTest.scala
Due: .azure-pipelines/backend.yml

Update angularcli monorepo
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update dependency karma to v4.4.0
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Add BDD scenario for variables administration
  test/features/administration/projects/variables.feature
Due: .azure-pipelines/backend.yml

Implementation of get and post for variables
  app/controllers/ProjectController.scala
  conf/routes
  test/features/administration/projects/register_a_project.feature
  test/features/administration/projects/variables.feature
  test/features/documentation/page/show_a_page_with_complex_markdown.feature
  test/features/documentation/page/show_a_page_with_variables.feature
  test/features/documentation/page/show_images.feature
Due: .azure-pipelines/backend.yml

more robustness when refactoring on pages and directories
  app/repositories/DirectoryRepository.scala
  app/repositories/PageRepository.scala
  app/services/PageService.scala
  app/services/ProjectService.scala
  frontend/package-lock.json
  test/features/synchronization/store_directories_and_pages.feature
Due: .azure-pipelines/backend.yml, .azure-pipelines/frontend.yml

Change BDD scenario and apply variables on external page
  app/services/PageService.scala
  test/features/administration/projects/variables.feature
  test/features/documentation/page/show_a_page_with_complex_markdown.feature
  test/services/PageServiceTest.scala
  test/steps/CommonSteps.scala
Due: .azure-pipelines/backend.yml

Change write.md to fit variable
  documentation/guides/write.md
Due: .azure-pipelines/backend.yml

replace / by _ on branch name on the item menu + 1 test
  app/services/ProjectService.scala
  build.sbt
  frontend/package-lock.json
  frontend/src/app/output/gherkin/gherkin-long-text/gherkin-long-text.component.html
  frontend/src/app/output/gherkin/gherkin-step/gherkin-step.component.spec.ts
  frontend/src/app/output/gherkin/gherkin.component.html
  frontend/src/app/output/navigate/navigate-content/navigate-content.component.spec.ts
  frontend/src/app/output/navigate/navigate-menu/navigate-menu-item/navigate-menu-item.component.scss
  frontend/src/app/output/navigate/navigate-menu/navigate-menu-item/navigate-menu-item.component.spec.ts
  frontend/src/app/output/navigate/navigate-menu/navigate-menu-item/navigate-menu-item.component.ts
Due: .azure-pipelines/backend.yml, .azure-pipelines/frontend.yml

more robustness when refactoring on pages and directories (#329)
  app/repositories/DirectoryRepository.scala
  app/repositories/PageRepository.scala
  app/services/PageService.scala
  app/services/ProjectService.scala
  frontend/package-lock.json
  test/features/synchronization/store_directories_and_pages.feature
Due: .azure-pipelines/backend.yml, .azure-pipelines/frontend.yml

put back mysql 8
  build.sbt
Due: .azure-pipelines/backend.yml

Restore commented test
  frontend/src/app/output/navigate/navigate-content/navigate-content.component.spec.ts
Due: .azure-pipelines/frontend.yml

replace / by _ on branch name on the item menu + 1 test (#330)
  app/services/ProjectService.scala
  frontend/package-lock.json
  frontend/src/app/output/gherkin/gherkin-long-text/gherkin-long-text.component.html
  frontend/src/app/output/gherkin/gherkin-step/gherkin-step.component.spec.ts
  frontend/src/app/output/gherkin/gherkin.component.html
  frontend/src/app/output/navigate/navigate-menu/navigate-menu-item/navigate-menu-item.component.scss
  frontend/src/app/output/navigate/navigate-menu/navigate-menu-item/navigate-menu-item.component.spec.ts
  frontend/src/app/output/navigate/navigate-menu/navigate-menu-item/navigate-menu-item.component.ts
Due: .azure-pipelines/backend.yml, .azure-pipelines/frontend.yml

Pages on node
  app/controllers/DirectoryController.scala
  app/controllers/dto/MenuDTO.scala
  app/models/HierarchyNode.scala
  app/models/Menu.scala
  app/repositories/DirectoryRepository.scala
  app/repositories/HierarchyRepository.scala
  app/services/MenuService.scala
  conf/evolutions/default/2.sql
  test/features/navigation/provide_menu.feature
  test/steps/DefineHierarchySteps.scala
Due: .azure-pipelines/backend.yml

Fix bug on variables in externalPage
  app/models/Project.scala
  app/services/PageService.scala
  app/services/ProjectService.scala
  test/features/administration/projects/variables.feature
  test/features/documentation/page/show_a_page_with_complex_markdown.feature
  test/services/PageServiceTest.scala
Due: .azure-pipelines/backend.yml

comment test that do not compile any more
  build.sbt
  frontend/src/app/output/navigate/navigate-content/navigate-content.component.spec.ts
Due: .azure-pipelines/backend.yml, .azure-pipelines/frontend.yml

put back kelkoo dependencies
  build.sbt
Due: .azure-pipelines/backend.yml

Update app/repositories/ProjectRepository.scala
  app/repositories/ProjectRepository.scala
Due: .azure-pipelines/backend.yml

next version is 0.5.0
  pom.xml
Due: .azure-pipelines/backend.yml

Update conf/routes
  build.sbt
  conf/routes
  test/features/administration/projects/variables.feature
  test/steps/CommonSteps.scala
Due: .azure-pipelines/backend.yml

Variable concept (#331)
  app/controllers/PageController.scala
  app/controllers/ProjectController.scala
  app/models/Project.scala
  app/repositories/ProjectRepository.scala
  app/services/PageService.scala
  app/services/ProjectService.scala
  build.sbt
  conf/evolutions/default/1.sql
  conf/routes
  documentation/context/goal.md
  documentation/context/thegardener.json
  documentation/description.md
  documentation/guides/write.md
  test/features/administration/projects/register_a_project.feature
  test/features/administration/projects/variables.feature
  test/features/documentation/page/show_a_page_with_complex_markdown.feature
  test/features/documentation/page/show_a_page_with_variables.feature
  test/services/PageServiceTest.scala
  test/steps/CommonSteps.scala
Due: .azure-pipelines/backend.yml

Update dependency io.cucumber:cucumber-junit to v4
  build.sbt
Due: .azure-pipelines/backend.yml

Update dependency io.cucumber:cucumber-picocontainer to v4
  build.sbt
Due: .azure-pipelines/backend.yml

Update dependency io.cucumber:cucumber-scala_2.12.8 to v4
  build.sbt
Due: .azure-pipelines/backend.yml

Update dependency karma to v4.4.1
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml
