Repository KelkooGroup/theGardener: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/backend.yml, .azure-pipelines/frontend.yml

Path conditions:
  .azure-pipelines/backend.yml: any of: .azure-pipelines/backend.yml, app, conf, local-conf, project, public, test, build.sbt, scalastyle-config.xml, sonar-project.properties, version.sbt
  .azure-pipelines/frontend.yml: any of: .azure-pipelines/frontend.yml, frontend

Update scalatestplus-play to 5.0.0
  build.sbt
Due: .azure-pipelines/backend.yml

add documentation for anchors add anchor sign next to the title to add it in the url
  build.sbt
  documentation/guides/write.md
  frontend/src/app/anchor.pipe.spec.ts
  frontend/src/app/anchor.pipe.ts
  frontend/src/app/app.module.ts
  frontend/src/app/output/navigate/navigate-menu/navigate-menu-item/navigate-menu-item.component.spec.ts
  frontend/src/app/output/page-content/page-content.component.html
Due: .azure-pipelines/backend.yml, .azure-pipelines/frontend.yml

Update sbt to 1.3.5
  project/build.properties
Due: .azure-pipelines/backend.yml

Update sbt to 1.3.5 (#449)
  project/build.properties
Due: .azure-pipelines/backend.yml

Update org.eclipse.jgit to 5.6.0.201912101111-r (#447)
  build.sbt
Due: .azure-pipelines/backend.yml

Update dependency io.cucumber:cucumber-scala_2.12.8 to v4
  build.sbt
Due: .azure-pipelines/backend.yml

Update dependency org.scalatestplus.play:scalatestplus-play_2.12.8 to v5
  build.sbt
Due: .azure-pipelines/backend.yml

Update dependency webpack to v4.41.3
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

change documentation for anchors Implement internal links with anchors
  documentation/guides/write.md
  frontend/src/app/internal-link.pipe.spec.ts
  frontend/src/app/output/page-content/page-content.component.ts
Due: .azure-pipelines/frontend.yml

Update dependency @types/node to v12.12.18
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update dependency @types/node to v12.12.19
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update dependency @types/node to v12.12.20
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

change documentation for anchors Implement internal links with anchors
  documentation/guides/write.md
  frontend/src/app/_testUtils/activated-route-stub.spec.ts
  frontend/src/app/anchor.pipe.spec.ts
  frontend/src/app/anchor.pipe.ts
  frontend/src/app/internal-link.pipe.spec.ts
  frontend/src/app/output/page-content/page-content.component.spec.ts
  frontend/src/app/output/page-content/page-content.component.ts
  frontend/src/styles.scss
Due: .azure-pipelines/frontend.yml

Update dependency webdriver to v5.17.0
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Anchor on title and sub title (#455)
  documentation/guides/write.md
  frontend/src/app/_testUtils/activated-route-stub.spec.ts
  frontend/src/app/anchor.pipe.spec.ts
  frontend/src/app/anchor.pipe.ts
  frontend/src/app/app.module.ts
  frontend/src/app/internal-link.pipe.spec.ts
  frontend/src/app/output/navigate/navigate-menu/navigate-menu-item/navigate-menu-item.component.spec.ts
  frontend/src/app/output/page-content/page-content.component.html
  frontend/src/app/output/page-content/page-content.component.spec.ts
  frontend/src/app/output/page-content/page-content.component.ts
  frontend/src/styles.scss
Due: .azure-pipelines/frontend.yml

Update dependency @types/node to v12.12.21
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

[ci-skip]prepare release theGardener-0.9.0
  pom.xml
Due: none

[ci-skip]prepare for next development iteration
  pom.xml
Due: none

change color to blue
  frontend/src/stylesheets/_colors.scss
Due: .azure-pipelines/frontend.yml

[ci-skip]prepare release theGardener-0.9.1
  pom.xml
Due: none

Update dependency codelyzer to v5.2.1
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update dependency core-js to v3.6.0
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update dependency webpack to v4.41.4
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

[ci-skip]prepare release theGardener-0.9.2
  pom.xml
Due: none

change color to green
  frontend/src/stylesheets/_colors.scss
Due: .azure-pipelines/frontend.yml

[ci-skip]prepare release theGardener-0.9.3
  pom.xml
Due: none

Update dependency org.julienrf:play-json-derived-codecs_2.12.8 to v7
  build.sbt
Due: .azure-pipelines/backend.yml

Update dependency com.typesafe.play:play-json_2.12.8 to v2.8.1
  build.sbt
Due: .azure-pipelines/backend.yml

Update gherkin to 9.0.0
  build.sbt
Due: .azure-pipelines/backend.yml

Update dependency webdriver to v5.18.0
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update angularcli monorepo
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml
