Repository KelkooGroup/theGardener: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/backend.yml, .azure-pipelines/frontend.yml

.azure-pipelines/backend.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: CacheBeta@1
    inputs:
      key: sbt | $(Agent.OS) | project/build.properties
      path: /home/vsts/.sbt
    displayName: Sbt build cache
  - task: CacheBeta@1
    inputs:
      key: ivy2 | $(Agent.OS) | build.sbt | project/plugins.sbt
      path: /home/vsts/.ivy2
  ...

.azure-pipelines/frontend.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: NodeTool@0
    inputs:
      versionSpec: 10.x
    displayName: Install Node.js
  - task: CacheBeta@0
    inputs:
      key: npm | $(Agent.OS) | frontend/package-lock.json
      path: frontend/node_modules
    displayName: Cache npm
  ...

Update angular-eslint monorepo to v4.2.0
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update angular monorepo to v11.2.12
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update angularmaterial monorepo to v11.2.11
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update angularcli monorepo
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update dependency sass to v1.32.12
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update dependency less to v4
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update dependency protractor-cucumber-framework to v8
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update dependency ts-node to v9
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update dependency puppeteer to v9
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update dependency webdriver to v7
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update dependency org.scalatestplus.play:scalatestplus-play to v5
  build.sbt
Due: .azure-pipelines/backend.yml

Update dependency org.scalatestplus.play:scalatestplus-play to v5
  build.sbt
  project/plugins.sbt
  test/services/FeatureServiceTest.scala
  test/services/GitServiceTest.scala
  test/services/MenuServiceTest.scala
  test/services/PageServiceTest.scala
  test/services/ProjectServiceTest.scala
  test/services/SearchServiceTest.scala
  test/services/clients/OpenApiClientTest.scala
  test/steps/CommonSteps.scala
Due: .azure-pipelines/backend.yml

Update sbt-scalafix to 0.9.27
  project/plugins.sbt
Due: .azure-pipelines/backend.yml

Update dependency ch.epfl.scala:sbt-scalafix to v0.9.27
  project/plugins.sbt
Due: .azure-pipelines/backend.yml

Update dependency io.cucumber:gherkin to v18
  build.sbt
Due: .azure-pipelines/backend.yml

Update dependency swagger-ui-dist to v3.48.0
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update dependency eslint-plugin-jsdoc to v32.3.4
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update dependency eslint-plugin-jsdoc to v33
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update CODEOWNERS
  CODEOWNERS
Due: none

Update dependency webdriver to v7.5.3
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update dependency core-js to v3.11.2
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update dependency puppeteer to v9.1.0
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update dependency protractor-cucumber-framework to v8.0.4
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update typescript-eslint monorepo to v4.22.1
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update config service
  frontend/src/app/_models/config.ts
  frontend/src/app/_services/config.service.spec.ts
Due: .azure-pipelines/frontend.yml

Add translate configuration
  app/controllers/ConfigController.scala
  local-conf/application.conf
  test/features/administration/configuration.feature
Due: .azure-pipelines/backend.yml

Add Translate select box
  frontend/.browserslistrc
  frontend/.npmrc
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/_components/page/header/header.component.html
  frontend/src/app/_components/page/header/header.component.scss
  frontend/src/app/_components/page/header/header.component.spec.ts
  frontend/src/app/_components/page/header/header.component.ts
  frontend/src/app/_services/config.service.spec.ts
  frontend/src/app/app.component.html
  frontend/src/app/app.component.ts
Due: .azure-pipelines/frontend.yml

Fix CSS
  frontend/src/app/_components/page/header/header.component.scss
Due: .azure-pipelines/frontend.yml

Path conditions:
  .azure-pipelines/backend.yml: any of: .azure-pipelines/backend.yml, app, conf, local-conf, project, public, test, build.sbt, scalastyle-config.xml, sonar-project.properties, version.sbt
  .azure-pipelines/frontend.yml: any of: .azure-pipelines/frontend.yml, frontend
