Repository KelkooGroup/theGardener: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/backend.yml, .azure-pipelines/frontend.yml

Path conditions:
  .azure-pipelines/backend.yml: any of: .azure-pipelines/backend.yml, app, conf, local-conf, project, public, test, build.sbt, scalastyle-config.xml, sonar-project.properties, version.sbt
  .azure-pipelines/frontend.yml: any of: .azure-pipelines/frontend.yml, frontend

Update angular-cli monorepo to v13.3.0
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update angularmaterial monorepo to v13.3.0
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update dependency webdriver to v7.18.0
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update dependency eslint-plugin-unicorn to v41.0.1
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update dependency webdriver to v7.18.1
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update dependency protractor-cucumber-framework to v8.4.0
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update actions/cache action to v3
  .github/workflows/backend.yml
  .github/workflows/frontend.yml
Due: none

Update typescript-eslint monorepo to v5.16.0
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update dependency swagger-ui-dist to v4.7.0
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update dependency webdriver to v7.19.0
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update dependency swagger-ui-dist to v4.8.1
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update angularmaterial monorepo to v13.3.1
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update dependency webdriver to v7.19.1
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update dependency swagger-ui-dist to v4.9.0
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update dependency typescript to v4.6.3
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update dependency prettier to v2.6.1
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update filters-helpers, play-ahc-ws, ... to 2.8.14
  project/plugins.sbt
Due: .azure-pipelines/backend.yml

Update dependency com.typesafe.play:sbt-plugin to v2.8.14
  project/plugins.sbt
Due: .azure-pipelines/backend.yml

Update mariadb-java-client to 3.0.4
  build.sbt
Due: .azure-pipelines/backend.yml

Update dependency org.mariadb.jdbc:mariadb-java-client to v3.0.4
  build.sbt
Due: .azure-pipelines/backend.yml

Update dependency swagger-ui-dist to v4.9.1
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update dependency eslint to v8.12.0
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update dependency swagger-ui-dist to v4.10.0
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml
