Repository KelkooGroup/theGardener: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/backend.yml, .azure-pipelines/frontend.yml

Path conditions:
  .azure-pipelines/backend.yml: any of: .azure-pipelines/backend.yml, app, conf, local-conf, project, public, test, build.sbt, scalastyle-config.xml, sonar-project.properties, version.sbt
  .azure-pipelines/frontend.yml: any of: .azure-pipelines/frontend.yml, frontend

Update play-json-derived-codecs to 7.0.0
  build.sbt
Due: .azure-pipelines/backend.yml

Implement the nominal case of show_a_page_with_openApiModule
  app/models/OpenApi.scala
  app/services/PageService.scala
  test/features/documentation/page/show_a_page_with_openApiModule.feature
  test/steps/CommonSteps.scala
Due: .azure-pipelines/backend.yml

Update dependency webdriver to v5.18.6
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Add Display of OpenApi Model
  build.sbt
  frontend/src/app/_models/openApi.ts
  frontend/src/app/_models/page.ts
  frontend/src/app/app.module.ts
  frontend/src/app/output/page-content/open-api-model/open-api-model.component.html
  frontend/src/app/output/page-content/open-api-model/open-api-model.component.scss
  frontend/src/app/output/page-content/open-api-model/open-api-model.component.spec.ts
  frontend/src/app/output/page-content/open-api-model/open-api-model.component.ts
  frontend/src/app/output/page-content/page-content.component.html
  frontend/src/app/output/page-content/page-content.component.spec.ts
  frontend/src/app/output/page-content/page-content.component.ts
Due: .azure-pipelines/backend.yml, .azure-pipelines/frontend.yml

add openApi fragment to the page add OpenApiModel
  app/controllers/dto/PageDTO.scala
  app/models/OpenApi.scala
  app/models/Project.scala
  app/services/PageService.scala
Due: .azure-pipelines/backend.yml

Add dependOnOpenApi on page model create a schedule for the refresh of pages depending on open Api stored in cache (WIP)
  app/models/Page.scala
  app/repositories/PageRepository.scala
  app/services/PageService.scala
  conf/evolutions/default/3.sql
Due: .azure-pipelines/backend.yml

Update dependency @types/jasmine to v3.5.1
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

v1.0.0
  documentation/Changelog.md
  version.sbt
Due: .azure-pipelines/backend.yml

[ci-skip]prepare release theGardener-0.13.0
  pom.xml
Due: none

[ci-skip]prepare for next development iteration
  pom.xml
Due: none

[ci-skip]prepare release theGardener-1.0.0
  pom.xml
Due: none

Update cucumber-junit, ... to 5.0.0
  build.sbt
Due: .azure-pipelines/backend.yml

Update gherkin to 9.2.0
  build.sbt
Due: .azure-pipelines/backend.yml

Update cucumber-junit, ... to 5.1.0
  build.sbt
Due: .azure-pipelines/backend.yml

Update cucumber-junit, ... to 5.1.1
  build.sbt
Due: .azure-pipelines/backend.yml

Update dependency puppeteer to v2.1.0
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update dependency @types/jasmine to v3.5.2
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update cucumber-junit, ... to 5.1.2
  build.sbt
Due: .azure-pipelines/backend.yml

All services are now singleton Add steps to represent swagger.json Add future to handle the call to OpenApi resources Change implementation to handle depth Add test
  app/controllers/PageController.scala
  app/controllers/ProjectController.scala
  app/models/OpenApi.scala
  app/services/FeatureService.scala
  app/services/GitService.scala
  app/services/MenuService.scala
  app/services/PageService.scala
  app/services/ProjectService.scala
  app/services/clients/OpenApiClient.scala
  app/services/clients/ReplicaClient.scala
  build.sbt
  local-conf/application.conf
  test/features/documentation/page/show_a_page_with_openApiModule.feature
  test/features/synchronization/store_computed_pages_in_cache.feature
  test/repositories/PageRepositoryTest.scala
  test/services/PageServiceTest.scala
  test/steps/CommonSteps.scala
  test/steps/GetFeaturesSteps.scala
  test/steps/StoreDirectoryAndPagesSteps.scala
Due: .azure-pipelines/backend.yml

add documentation for OpenApi module
  documentation/Write/Write.md
Due: none

Update dependency protractor to v5.4.3
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update dependency @types/node to v12.12.26
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

change documentation for openApi module change implementation of the open api Component to use mat-table and handle a deep > 2
  documentation/Write/Write.md
  frontend/src/app/_models/openApi.ts
  frontend/src/app/output/page-content/open-api-model/open-api-model.component.html
  frontend/src/app/output/page-content/open-api-model/open-api-model.component.scss
  frontend/src/app/output/page-content/open-api-model/open-api-model.component.spec.ts
  frontend/src/app/output/page-content/open-api-model/open-api-model.component.ts
Due: .azure-pipelines/frontend.yml

Update dependency @types/chai to v4.2.8
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update angularcli monorepo
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

change documentation for openApi module for testing Add handling of required fields add label to module add default value of openApiUrl
  app/controllers/PageController.scala
  app/controllers/ProjectController.scala
  app/controllers/dto/PageDTO.scala
  app/models/OpenApi.scala
  app/repositories/PageRepository.scala
  app/services/PageService.scala
  app/services/clients/OpenApiClient.scala
  build.sbt
  documentation/Write/Write.md
  frontend/src/app/_models/open-api.ts
  frontend/src/app/_models/page.ts
  frontend/src/app/output/page-content/open-api-model/open-api-model.component.html
  frontend/src/app/output/page-content/open-api-model/open-api-model.component.scss
  frontend/src/app/output/page-content/open-api-model/open-api-model.component.spec.ts
  frontend/src/app/output/page-content/open-api-model/open-api-model.component.ts
  frontend/src/app/output/page-content/page-content.component.scss
  frontend/src/app/output/page-content/page-content.component.spec.ts
  test/features/documentation/page/show_a_page_with_openApiModule.feature
  test/services/clients/OpenApiClientTest.scala
  test/steps/StoreDirectoryAndPagesSteps.scala
Due: .azure-pipelines/backend.yml, .azure-pipelines/frontend.yml

Update cucumber-junit, ... to 5.1.3
  build.sbt
Due: .azure-pipelines/backend.yml

Update dependency @types/cucumber to v6.0.1
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml
