Repository KelkooGroup/theGardener: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/backend.yml, .azure-pipelines/frontend.yml

.azure-pipelines/backend.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: CacheBeta@1
    inputs:
      key: sbt | $(Agent.OS) | project/build.properties
      path: /home/vsts/.sbt
    displayName: Sbt build cache
  - task: CacheBeta@1
    inputs:
      key: ivy2 | $(Agent.OS) | build.sbt | project/plugins.sbt
      path: /home/vsts/.ivy2
  ...

.azure-pipelines/frontend.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: NodeTool@0
    inputs:
      versionSpec: 10.x
    displayName: Install Node.js
  - task: CacheBeta@0
    inputs:
      key: npm | $(Agent.OS) | frontend/package-lock.json
      path: frontend/node_modules
    displayName: Cache npm
  ...

improve documentation
  documentation/Admin/Configure.md
Due: none

Update dependency @types/lodash to v4.14.150
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update dependency @types/node to v12.12.37
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update dependency jasmine-spec-reporter to v5.0.2
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

improve documentation
  documentation/Admin/Configure.md
  documentation/Contribute/BuildDockerImage.md
  documentation/Contribute/Develop.md
  documentation/Contribute/Overview.md
  documentation/assets/images/src/theGardener_entities.graphml
  documentation/assets/images/theGardener_configure_hierarchy.png
  documentation/assets/images/theGardener_entities.png
  documentation/assets/images/theGardener_hierarchy_projects.png
  documentation/global/documentation/Overview.md
Due: none

improve documentation
  documentation/Admin/Configure.md
  documentation/assets/images/theGardener_hierarchy_projects.png
  documentation/global/documentation/LetsGetStarted.md
Due: none

improve documentation
  documentation/Write/Improve.md
  documentation/Write/Start.md
Due: none

update documentation
  documentation/Admin/Configure.md
Due: none

Update build.sbt
  build.sbt
Due: .azure-pipelines/backend.yml

Update cucumber-junit, ... to 5.7.0
  build.sbt
Due: .azure-pipelines/backend.yml

Update cucumber-scala to 5.6.0
  build.sbt
Due: .azure-pipelines/backend.yml

synchronize projects with the same git repo
  app/controllers/AdminController.scala
  app/models/Project.scala
  app/repositories/ProjectRepository.scala
  app/services/PageService.scala
  app/services/ProjectService.scala
  conf/routes
  test/features/administration/operation.feature
Due: .azure-pipelines/backend.yml

database settings and index
  app/services/ProjectService.scala
  app/utils/DurationUtil.scala
  conf/evolutions/default/5.sql
  local-conf/application.conf
  local-conf/logback.xml
Due: .azure-pipelines/backend.yml

change 5.sql
  conf/evolutions/default/5.sql
  frontend/package-lock.json
  frontend/src/app/output/page-content/open-api-end-points/open-api-end-points.component.ts
Due: .azure-pipelines/backend.yml, .azure-pipelines/frontend.yml

change timeout of openApiClient
  app/services/clients/OpenApiClient.scala
Due: .azure-pipelines/backend.yml

fix tests
  app/controllers/AdminController.scala
  app/services/PageService.scala
  app/services/ProjectService.scala
  test/features/administration/operation.feature
Due: .azure-pipelines/backend.yml

WIP
  app/models/IndexPage.scala
  app/services/PageService.scala
  build.sbt
  test/features/search/search_through_name_pages.feature
Due: .azure-pipelines/backend.yml

merge synchronize same git repo, index, thread pool, test fix
  app/services/ProjectService.scala
  frontend/package-lock.json
Due: .azure-pipelines/backend.yml, .azure-pipelines/frontend.yml

unique stable branch is displayed in the url as '_'
  conf/evolutions/default/5.sql
  frontend/src/app/_services/menu.service.spec.ts
  frontend/src/app/_services/menu.service.ts
  frontend/src/app/_services/route.service.ts
  frontend/src/stylesheets/_colors.scss
Due: .azure-pipelines/backend.yml, .azure-pipelines/frontend.yml

add anchor in internal links
  documentation/Changelog.md
  documentation/Write/Improve.md
  frontend/src/app/_services/menu.service.spec.ts
  frontend/src/app/internal-link.pipe.spec.ts
  frontend/src/app/internal-link.pipe.ts
Due: .azure-pipelines/frontend.yml

synch documentation
  documentation/Contribute/BuildDockerImage.md
  documentation/Contribute/Develop.md
  documentation/Contribute/Overview.md
  documentation/Write/Basics.md
  documentation/Write/Gherkin.md
  documentation/Write/OpenApi.md
  documentation/Write/thegardener.json
  documentation/assets/images/theGardener_project_roles_reader_writer.png
Due: none

synch with master
  frontend/src/app/output/page-content/open-api-end-points/open-api-end-points.component.ts
  frontend/src/polyfills.ts
Due: .azure-pipelines/frontend.yml

Add a ./ in internal links
  documentation/Changelog.md
Due: none

improve relative path links
  documentation/Write/Improve.md
  frontend/src/app/_services/route.service.spec.ts
  frontend/src/app/_services/route.service.ts
  frontend/src/app/internal-link.pipe.spec.ts
  frontend/src/app/internal-link.pipe.ts
Due: .azure-pipelines/frontend.yml

changelog
  app/services/ProjectService.scala
  documentation/Changelog.md
Due: .azure-pipelines/backend.yml

changelog
  documentation/Changelog.md
Due: none

[ci-skip]prepare release theGardener-1.2.3
  pom.xml
Due: none

[ci-skip]prepare for next development iteration
  pom.xml
Due: none

Update dependency protractor to v5.4.4
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update dependency @types/node to v12.12.38
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update dependency swagger-ui-dist to v3.25.1
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

add logger to test the route
  app/services/clients/OpenApiClient.scala
  frontend/package-lock.json
Due: .azure-pipelines/backend.yml, .azure-pipelines/frontend.yml

[ci-skip]prepare release theGardener-1.2.4
  pom.xml
Due: none

Path conditions:
  .azure-pipelines/backend.yml: any of: .azure-pipelines/backend.yml, app, conf, local-conf, project, public, test, build.sbt, scalastyle-config.xml, sonar-project.properties, version.sbt
  .azure-pipelines/frontend.yml: any of: .azure-pipelines/frontend.yml, frontend
