Repository KelkooGroup/theGardener: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/backend.yml, .azure-pipelines/frontend.yml

.azure-pipelines/backend.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: CacheBeta@1
    inputs:
      key: sbt | $(Agent.OS) | project/build.properties
      path: /home/vsts/.sbt
    displayName: Sbt build cache
  - task: CacheBeta@1
    inputs:
      key: ivy2 | $(Agent.OS) | build.sbt | project/plugins.sbt
      path: /home/vsts/.ivy2
  ...

.azure-pipelines/frontend.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: NodeTool@0
    inputs:
      versionSpec: 10.x
    displayName: Install Node.js
  - task: CacheBeta@0
    inputs:
      key: npm | $(Agent.OS) | frontend/package-lock.json
      path: frontend/node_modules
    displayName: Cache npm
  ...

Update cucumber-scala to 6.1.1
  build.sbt
Due: .azure-pipelines/backend.yml

Update dependency karma-jasmine to v3.3.1
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update dependency ngx-markdown to v9.1.1
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

fix #705 Relative links to children directories do not work
  documentation/Changelog.md
  frontend/src/app/_services/route.service.spec.ts
  frontend/src/app/_services/route.service.ts
  frontend/src/app/internal-link.pipe.spec.ts
Due: .azure-pipelines/frontend.yml

shortcuts
  app/controllers/GherkinController.scala
  app/controllers/HierarchyController.scala
  app/models/HierarchyNode.scala
  app/models/Menu.scala
  app/repositories/HierarchyRepository.scala
  app/services/HierarchyService.scala
  app/services/MenuService.scala
  conf/evolutions/default/6.sql
  test/features/administration/hierarchy/define_hierarchy.feature
  test/features/navigation/provide_menu.feature
  test/steps/DefineHierarchySteps.scala
Due: .azure-pipelines/backend.yml

Update org.eclipse.jgit to 5.8.0.202006091008-r
  build.sbt
Due: .azure-pipelines/backend.yml

Update cucumber-junit, ... to 6.1.2
  build.sbt
Due: .azure-pipelines/backend.yml

Update cucumber-scala to 6.1.2
  build.sbt
Due: .azure-pipelines/backend.yml

Update dependency @types/jasmine to v3.5.11
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update sbt to 1.3.13
  project/build.properties
Due: .azure-pipelines/backend.yml

Update dependency @types/lodash to v4.14.157
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update dependency node-sass to v4.14.1
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update gherkin to 14.0.0
  build.sbt
Due: .azure-pipelines/backend.yml

Update gherkin to 14.0.1
  build.sbt
Due: .azure-pipelines/backend.yml

Handle mobile display
  frontend/src/app/_components/page/footer/footer.component.scss
  frontend/src/app/_components/page/header/header.component.html
  frontend/src/app/_components/page/header/header.component.scss
  frontend/src/app/_components/page/header/header.component.spec.ts
  frontend/src/app/_components/page/header/header.component.ts
  frontend/src/app/_services/menu.service.ts
  frontend/src/app/_services/mobile-menu-helper.service.spec.ts
  frontend/src/app/_services/mobile-menu-helper.service.ts
  frontend/src/app/app.component.scss
  frontend/src/app/app.module.ts
  frontend/src/app/output/navigate/navigate-content/navigate-content.component.html
  frontend/src/app/output/navigate/navigate-content/navigate-content.component.scss
  frontend/src/app/output/navigate/navigate-content/navigate-content.component.spec.ts
  frontend/src/app/output/navigate/navigate-content/navigate-content.component.ts
  frontend/src/app/output/navigate/navigate-menu/navigate-menu-item/navigate-menu-item.component.html
  frontend/src/app/output/navigate/navigate-menu/navigate-menu-item/navigate-menu-item.component.ts
  frontend/src/app/output/navigate/navigate-menu/navigate-menu.component.html
  frontend/src/app/output/navigate/navigate-mobile-menu/navigate-mobile-menu.component.html
  frontend/src/app/output/navigate/navigate-mobile-menu/navigate-mobile-menu.component.scss
  frontend/src/app/output/navigate/navigate-mobile-menu/navigate-mobile-menu.component.spec.ts
  frontend/src/app/output/navigate/navigate-mobile-menu/navigate-mobile-menu.component.ts
  frontend/src/app/output/navigate/navigate-page.component.html
  frontend/src/app/output/navigate/navigate-page.component.scss
  frontend/src/app/output/page-content/page-content.component.html
  frontend/src/app/output/page-content/page-content.component.scss
  frontend/src/app/output/page-content/page-content.component.spec.ts
Due: .azure-pipelines/frontend.yml

search index is full and the route is working
  app/controllers/PageController.scala
  app/models/IndexPage.scala
  app/models/Page.scala
  app/services/PageService.scala
  conf/routes
  test/features/search/search_through_name_pages.feature
  test/services/PageServiceTest.scala
  test/steps/CommonSteps.scala
Due: .azure-pipelines/backend.yml

Update cucumber-junit, ... to 6.2.0
  build.sbt
Due: .azure-pipelines/backend.yml

some refactoring, comments and one scenario working on Search
  app/services/PageService.scala
  test/features/search/search_through_name_pages.feature
  test/services/PageServiceTest.scala
  test/steps/CommonSteps.scala
Due: .azure-pipelines/backend.yml

Search scenario working fine now
  app/services/PageService.scala
  test/features/search/search_through_name_pages.feature
  test/steps/CommonSteps.scala
Due: .azure-pipelines/backend.yml

Update cucumber-scala to 6.2.0
  build.sbt
Due: .azure-pipelines/backend.yml

Update cucumber-junit, ... to 6.2.1
  build.sbt
Due: .azure-pipelines/backend.yml

Update cucumber-scala to 6.2.1
  build.sbt
Due: .azure-pipelines/backend.yml

Update cucumber-junit, ... to 6.2.2
  build.sbt
Due: .azure-pipelines/backend.yml

Update cucumber-scala to 6.2.2
  build.sbt
Due: .azure-pipelines/backend.yml

fix: frontend/package.json & frontend/package-lock.json to reduce vulnerabilities
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Trigger CI on PR
  .github/workflows/backend.yml
  .github/workflows/frontend.yml
Due: none

Avoid double trigger on PR+Push
  .github/workflows/backend.yml
  .github/workflows/frontend.yml
Due: none

Update badge on README
  README.md
Due: none

Upgrade to Cucumber 6.x
  build.sbt
  test/OnGoingBDDTest.scala
  test/ValidBDDTest.scala
  test/features/administration/projects/register_a_project.feature
  test/features/documentation/page/show_a_page_with_complex_markdown.feature
  test/features/documentation/page/show_a_page_with_external_page.feature
  test/features/documentation/page/show_a_page_with_openApiModule.feature
  test/features/documentation/page/show_a_page_with_scenarios.feature
  test/features/synchronization/store_features.feature
  test/steps/CommonSteps.scala
  test/steps/DefineHierarchySteps.scala
  test/steps/GetFeaturesSteps.scala
  test/steps/RegisterProjectSteps.scala
  test/steps/StoreDirectoryAndPagesSteps.scala
  test/steps/SynchronizationSteps.scala
  test/steps/package.scala
Due: .azure-pipelines/backend.yml

Take benefit of implicits Scala mapping provided by Cucumber
  test/steps/CommonSteps.scala
  test/steps/DefineHierarchySteps.scala
  test/steps/RegisterProjectSteps.scala
  test/steps/package.scala
Due: .azure-pipelines/backend.yml

Update dependency mysql:mysql-connector-java to v8.0.20
  build.sbt
Due: .azure-pipelines/backend.yml

Update jackson-module-scala to 2.10.4
  build.sbt
Due: .azure-pipelines/backend.yml

Update scalatestplus-play to 5.1.0
  build.sbt
Due: .azure-pipelines/backend.yml

Update dependency @types/chai-as-promised to v7.1.3
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update dependency com.fasterxml.jackson.module:jackson-module-scala to v2.10.4
  build.sbt
Due: .azure-pipelines/backend.yml

Path conditions:
  .azure-pipelines/backend.yml: any of: .azure-pipelines/backend.yml, app, conf, local-conf, project, public, test, build.sbt, scalastyle-config.xml, sonar-project.properties, version.sbt
  .azure-pipelines/frontend.yml: any of: .azure-pipelines/frontend.yml, frontend
