Repository KelkooGroup/theGardener: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/backend.yml, .azure-pipelines/frontend.yml

.azure-pipelines/backend.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - script: 'ls -la /home/vsts/.sbt/
  
      ls -la .sbt
  
      ls -la .ivy2
  
      ls -la project/target
  
      ls -la /opt/sonarscanner
  
      ls -la target/test-reports
  
      ls -la target/scalastyle-result.xml
  
  ...

.azure-pipelines/frontend.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: NodeTool@0
    inputs:
      versionSpec: 10.x
    displayName: Install Node.js
  - script: 'npm install -g @angular/cli
  
      npm install
  
      cd ./node_modules/protractor && npm i webdriver-manager@latest && cd ../..
  
      npm run pree2e
  
      '
  ...

Update dependency rxjs to v6.5.3
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update dependency rxjs-compat to v6.5.3
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update dependency @types/chai to v4.2.1
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update angularcli monorepo
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update angular monorepo to v8.2.5
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Fix redirection when root hierarchy node selected in URL
  frontend/src/app/_components/page/header/header.component.ts
Due: .azure-pipelines/frontend.yml

UI styling
  frontend/src/app/_components/page/footer/footer.component.scss
  frontend/src/app/_components/page/header/header.component.html
  frontend/src/app/_components/page/header/header.component.scss
  frontend/src/app/_components/page/header/header.component.spec.ts
  frontend/src/app/_services/menu.service.ts
  frontend/src/app/app.component.html
  frontend/src/app/app.component.ts
  frontend/src/app/output/navigate/navigate-content/navigate-content.component.scss
  frontend/src/app/output/navigate/navigate-menu/navigate-menu-item/navigate-menu-item.component.html
  frontend/src/app/output/navigate/navigate-menu/navigate-menu-item/navigate-menu-item.component.scss
  frontend/src/app/output/navigate/navigate-menu/navigate-menu-item/navigate-menu-item.component.ts
  frontend/src/app/output/navigate/navigate-page.component.scss
  frontend/src/app/output/page-content/page-content.component.scss
  frontend/src/stylesheets/_backoffice.scss
Due: .azure-pipelines/frontend.yml

Do not show tabs if only one page
  frontend/src/app/output/navigate/navigate-content/navigate-content.component.html
Due: .azure-pipelines/frontend.yml

Style mat-tab-link
  frontend/src/app/output/navigate/navigate-content/navigate-content.component.scss
  frontend/src/stylesheets/_backoffice.scss
Due: .azure-pipelines/frontend.yml

Fix navigation bug & styling
  frontend/src/app/_components/page/header/header.component.spec.ts
  frontend/src/app/_services/menu.service.spec.ts
  frontend/src/app/_services/menu.service.ts
  frontend/src/app/_testUtils/activated-route-stub.spec.ts
  frontend/src/app/output/gherkin/gherkin.component.ts
  frontend/src/app/output/navigate/navigate-content/navigate-content.component.ts
  frontend/src/app/output/navigate/navigate-menu/navigate-menu-item/navigate-menu-item.component.html
  frontend/src/app/output/navigate/navigate-menu/navigate-menu-item/navigate-menu-item.component.spec.ts
  frontend/src/app/output/page-content/page-content.component.ts
Due: .azure-pipelines/frontend.yml

Fix lint issues
  frontend/src/app/_components/page/header/header.component.scss
  frontend/src/app/output/page-content/page-content.component.html
Due: .azure-pipelines/frontend.yml

Remove useless animation
  frontend/src/app/output/navigate/navigate-menu/navigate-menu-item/navigate-menu-item.component.ts
Due: .azure-pipelines/frontend.yml

clean logs
  frontend/src/app/_services/page.service.ts
  frontend/src/app/output/navigate/navigate-content/navigate-content.component.ts
  frontend/src/app/output/page-content/page-content.component.ts
Due: .azure-pipelines/frontend.yml

Fix page meta regex
  app/services/PageService.scala
  test/features/documentation/page/show_a_page.feature
Due: .azure-pipelines/backend.yml

Add notification in case of error
  frontend/src/app/output/navigate/navigate-content/navigate-content.component.ts
  frontend/src/app/output/page-content/page-content.component.ts
Due: .azure-pipelines/frontend.yml

Keep URL clean
  frontend/src/app/_components/page/header/header.component.html
  frontend/src/app/_services/menu.service.spec.ts
  frontend/src/app/_services/menu.service.ts
  frontend/src/app/_services/page.service.spec.ts
  frontend/src/app/_services/page.service.ts
  frontend/src/app/_services/url-cleaner.service.spec.ts
  frontend/src/app/_services/url-cleaner.service.ts
  frontend/src/app/output/navigate/navigate-content/navigate-content.component.ts
  frontend/src/app/output/page-content/page-content.component.ts
Due: .azure-pipelines/frontend.yml

Restore error notifications
  frontend/src/app/output/navigate/navigate-content/navigate-content.component.ts
  frontend/src/app/output/page-content/page-content.component.ts
Due: .azure-pipelines/frontend.yml

Fix #246: clean tabs when changing page
  frontend/src/app/output/navigate/navigate-content/navigate-content.component.spec.ts
  frontend/src/app/output/navigate/navigate-content/navigate-content.component.ts
  frontend/src/app/output/page-content/page-content.component.spec.ts
Due: .azure-pipelines/frontend.yml

Fix header hover
  frontend/src/app/_components/page/header/header.component.html
  frontend/src/app/_components/page/header/header.component.scss
  frontend/src/app/_services/menu.service.ts
Due: .azure-pipelines/frontend.yml

Update dependency net.logstash.logback:logstash-logback-encoder to v6.2
  build.sbt
Due: .azure-pipelines/backend.yml

Update dependency io.cucumber:gherkin to v5.2.0
  build.sbt
Due: .azure-pipelines/backend.yml

Update dependency io.cucumber:gherkin to v7
  build.sbt
Due: .azure-pipelines/backend.yml

Update dependency @types/chai to v4.2.2
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Update dependency tslint to v5.20.0
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

do not allow access to assets not under the documentation dir
  app/controllers/PageController.scala
  test/features/documentation/page/show_images.feature
  test/steps/CommonSteps.scala
Due: .azure-pipelines/backend.yml

do not allow access to assets not under the documentation dir (#255)
  app/controllers/PageController.scala
  test/features/documentation/page/show_images.feature
Due: .azure-pipelines/backend.yml

Create FUNDING.yml
  .github/FUNDING.yml
Due: .azure-pipelines/backend.yml

update documentation
  documentation/assets/images/theGardener_hierarchy_projects.png
  documentation/assets/images/theGardener_role_admin.png
  documentation/assets/images/theGardener_role_contributor.png
  documentation/assets/images/theGardener_role_ops.png
  documentation/assets/images/theGardener_role_reader.png
  documentation/assets/images/theGardener_role_writer.png
  documentation/features/documentation.md
  documentation/features/navigation.md
  documentation/features/synchronization.md
  documentation/guides/configure.md
  documentation/guides/contribute.md
  documentation/guides/install.md
  documentation/guides/read.md
  documentation/guides/roles.md
  documentation/guides/write.md
Due: .azure-pipelines/backend.yml

Update dependency @types/node to v12.7.5
  frontend/package-lock.json
  frontend/package.json
Due: .azure-pipelines/frontend.yml

Kelkoo colors
  build.sbt
  frontend/src/app/_components/page/footer/footer.component.scss
  frontend/src/environments/environment.kelkoo.ts
  frontend/src/stylesheets/_colors-kelkoo.scss
Due: .azure-pipelines/backend.yml, .azure-pipelines/frontend.yml

Fix branch select style
  frontend/src/app/output/navigate/navigate-menu/navigate-menu-item/navigate-menu-item.component.html
  frontend/src/app/output/navigate/navigate-menu/navigate-menu-item/navigate-menu-item.component.scss
Due: .azure-pipelines/frontend.yml

Path conditions:
  .azure-pipelines/backend.yml: any file but: frontend, .azure-pipelines/frontend.yml, doc
  .azure-pipelines/frontend.yml: any of: frontend, .azure-pipelines/frontend.yml
